<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 17/08/2020
 * Time: 15:04
 */

    echo $this->headLink()
    ->appendStylesheet($this->basePath('assets/plugins/summernote/summernote.css'))
    ->appendStylesheet($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.css'))
;

?>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon2-contract kt-font-size-1_8-desktop color-cyan"></i>&nbsp;&nbsp;
			</span>
                    <h1 class="kt-portlet__head-title color-cyan font-size-1_8" style="">
                        Conditions générales d'utilisation
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-brand btn-icon-sm" data-target="#kt_modal_add_rubrique" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-contract"></i><span id="text_add_desktop"> Nouvelle rubrique</span>
                            </button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary btn-icon-sm" data-target="#kt_summernote_modal" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-edit"></i><span>Ajouter du contenu</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body">
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row padding-l-0 padding-r-0 table-responsive clearfix width-100" style="margin: 0 auto !important">
                    <table class="table table-bordered table-hover table-checkable kt-datatable" id="kt_table_en_tete">

                    </table>
                </div>

                <div class="row padding-l-0 padding-r-0 table-responsive clearfix width-100 margin-top-30">
                    <div class="col-md-12 margin-30-auto">
                        <h3 class="text-center text-decoration-underline">Liste des contenus</h3>
                    </div>
                    <table class="table table-bordered table-hover kt-datatable" id="kt_table_contenus">

                    </table>
                </div>


                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>



<!--begin::Modal-->
<div class="modal fade" id="kt_modal_add_rubrique" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_add_rubrique_form">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Ajouter une rubrique</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-12">
                            <label>Titre/Nom de la rubrique</label>
                            <input required type="text" class="form-control" name="rubrique_name" placeholder="Nom de la rubrique"/>
                        </div>
                        <div class="col-md-12 margin-top-20">
                            <label>Choisir l'ordre d'apparition</label>
                            <select required name="rubrique_order" id="kt_select_rubric_order" class="form-control kt-input kt-selectpicker">
                                <option>Choisir l'ordre d'apparition</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_cancel_rubrique"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="btn_add_rubrique"  class="btn btn-primary">Ajouter&nbsp;<i class="flaticon2-contract font-size-1_0"></i></button>
                    <!--<input type="hidden" id="hidden_update_id_devise" name="hidden_update_id_devise"/>-->
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_add_contenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form method="post" onsubmit="" id="kt_update_logo_devise_form" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier le logo de la devise</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-top-15" style="margin: 0 auto !important;" id="container_previous">
                        <input type="hidden" name="hidden_id_devise_for_logo_update" id="hidden_id_devise_for_logo_update"/>
                    </div>
                    <div class="col-md-12 margin-top-10 kt-padding-t-15 text-center" style="margin: 0 auto !important">
                        <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_user_avatar_3">
                            <div class="kt-avatar__holder"></div>
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change de logo">
                                <i class="fa fa-pen"></i>
                                <input type="file" required name="logo_devise" id="logo_devise">
                            </label>
                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                              <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_disable_update_logo" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button"  id="btn_update_logo" class="btn btn-primary">Modifier&nbsp;<i class="flaticon-edit"></i> </button>
                    <!--<input type="hidden" id="hidden_update_id_devise" name="hidden_update_id_devise"/>-->
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->

<!--begin::Modal-->
<div class="modal fade" id="kt_summernote_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Ajout de contenu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>
            <form id="kt_form_add_content_to_rubric" class="kt-form kt-form--fit kt-form--label-left">
                <div class="modal-body">
                    <div class="form-group row kt-margin-t-10">
                        <label class="col-form-label col-lg-12 col-sm-12">Choisir la rubrique</label>
                        <div class="form-group col-md-12">
                            <select required name="select_load_rubric" class="form-control width-100" id="kt_select_load_rubric">
                                <option value="">Choisir une rubrique</option>
                                <?php
                                    if(isset($loadRubric) && !empty($loadRubric)):
                                        foreach($loadRubric as $keys=>$values):
                                ?>
                                    <option value="<?= $values['id_en_tete'] ?>">
                                            <?= $values['name_en_tete'] ?>
                                    </option>

                                <?php
                                       endforeach;
                                    endif;
                                ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 kt-margin-t-10">
                        <label for="terms_content" class="col-form-label col-lg-12 col-sm-12">Contenu de la rubrique (<b class="text-danger font-size-1_0">Veuillez vous appliquer à bien formater le texte/contenu. Les clients doivent clairement comprendre les conditions d'utilisation de la plateforme.</b>)</label>

                        <textarea id="terms_content" class="summernote" required name="terms_content" rows="10" cols="80"></textarea>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-brand">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_update_rubrique" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_update_rubrique_form">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier la rubrique</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-12">
                            <label>Titre/Nom de la rubrique</label>
                            <input required type="text" class="form-control" id="update_rubrique" name="rubrique_name" placeholder="Nom de la rubrique"/>
                        </div>
                        <div class="col-md-12 margin-top-20">
                            <label for="ed_kt_select_rubric_order">Choisir l'ordre d'apparition</label>
                            <select required name="rubrique_order" id="ed_kt_select_rubric_order" class="form-control kt-input kt-selectpicker">
                                <option value="">Choisir l'ordre d'apparition</option>
                                <?php
                                    if(isset($getOrders) && !empty($getOrders)):
                                        foreach($getOrders as $elements):
                                ?>

                                  <option value="<?= intval($elements['order']) ?>"><?= intval($elements['order']) ?></option>

                                <?php
                                         endforeach;
                                   endif;
                                ?>

                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_update_cancel_rubrique"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="btn_update_rubrique"  class="btn btn-primary">Modifier</button>
                    <!--<input type="hidden" id="hidden_update_id_devise" name="hidden_update_id_devise"/>-->
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->

<!--begin::Modal-->
<div class="modal fade" id="kt_modal_update_contenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_update_contenu_form">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier la rubrique</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-12 margin-top-20">
                            <label for="kt_update_select_load_rubric"></label>
                            <div class="form-group col-md-12">
                                <select required name="select_load_rubric" class="form-control width-100" id="kt_update_select_load_rubric">
                                    <option value="">Choisir une rubrique</option>
                                    <?php
                                    if(isset($loadRubric) && !empty($loadRubric)):
                                        foreach($loadRubric as $keys=>$values):
                                            ?>
                                            <option value="<?= $values['id_en_tete'] ?>">
                                                <?= $values['name_en_tete'] ?>
                                            </option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-12">

                            <label for="terms_update_content">
                                Libelle du contenu
                            </label>
                            <textarea id="terms_update_content" class="summernote" required name="terms_content" rows="10" cols="80"></textarea>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_update_cancel_contenu"  class="btn btn-secondary" data-dismiss="modal">Annuler&nbsp;</button>
                    <button type="submit" id="btn_update_contenu"  class="btn btn-primary">Modifier&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->
