<link rel="stylesheet" href="../../../assets/css/pages/error/error-1.css">
<style type="text/css">
    #kt_header_mobile
    {
        display: none !important;
    }
</style>
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(../../../assets/images/error/bg1.jpg)">
        <div class="kt-error-v1__container">
            <h1 class="kt-error-v1__number">404</h1>
            <p class="kt-error-v1__desc">
                OOPS! Une erreur s'est produite. Page non trouvée
            </p>
            <div class="col-md-12 padding-left-40">
                <a href="<?= $this->url('home') ?>" class="btn btn-primary pull-left">
                    <i class="fa fa-home"></i> Accueil
                </a>
            </div>

        </div>
    </div>



</div>

<!-- end:: Page -->



<!-- end::Body -->