<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 16-May-20
 * Time: 12:54 AM
 */

echo $this->headLink()

    ->appendStylesheet('/assets/plugins/datatables/datatables.bundle.css')
    //->appendStylesheet('/assets/pages/messages/custom_style.css')

;
?>
<style type="text/css">
    .container_message:hover
    {
        cursor: pointer !important;
    }
</style>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="flaticon-envelope kt-font-size-1_8-desktop color-cyan"></i>&nbsp;&nbsp;
                    </span>
                    <h2 class="kt-portlet__head-title color-cyan kt-font-size-1_6-desktop" style="">
                        Messages
                    </h2>
                </div>

            </div>

            <div class="kt-portlet__body">
                <!--begin: Search Form -->
                <form class="kt-form kt-form--fit kt-margin-b-20">
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                            <label>Recherche mot clé: Ex: ID transaction </label>
                            <input type="text" placeholder="ID transaction" class="form-control kt-input" data-col-index="0">
                        </div>
                        <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                            <label>Status</label>
                            <select class="form-control kt-input kt-selectpicker" data-col-index="1">
                                <option value="">Choisir un status</option>
                                <option value="0">Non lus</option>
                                <option value="1">Lus</option>
                            </select>
                        </div>

                    </div>



                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-brand--icon" id="kt_search">
						<span>
							<i class="la la-search"></i>
							<span>Rechercher</span>
						</span>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						<span>
							<i class="la la-close"></i>
							<span>Annuler</span>
						</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!--begin: Datatable -->

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                <div class="col-md-12" style="overflow-x: auto !important">

                    <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_messages">
                        <thead>
                            <tr>
                                <th style="width: 25%!important">Objet</th>
                                <th style="width: 30%">Contenu</th>
                                <th style="width: 25% !important">Date</th>
                                <th style="width: 15% !important">Statut</th>

                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Objet</th>
                                <th>Contenu</th>
                                <th>Date</th>
                                <th>Statut</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>

                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>


    <div class="modal fade" id="kt_modal_show_message" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Boite de réception</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="kt_body_message">

                </div>

            </div>
        </div>
    </div>
</div>
