<?php
$title = 'Tableau de Bord';
$this->headTitle($title);
?>

<?php
	/**
	 * Created by PhpStorm.
	 * User: carlos
	 * Date: 13-Apr-20
	 * Time: 11:30 AM
	 */
	
	?>

<style type="text/css">
    @media screen and (max-width: 992px)
    {
        #btn_complete_profil
        {
            float:left !important
        }
        #btn_bon_a_savoir
        {
            float:left !important;
            margin-top:12px !important;
        }
    }
   .card {
    /*background: #fff;*/
    min-height: 80px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    
    padding-left: 0;
    padding-right: 0;
}
   .centre{
       position: absolute;
       left:0;
       right:0;
       margin-top:-10.5px;
               

       
   }
   .carousel{
       position:relative;
       width:100%;
       height:45px;
       text-align: center;
       font-size:20px;
       line-height:45px;

       
   }
   .carousel .pretext{
       position:absolute;
       top:0;
       right:40%;
       height: 15px;
       text-shadow:#5867dd;
       font-size:1.1em;

   }
   .carousel .changeHidden{
       position: absolute;
       top:0;
      /* left: 55%;*/
       text-align:left;
       overflow: hidden;
       font-size:1.2em;

   }
   .carousel .changeHidden .contenant{
       position: relative;
       animation: carousel 12s ease-in-out infinite;
   }
   .carousel .changeHidden .element{
       
           display: block;
           font-weight:700;
           color: #fd27eb;
            font-size:0.7em;

       
   }
   @keyframes carousel{
       0%, 20%{
           transform:translateY(0);}
       25%, 45%{
            transform:translateY(-45px);
           }

          50%, 70%{
            transform:translateY(-90px);
           }
           75%, 95%{
            transform:translateY(-130px);
           }
           100%{
            transform:translateY(-180px);
           }
   }

</style>

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
	<div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: 5px !important">
	
	</div>
	
	

	
	
	<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<!--Begin::Dashboard 6-->
		<!--begin:: Widgets/Stats-->
		<div class="kt-portlet">
			<div class="kt-portlet__body  kt-portlet__body--fit">
				<div class="row row-no-padding row-col-separator-lg">

                    <?php
                     if(isset($codeProfil) && $codeProfil !== null):


                        if(intval($codeProfil) === 2):
                    ?>
                            <div class="col-md-12 kt-padding-10 col-lg-6 col-xl-4">
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">
                                            <a href="<?= $this->url('my-profile',array('action'=>'index')) ?>">
                                                <h4 class="kt-widget24__title font-size-1_5">
                                                    <i class="flaticon-user-ok"></i>&nbsp;Mon Profil
                                                </h4>
                                            </a>
                                            <span class="kt-widget24__desc">

					                         </span>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-brand" style="display: flex !important; flex-wrap: nowrap !important">

                                            <?php
                                                $profilState = false;
                                                $progress_bar_bg = null;
                                                if(isset($user_data) && !empty($user_data)):
                                                    if(($user_data['telephone'] === '' || $user_data['telephone'] === null) || $user_data['profil_complet'] === '0')
                                                    {
                                                        echo "<h4 class='text-warning'>Non complet</h4>&nbsp;<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"24px\" height=\"24px\" viewBox=\"0 0 24 24\" version=\"1.1\" class=\"kt-svg-icon\">
                                                                                            <g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\">
                                                                                                <rect x=\"0\" y=\"0\" width=\"24\" height=\"24\"/>
                                                                                                <path d=\"M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z\" fill=\"#000000\" opacity=\"0.3\"/>
                                                                                                <rect fill=\"#000000\" x=\"11\" y=\"9\" width=\"2\" height=\"7\" rx=\"1\"/>
                                                                                                <rect fill=\"#000000\" x=\"11\" y=\"17\" width=\"2\" height=\"2\" rx=\"1\"/>
                                                                                            </g>
                                                                                        </svg>";
                                                        $progress_bar_bg = "kt-bg-warning";
                                                    }
                                                    else
                                                    {
                                                        echo "<h4 class='text-success'>Complet</h4>&nbsp;
                                                                    <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"24px\" height=\"24px\" viewBox=\"0 0 24 24\" version=\"1.1\" class=\"kt-svg-icon\">
                                                                        <g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\">
                                                                            <rect x=\"0\" y=\"0\" width=\"24\" height=\"24\"/>
                                                                            <circle fill=\"#000000\" opacity=\"0.3\" cx=\"12\" cy=\"12\" r=\"10\"/>
                                                                            <path d=\"M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z\" fill=\"#000000\" fill-rule=\"nonzero\"/>
                                                                        </g>
                                                                    </svg>";
                                                        $profilState = true;

                                                        $progress_bar_bg =  "kt-bg-success";
                                                    }
                                                  endif;
                                            ?>
					                    </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar <?= $progress_bar_bg ?>" role="progressbar" style="width: <?= isset($progress_bar_bg) && $progress_bar_bg=== "kt-bg-warning" ? 85 : 100  ?>%" aria-valuenow="<?= $profilState ? '100' : '80' ?>" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
								<span class="kt-widget24__change">

								</span>
                                        <span class="kt-widget24__number">

					            </span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 kt-padding-10 col-lg-6 col-xl-4">
                                <!--begin::New Orders-->
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">
                                            <a href="<?= $this->url('transactions',array('index')) ?>">
                                                <h3 class="kt-widget24__title font-size-1_5">
                                                 <i class="flaticon-coins"></i>&nbsp;Liste des transactions
                                                </h3>
                                            </a>
                                            <span class="kt-widget24__desc">

					                </span>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-danger font-size-1_1">
                                            <?= isset($transactions) && !empty($transactions) ? count($transactions) : 0 ?>
                                        </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
								<span class="kt-widget24__change">

								</span>
                                        <span class="kt-widget24__number">

					            </span>
                                    </div>
                                </div>
                                <!--end::New Orders-->
                            </div>

                            <div class="col-md-12 kt-padding-10 col-lg-6 col-xl-4">
                                <!--begin::New Users-->
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">
                                            <a href="<?//= $this->url('messages',array('action'=>'messages')) ?>">
                                                <h4 class="kt-widget24__title font-size-1_5">
                                                    <i class="flaticon-envelope"></i>&nbsp;Liste des messages
                                                </h4>
                                            </a>
                                            <span class="kt-widget24__desc">

					                        </span>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-success font-size-1_1">
					                           <?= isset($messages) && !empty($messages) ?  count($messages) : null ?>
					                    </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar kt-bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
                                        <span class="kt-widget24__change">

                                        </span>
                                        <span class="kt-widget24__number">

					                    </span>
                                    </div>
                                </div>
                                <!--end::New Users-->
                            </div>

                    <?php
                       elseif(intval($codeProfil) === 0 || intval($codeProfil) === 1):
                    ?>
                            <div class="col-md-12 col-lg-6 col-xl-3">
                                <!--begin::Total Profit-->
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">

                                           <a href="<?= $this->url('users-management',array('action'=>'index')) ?>">
                                            <h3 class="kt-widget24__title font-size-1_7">
                                                <i class="flaticon-users-1"></i>&nbsp;Liste des utilisateurs
                                            </h3>
                                            <span class="kt-widget24__desc">

					                         </span>

                                           </a>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-brand">
					              <?= isset($listUsers) ? count($listUsers) : 0 ?>
					            </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
								<span class="kt-widget24__change">

								</span>
                                        <span class="kt-widget24__number">

					            </span>
                                    </div>
                                </div>
                                <!--end::Total Profit-->
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-3">
                                <!--begin::New Feedbacks-->
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">

                                          <a href="<?= $this->url('customers-management',array('action'=>'index')) ?>">
                                            <h3 class="kt-widget24__title font-size-1_7">
                                                <i class="flaticon-customer"></i>&nbsp;Liste des clients
                                            </h3>
                                            <span class="kt-widget24__desc">

					                         </span>
                                          </a>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-warning">
							      <?= isset($listCustomers) ? count($listCustomers) : 0 ?>
							    </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
						<span class="kt-widget24__change">

						</span>
                                        <span class="kt-widget24__number">

					    </span>
                                    </div>
                                </div>
                                <!--end::New Feedbacks-->
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-3">
                                <!--begin::New Orders-->
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">
                                           <a href="<?= $this->url('transactions',array('action'=>'index')) ?>">
                                               <h3 class="kt-widget24__title font-size-1_7">
                                                   <i class="flaticon-coins"></i>&nbsp;Liste des transactions
                                               </h3>
                                               <span class="kt-widget24__desc">

					                             </span>
                                           </a>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-danger">
					        <?= isset($transactions) ? count($transactions) : 0 ?>
					    </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
								<span class="kt-widget24__change">

								</span>
                                        <span class="kt-widget24__number">

					            </span>
                                    </div>
                                </div>
                                <!--end::New Orders-->
                            </div>

                            <div class="col-md-12 col-lg-6 col-xl-3">
                                <!--begin::New Users-->
                                <div class="kt-widget24">
                                    <div class="kt-widget24__details">
                                        <div class="kt-widget24__info">
                                            <h3 class="kt-widget24__title font-size-1_7">
                                                <i class="flaticon-envelope"></i>&nbsp;Liste des messages
                                            </h3>
                                            <span class="kt-widget24__desc">

					                        </span>
                                        </div>

                                        <span class="kt-widget24__stats kt-font-success">
					      <?= isset($messages_site) ? count($messages_site) : 0 ?>
					    </span>
                                    </div>

                                    <div class="progress progress--sm">
                                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="kt-widget24__action">
						<span class="kt-widget24__change">

						</span>
                                        <span class="kt-widget24__number">

					    </span>
                                    </div>
                                </div>
                                <!--end::New Users-->
                            </div>


                     <?php
                       else:
                      ?>
                           <div class="col-md-12 col-lg-4 col-xl-4">
                               <!--begin::New Feedbacks-->
                               <div class="kt-widget24">
                                   <div class="kt-widget24__details">
                                       <div class="kt-widget24__info">

                                           <a href="<?= $this->url('customers-management',array('action'=>'index')) ?>">
                                               <h3 class="kt-widget24__title font-size-1_7">
                                                   <i class="flaticon-customer"></i>&nbsp;Liste des clients
                                               </h3>
                                               <span class="kt-widget24__desc">

					                         </span>
                                           </a>
                                       </div>

                                       <span class="kt-widget24__stats kt-font-warning">
							      <?= isset($listCustomers) ? count($listCustomers) : 0 ?>
							    </span>
                                   </div>

                                   <div class="progress progress--sm">
                                       <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>

                                   <div class="kt-widget24__action">
						<span class="kt-widget24__change">

						</span>
                                       <span class="kt-widget24__number">

					    </span>
                                   </div>
                               </div>
                               <!--end::New Feedbacks-->
                           </div>

                           <div class="col-md-12 col-lg-4 col-xl-4">
                               <!--begin::New Orders-->
                               <div class="kt-widget24">
                                   <div class="kt-widget24__details">
                                       <div class="kt-widget24__info">
                                           <a href="<?= $this->url('transactions',array('action'=>'index')) ?>">
                                               <h3 class="kt-widget24__title font-size-1_7">
                                                   <i class="flaticon-coins"></i>&nbsp;Liste des transactions
                                               </h3>
                                               <span class="kt-widget24__desc">

					                             </span>
                                           </a>
                                       </div>

                                       <span class="kt-widget24__stats kt-font-danger">
					        <?= isset($transactions) ? count($transactions) : 0 ?>
					    </span>
                                   </div>

                                   <div class="progress progress--sm">
                                       <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>

                                   <div class="kt-widget24__action">
								<span class="kt-widget24__change">

								</span>
                                       <span class="kt-widget24__number">

					            </span>
                                   </div>
                               </div>
                               <!--end::New Orders-->
                           </div>

                           <div class="col-md-12 col-lg-4 col-xl-4">
                               <!--begin::New Users-->
                               <div class="kt-widget24">
                                   <div class="kt-widget24__details">
                                       <div class="kt-widget24__info">
                                           <h3 class="kt-widget24__title font-size-1_7">
                                               <i class="flaticon-envelope"></i>&nbsp;Liste des messages
                                           </h3>
                                           <span class="kt-widget24__desc">

					                        </span>
                                       </div>

                                       <span class="kt-widget24__stats kt-font-success">
					      <?= isset($messages_site) ? count($messages_site) : 0 ?>
					    </span>
                                   </div>

                                   <div class="progress progress--sm">
                                       <div class="progress-bar kt-bg-success" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>

                                   <div class="kt-widget24__action">
						<span class="kt-widget24__change">

						</span>
                                       <span class="kt-widget24__number">

					    </span>
                                   </div>
                               </div>
                               <!--end::New Users-->
                           </div>
                    <?php
                        endif;
                     endif;
                    ?>

				
				</div>

			</div>
		</div>

        <?php
        if(isset($codeProfil,$user_data) && $codeProfil !== null):


            if(intval($codeProfil) === 2 ):
                if( $user_data['telephone'] === null || $user_data['profil_complet'] === '0'):
                ?>

                  

                 <?php
                    else:
                 ?>

                 
                            <div class="card">
            <div class="body">
                     <h1 class="ml5">
                       <span class="text-wrapper">
                                               <span class="line line1"></span>
                                                 <span class="letters letters-left">INFOS FLASH</span>
                                                   <span class="">&#128152;</span>

                                                   <span class="letters letters-right">POUR LE BENIN</span>
                                                   <span class="line line2"></span>
                                             </span>
                        </h1>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
                        <div class="alert bg-teal">

                            <marquee scrolldelay="100"><h1 style="color:#22b8fd;"><kbd><tt><em><code>
                                                    <strong>
                                    
                                       VENDS DESORMAIS TES DOLLARS CRYPTOS A 550.FCFA
                                                    </strong>
                                      </code></em></tt></kbd></h1>
                  </marquee>
                </div>
           </div>
    </div>
                                        


                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <?php
                  endif;
                endif;
             endif;
            ?>
		<!--end:: Widgets/Stats-->
		<div class="row row-no-padding row-col-separator-lg">
                            <div class="kt-portlet kt-iconbox kt-iconbox--brand kt-iconbox--animate-slower">
                                <div class="kt-portlet__body">
                                    <div class="kt-iconbox__body">
                                        <div class="kt-iconbox__icon col-md-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                    <rect fill="#000000" opacity="0.3" x="2" y="2" width="10" height="12" rx="2"></rect>
                                                    <path d="M4,6 L20,6 C21.1045695,6 22,6.8954305 22,8 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,8 C2,6.8954305 2.8954305,6 4,6 Z M18,16 C19.1045695,16 20,15.1045695 20,14 C20,12.8954305 19.1045695,12 18,12 C16.8954305,12 16,12.8954305 16,14 C16,15.1045695 16.8954305,16 18,16 Z" fill="#000000"></path>
                                                </g>
                                            </svg>

                                        </div>
                                        <div class="kt-iconbox__desc col-md-10">
                                        

                                            <div class="kt-iconbox__content">
                                                <div class="row margin-0-auto width-100-pourcent">

                                                    <div class="btn-group-lg">

                                                        <a class="btn btn-elevate btn-square btn-primary btn-elevate-air btn-lg width-100-pourcent pull-right" href="<?= $this->url('customer',['action'=>'index']) ?>">
                                                            Convertir&nbsp;<i class="flaticon2-right-arrow pull-right"></i>
                                                        </a>
                
                                                    </div>
                                         
                                              </div>
                                           
                                           </div>

                                        </div>
                                                </div>
                                            </div>


                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		<!--End::Dashboard 6-->
	</div>
	<!-- end:: Content -->
</div>




<div class="modal fade" id="modal_bon_a_savoir"  role="dialog"  aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" id="kt-form_purchase_transaction">
                <div class="modal-header">
                  <h3 class="modal-title text-info" id="svg_img_label_Arrow-rightsvg">
                      Bon à savoir&nbsp;<i class="flaticon-questions-circular-button"></i>
                  </h3>

                </div>
                <div class="modal-body">
                    <div class="row margin-0-auto">
                        <h5 class="text-primary">Compléter son profil</h5>
                        <div class="col-md-12">
                            <p class="font-size-1_1-em text-align-justify-all">
                                Pour complèter votre profil vous devez :

                                <ul style="font-size:1.1em !important; list-style-type: square !important; display: block; text-align: justify-all !important; line-height: 30px;">
                                    <li> En premier lieu renseigner vos informations personnelles comme votre numéro de téléphone, votre adresse etc...</li>
                                    <li> Ensuite nous envoyer une demande de validation d'identité qui sera traitée avec le plus grand soin.<br>
                                         Une fois vos informations traitées et validées pour pourrez alors bénéficier pleinement des fonctionnalités de la plateforme.
                                    </li>
                                </ul>
                                <br>
                                <b class="text-decoration-underline text-danger">NB:</b><b> Vous pouvez directement accéder à la procédure d'envoie de la demande à partir de ce lien:&nbsp;<a class="text-decoration-underline" href="<?= $this->url('my-profile',['action'=>'validate-information']) ?>">Cliquer ici</a> </b>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" data-dismiss="modal" class="btn btn-secondary btn-default btn-square btn-md pull-right">
                        Fermer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


</div>