<?php
	/**
	 * Created by PhpStorm.
	 * User: carlos
	 * Date: 13-Apr-20
	 * Time: 10:25 PM
	 */
	
	echo $this->headLink()
		->appendStylesheet('/assets/pages/currencyManagement/custom_style.css')
        ->appendStylesheet('/assets/css/custom_media_style.css')
    
    ;
	
	?>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
	<div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -40px !important">
	
	</div>
	
	
	<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid  kt_container__fluid">
		<!--Begin::Dashboard 6-->
		<!--begin:: Widgets/Stats-->
		<div class="row">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-toolbar">
						<h3 class="kt-portlet__head-title"><i class="flaticon-piggy-bank"></i>&nbsp;Opérations sur les devises </h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-top-15">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-toolbar">
						<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold" role="tablist">
							<li class="nav-item">
								<a class="nav-link active font-size-1_2" data-toggle="tab" href="#kt_portlet_base_demo_3_1_tab_content" role="tab">
									<i class="flaticon2-add" aria-hidden="true"></i>&nbsp;Ajouter une monnaie
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link font-size-1_2" data-toggle="tab" href="#kt_portlet_base_demo_3_2_tab_content" role="tab">
									<i class="flaticon-edit" aria-hidden="true"></i>&nbsp;Modifier une monnaie
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link font-size-1_2" data-toggle="tab" href="#kt_portlet_base_demo_3_3_tab_content" role="tab">
									<i class="flaticon-coins" aria-hidden="true"></i>&nbsp;Liste des monnaies
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="kt-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active" id="kt_portlet_base_demo_3_1_tab_content" role="tabpanel">
                            <form class="kt-form kt_form" id="kt_login" method="post">
                                <div class="row clearfix container_operation_on_monnaie" id="container_add_monnaie">
                            
                                    <div class="col-md-12">
                                        <h2 class="text-center color-cyan padding-25 font-size-1_9">Ajouter une monnaie</h2>
                                    </div>
                                    <div class="col-md-12 alertNotification">
                                        <?php
                                                if(isset($messagesNotification) && !empty($messagesNotification)):
                                        ?>
                                                    <div class="alert alert-<?= $messagesNotification['type']['success'] ?> alert-dismissible" role="alert">
                                                        
                                                       <div class="alert-text">
                                                           <?= $messagesNotification['text'] ?>
                                                       </div>
                                                        <div class="alert-close">
                                                            <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
                                                        </div>
                                                        
                                                    </div>
                                        <?php
                                            endif;
                                        ?>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row padding-r-0 padding-l-0">
                                            <label for="formadd_categorie_monnaie" class="col-form-label col-lg-12 col-sm-12">Choisir une catégorie de monnaie</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <select id="formadd_categorie_monnaie" name="formadd_categorie_monnaie" class="form-control width-100 kt-selectpicker">
                                                    <?php
                                                            if(isset($categoriesMonnaie) && !empty($categoriesMonnaie)):
                                                                foreach ($categoriesMonnaie as $categoriesMonnaies):
                                                    ?>
                                                        <option value="<?= $categoriesMonnaies['id_categorie_devise'] ?>">
                                                            <?= $categoriesMonnaies['lib_categorie_devise'] ?>
                                                        </option>
                                                    <?php
                                                        endforeach;
                                                       endif;
                                                    ?>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                
                                <div class="col-md-12" >
                                    
                                    <div class="form-group row">
                                            <label for="formadd_type_monnaie" class="col-form-label col-lg-12 col-sm-12">Choisir un type de monnaie</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <select id="formadd_type_monnaie" name="formadd_type_monnaie" class="form-control kt-selectpicker">
                                                    <?php
                                                        if(isset($typeMonnaie) && !empty($typeMonnaie)):
                                                            foreach ($typeMonnaie as $typesMonnaies):
                                                    ?>
                                                        <option value="<?= $typesMonnaies['code_type_monnaie'] ?>">
                                                            <?= $typesMonnaies['lib_type_monnaie'] ?>
                                                        </option>
                                                    <?php
                                                        endforeach;
                                                        endif;
                                                    ?>
                                                </select>
                                            </div>
                                    </div>
    
                                 </div>
                                 
                                 
                                 <div class="col-md-12" >
                                        <div class="form-group">
                                            <label>Désignation de la monnaie</label>
                                            <input type="text" name="formadd_designation_monnaie" required class="form-control" aria-describedby="" placeholder="Désignation de la monnaie">
                                          
                                        </div>
    
                                 </div>
                                    
                                    <div class="col-md-12 text-right">
                                        <button type="submit" id="kt-form_add_currency" class="btn btn-brand btn-elevate btn-pill">
                                            Enregistrer&nbsp;<i class="la la-send"></i>
                                        </button>
                                    
                                    </div>
                                    
                                    
                                    
                                    
                                </div>
                                
                            </form>
						</div>
						<div class="tab-pane" id="kt_portlet_base_demo_3_2_tab_content" role="tabpanel">
                           
                                <div class="row clearfix container_operation_on_monnaie" id="container_update_monnaie">

                                    <div class="col-md-12">
                                        <h2 class="text-center color-cyan padding-25 font-size-1_9">Modifier une monnaie</h2>
                                    </div>
                                    <div class="col-md-12 alertNotification">
										<?php
											if(isset($messagesNotification) && !empty($messagesNotification)):
												?>
                                                <div class="alert alert-<?= $messagesNotification['type']['success'] ?> alert-dismissible" role="alert">

                                                    <div class="alert-text">
														<?= $messagesNotification['text'] ?>
                                                    </div>
                                                    <div class="alert-close">
                                                        <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
                                                    </div>

                                                </div>
											<?php
											endif;
										?>
                                    </div>
                                    <div class="col-md-12 margin-bottom-20">
                                        <div class="form-group row">
                                            <label for="select_update_monnaie" class="padding-left-15">Choisir une monnaie</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10 margin-bottom-25">
                                                <select id="select_to_update_monnaie" name="select_update_monnaie"  class="form-control kt-selectpicker">
													<option value="">Choisir une monnaie</option>
                                                    <?php
														if(isset($listeMonnaies) && !empty($listeMonnaies)):
															foreach ($listeMonnaies as $listesMonnaies):
																?>
                                                                <option value="<?= $listesMonnaies['id_famille'] ?>" data-libelle="<?= $listesMonnaies['libelle_famille'] ?>" data-categorie="<?= intval ($listesMonnaies['categorie_devise']) ?>" data-type="<?= filter_var ($listesMonnaies['type_monnaie'],FILTER_SANITIZE_STRING) ?>">
																	    <?= $listesMonnaies['libelle_famille'] ?>
                                                                </option>
															<?php
															endforeach;
														endif;
													?>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 hide width-100" id="container_form_update_currency">
                                        <form class="kt-form kt_form width-100" id="" method="post">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="select_update_type_monnaie">Choisir la catégorie de la monnaie</label>
                                                    <select id="select_update_categorie_monnaie" name="select_update_categorie_monnaie" class="form-control">
			                                            <?php
				                                            if(isset($categoriesMonnaie) && !empty($categoriesMonnaie)):
					                                            foreach ($categoriesMonnaie as $categoriesMonnaies):
						                                            ?>
                                                                    <option value="<?= $categoriesMonnaies['id_categorie_devise'] ?>">
							                                            <?= $categoriesMonnaies['lib_categorie_devise'] ?>
                                                                    </option>
					                                            <?php
					                                            endforeach;
				                                            endif;
			                                            ?>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="select_update_type_monnaie" class="col-md-12">Choisir le type de monnaie</label>
                                                    <select id="select_update_type_monnaie" name="select_update_type_monnaie" class="form-control kt-selectpicker">
			                                            <?php
				                                            if(isset($typeMonnaie) && !empty($typeMonnaie)):
					                                            foreach ($typeMonnaie as $typesMonnaies):
						                                            ?>
                                                                    <option value="<?= $typesMonnaies['code_type_monnaie'] ?>">
							                                            <?= $typesMonnaies['lib_type_monnaie'] ?>
                                                                    </option>
					                                            <?php
					                                            endforeach;
				                                            endif;
			                                            ?>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 margin-top-20">
                                                    <div class="form-group">
                                                        <label for="input_update_designation_monnaie">Désignation de la monnaie</label>
                                                        <input type="text" class="form-control" placeholder="Désignation de la monnaie" name="input_update_designation_currency" id="input_update_designation_curency" required/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-12 text-right">
                                                    <input type="hidden" name="input_hidden_update_currency" id="input_hidden_update_currency"/>
                                                    <button class="btn btn-brand btn-sm btn-elevate btn-pill" id="kt-form_update_currency">
                                                        Modifier&nbsp;<i class="flaticon-edit"></i>
                                                    </button>
                                                    &nbsp;
                                                    <button class="btn btn-default btn-sm btn-elevate btn-pill" id="kt-form_cancel_update_currency" type="reset">
                                                        Annuler
                                                    </button>
                                                </div>
                                                
                                            </div>
                                            
                                            
                                        </form>
                                    </div>
                                    
                                </div>

						</div>
						<div class="tab-pane" id="kt_portlet_base_demo_3_3_tab_content" role="tabpanel">
                            <div class="col-md-12 margin-top-30 margin-bottom-10">
                                <h2 class="text-center color-cyan"><i class="flaticon-coins"></i>&nbsp;&nbsp; Liste des monnaies</h2>
                            </div>
                            <div class="col-md-12 margin-top-30">
                                <!--begin: Datatable -->
                                <div class="kt-datatable width-100" id="ajax_data" style="border-radius: 5px !important; border: solid 2px #efefef !important;padding: 10px !important"></div>
                                <!--end: Datatable -->
                            </div>
						</div>
      
					</div>
				</div>
				
			</div>
		</div>
		<!--end:: Widgets/Stats-->
		
		<!--End::Dashboard 6-->
	</div>
	<!-- end:: Content -->
</div>

</div>
