<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 24-Apr-20
 * Time: 5:13 AM
 */
?>
<?php echo $this->doctype(); ?>

<html lang="fr">
<!-- BEGIN HEAD -->
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=EmulateIE7"/>

    <?php echo $this->headTitle("LUNICHANGE | Récupération de mot de passe")->setSeparator(' | ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no')
        ->appendName('description', 'Plateforme d\'échnage de devise')
        ->appendName('content', '')
        ->appendName('author', 'Carlos ZINZINDOHOUE')
        ->appendName('keywords', '')
    ;
    ?>


    <!-- BEGIN HEAD CSS -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->basePath('img/logo_site/favicon_logo.png') . '', 'PREPEND'))
        ->appendStylesheet("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700")
        ->appendStylesheet($this->basePath('assets/pages/recovering_password/recovering_password_style.min.css'))
        ->appendStylesheet($this->basePath('assets/pages/global/plugins.bundle.css'))
        ->appendStylesheet($this->basePath('assets/pages/global/style.bundle.css'))
        ->appendStylesheet($this->basePath('assets/css/global_style.css'))

        // ->appendStylesheet($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.css'))
    ;
    ?>
    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1070954,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-37564768-1');
    </script>

</head>
<!-- end::Head -->

<!-- begin::Body -->
<body  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading"  >


<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(<?= $this->basePath('assets/images/login/bg-3.jpg') ?>);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a class="kt-login__logo" title="Page d'accueil" href="<?= $this->url('home',array('action'=>'index')) ?>">
                            <img width="120" height="120" src="<?= $this->basePath('img/logo_site/icon_logo_blue.png') ?>">
                        </a>
                    </div>
                    <?= isset($this->content) ? $this->content : null ?>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Page -->


<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {"colors":{"state":{"brand":"#22b9ff","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
</script>
<!-- end::Global Config -->

<?php echo $this->headScript()
    ->prependFile($this->basePath('assets/pages/global/plugins.bundle.js'))
    ->appendFile($this->basePath('assets/pages/global/scripts.bundle.js'))
    ->appendFile($this->basePath('assets/pages/login/login-general.js'))



    ->appendFile($this->basePath('assets/plugins/parsleyjs/parsley.min.js'))
    // ->appendFile($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.min.js'))
    //->appendFile($this->basePath('assets/pages/sweet-alert.init.js'))
;
?>
</body>
<!-- end::Body -->

</html>
