
.kt-height-4
{
    height: 4px !important;
}

.kt-inline-block
{
    display: inline-block !important;
}
.kt-width-80
{
    width: 80px !important;
}


h2 {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
}

details {
    width: 100% !important;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
}

details + details {
    margin-top: 20px;
}

details[open] {
    min-height: 40px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
    color: #96999d;
    font-weight: 300;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}

summary:focus {
    outline: none;

}

summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
   /* box-shadow: 0 0 0 5px rebeccapurple;*/
}

summary::-webkit-details-marker {
    display: none
}

.control-icon {
  /*  fill: rebeccapurple;*/
    transition: .3s ease;
    pointer-events: none;
}

.control-icon-close {
    display: none;
}

details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
}

details[open] .control-icon-expand {
    display: none;
}


@media screen and (max-width: 991px)
{
    .paragraph
    {
        font-size: 1.3em !important;
        line-height: 30px !important;
    }
}