

<!-- FOOTER START -->
<footer class="site-footer footer-dark bg-no-repeat bg-full-height bg-center"  style="background:url(<?= $this->basePath('img/background/footer-bg.jpg')?>);">
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main bg-black opacity-05"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget_about">
                        <h3 class="widget-title text-white"><span class="color-cyan">LUNI</span>CHANGE</h3>
                        <div class="logo-footer clearfix p-b15">
                            <a href="<?= $this->url('home',array('action'=>'home')) ?>">
                                <img src="<?= $this->basePath('img/logo_site/full_logo.png') ?>" width="230" height="67" alt=""/>
                            </a>
                        </div>
                        <p class="text-align-left line-height-25 font-size-1_0 font-weight-300">
                            <b class="color-white">LUNIChange</b> est spécialisé dans les opérations d'échange de monnaie éléctronique en devise locale.
                            Notre objectif principal est d'introduire des solutions innovantes sur le marché financier africain.
                        </p>
                    </div>
                </div>

                <!-- USEFUL LINKS -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget_services">
                        <h4 class="widget-title text-white">Liens utiles</h4>
                        <ul>
                            <li><a href="javascript:void(0);">A Propos</a></li>
                            <li><a href="javascript:void(0);">S'inscrire</a></li>
                            <li><a href="javascript:void(0);">Se connecter</a></li>
                            <li><a href="javascript:void(0);">Parrainage</a></li>
                            <li><a href="javascript:void(0);">Comment ça marche ?</a></li>
                            <li><a href="javascript:void(0);">Sgnaler une erreur</a></li>
                        </ul>
                    </div>
                </div>
                <!-- NEWSLETTER -->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget_newsletter">
                        <h4 class="widget-title text-white">Newsletter</h4>
                        <div class="newsletter-bx">
                            <form role="search" method="post">
                                <div class="input-group">
                                    <input name="news-letter" class="form-control" placeholder="Entrer votre email" type="text">
                                    <span class="input-group-btn">
                                            <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- SOCIAL LINKS -->
                    <!-- <div class="widget widget_social_inks">
                         <h4 class="widget-title text-white">Social Links</h4>
                         <ul class="social-icons social-square social-darkest">
                             <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                             <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                             <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                             <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                             <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                             <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                         </ul>
                     </div>-->
                </div>
            </div>
            <div class="row">

                <!-- <div class="col-md-3 col-sm-6  p-tb20">
                     <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                         <div class="icon-md text-primary">
                             <span class="iconmoon-travel"></span>
                         </div>
                         <div class="icon-content text-white">
                             <h5 class="wt-tilte text-uppercase m-b0">Address</h5>
                             <p>No.123 Chalingt Gates, Supper market New York</p>
                         </div>
                     </div>
                 </div>-->
                <div class="col-md-2 col-sm-6  p-tb20 "></div>
                <div class="col-md-5 col-sm-6  p-tb20 ">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-smartphone-1"></span>
                        </div>
                        <div class="icon-content text-white">
                            <h5 class="wt-tilte text-uppercase m-b0">Téléphone</h5>
                            <p class="m-b0">+229 62330637</p>

                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6  p-tb20">
                  <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                         <div class="icon-md text-primary">
                             <span class="iconmoon-fax"></span>
                         </div>
                         <div class="icon-content text-white">
                             <h5 class="wt-tilte text-uppercase m-b0">Fax</h5>
                             <p class="m-b0">FAX: (123) 123-4567</p>
                             <p>FAX: (123) 123-4567</p>
                         </div>
                     </div>
                 </div>-->
                <div class="col-md-5 col-sm-6 p-tb20">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-email"></span>
                        </div>
                        <div class="icon-content text-white">
                            <h5 class="wt-tilte text-uppercase m-b0">Email</h5>
                            <p class="m-b0">contact@lunichange.com</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6  p-tb20 "></div>

            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom  overlay-wraper padding-30" style="margin-top: -50px !important">
        <div class="overlay-main"></div>
        <div class="constrot-strip"></div>
        <div class="container p-t30">
            <div class="row">
                <div class="wt-footer-bot-left">
                    <span class="copyrights-text font-weight-bold">© 2020 Copyrights LUNICHANGE. Tous droits réservés</span>
                </div>
                <div class="wt-footer-bot-right">
                    <ul class="copyrights-nav pull-right">
                        <li><a href="javascript:void(0);">Termes  & Conditions</a></li>
                        <li><a href="javascript:void(0);">Privacy Policy</a></li>
                        <li><a href="javascript:void(0);">Contactez-Nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->


<!-- BUTTON TOP START -->
<button class="scroltop"><span class="iconmoon-house relative" id="btn-vibrate"></span>Haut</button>

<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-container">
            <div class="cssload-dot bg-white">
                <img src="<?= $this->basePath('img/logo_site/favicon_logo.png')?>"/>
            </div>
            <div class="step" id="cssload-s1"></div>
            <div class="step" id="cssload-s2"></div>
            <div class="step" id="cssload-s3"></div>
        </div>
    </div>
</div>