
<div class="top-bar" >
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="wt-topbar-left">
                    <ul class="list-unstyled e-p-bx pull-left">
                        <li><i class="fa fa-envelope"></i>contact@lunichange.com</li>
                        <li><i class="fa fa-phone"></i>+229 62330637</li>
                    </ul>
                </div>

                <div class="wt-topbar-right" id="website_topbar">
                    <div class=" language-select pull-right">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Language/Langue
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);"><img src="<?= $this->basePath('img/united-states.png') ?>" alt="">English</a></li>
                                <li><a href="javascript:void(0);"><img src="<?= $this->basePath('img/france.png') ?>" alt="">Français</a></li>
                            </ul>
                        </div>
                    </div>

                    <ul class="list-unstyled e-p-bx pull-right">
                        <?php
                        if(isset($sessionExist) && !empty($sessionExist) && $sessionExist === true):
                            ?>
                            <li><a href="<?= $this->url('dashboard',array('index')) ?>"><i class="fa fa-user"></i>Mon compte </a> </li>
                            <li><a href="<?= $this->url('login',array('action'=>'logout')) ?>"><i class="fa fa-sign-out"></i>Se déconnecter </a> </li>
                        <?php
                        else:
                            ?>
                            <li><a href="<?= $this->url('login',array('action'=>'index')) ?>"><i class="fa fa-user"></i>Se connecter</a></li>
                            <li><a href="<?= $this->url('login',array('action'=>'index')) ?>"><i class="fa fa-sign-in"></i>S'inscrire</a></li>
                        <?php
                        endif;
                        ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>