<?= $this->doctype() ?>

<?php

?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle("LUNICHANGE Plateforme")->setSeparator(' | ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => '/img/logo_site/favicon_logo.png', 'href' => $this->basePath() . '/img/logo_site/favicon_logo.png'])
        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ->prependStylesheet($this->basePath('css/fontawesome/css/font-awesome.min.css'))
        ->appendStylesheet($this->basePath('css/flaticon.min.css'))
        ->appendStylesheet($this->basePath('css/animate.min.css'))
        ->appendStylesheet($this->basePath('css/owl.carousel.min.css'))
        ->appendStylesheet($this->basePath('css/bootstrap-select.min.css'))
        ->appendStylesheet($this->basePath('css/magnific-popup.min.css'))
        ->appendStylesheet($this->basePath('css/loader.min.css'))
        ->appendStylesheet($this->basePath('css/style.min.css'))
        ->appendStylesheet($this->basePath('css/skin/skin-4.min.css'))
        //  ->appendStylesheet($this->basePath('css/custom.css'))
        ->appendStylesheet($this->basePath('css/switcher.min.css'))
        ->appendStylesheet($this->basePath('plugins/revolution/revolution/css/settings.css'))
        ->appendStylesheet($this->basePath('plugins/revolution/revolution/css/navigation.css'))
        //GOOGLE FONTS
        ->appendStylesheet('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
        ->appendStylesheet('https://fonts.googleapis.com/css?family=Crete+Round:400,400i&amp;subset=latin-ext')
        ->appendStylesheet($this->basePath('assets/css/global_style.min.css'))

    ?>

    <!-- Scripts -->



</head>
<?= $this->inlineScript() ?>
<?php

echo $this->headScript()
    ->prependFile($this->basePath('js/jquery-1.12.4.min.js'))
    ->appendFile($this->basePath('js/bootstrap.min.js'))
    ->appendFile($this->basePath('js/bootstrap-select.min.js'))
    ->appendFile($this->basePath('js/jquery.bootstrap-touchspin.min.js'))
    ->appendFile($this->basePath('js/magnific-popup.min.js'))
    ->appendFile($this->basePath('js/waypoints.min.js'))
    ->appendFile($this->basePath('js/waypoints-sticky.min.js'))
    ->appendFile($this->basePath('js/isotope.pkgd.min.js'))
    ->appendFile($this->basePath('js/owl.carousel.min.js'))
    ->appendFile($this->basePath('js/stellar.min.js'))
    ->appendFile($this->basePath('js/scrolla.min.js'))
    ->appendFile($this->basePath('js/custom.min.js'))
    ->appendFile($this->basePath('js/switcher.js'))
    ->appendFile($this->basePath('js/jquery.bgscroll.js'))
    ->appendFile($this->basePath('js/tickerNews.min.js'))
    //->appendFile($this->basePath('js/jquery-1.12.4.js'))
;
?>



<!-- TICKERNEWS FUNCTiON -->
<script type="text/javascript">
    jQuery(function(){
        var timer = !1;
        _Ticker = jQuery("#T1").newsTicker();
        _Ticker.on("mouseenter",function(){
            var __self = this;
            timer = setTimeout(function(){
                __self.pauseTicker();
            },200);
        });
        _Ticker.on("mouseleave",function(){
            clearTimeout(timer);
            if(!timer) return !1;
            this.startTicker();
        });
    });
</script>
<!-- REVOLUTION JS FILES -->

<script src="<?= $this->basePath('plugins/revolution/revolution/js/jquery.themepunch.tools.min.js') ?>"></script>
<script src="<?= $this->basePath('plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js') ?>"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="<?= $this->basePath('plugins/revolution/revolution/js/extensions/revolution-plugin.js') ?>"></script>

<!-- REVOLUTION SLIDER FUNCTION  ===== -->
<script type="text/javascript"  src="<?= $this->basePath('js/rev-script-4.min.js') ?>"></script>

<script type="text/javascript">
    var header = document.getElementById("my_nav");
    var btns = header.getElementsByClassName("my_links");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {

            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
            // console.log(current[0]);
        });
    }

    $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
        } // End if
    });
    var input = document.querySelector("#phone"),
        errorMsg = document.querySelector("#error-msg"),
        validMsg = document.querySelector("#valid-msg");

    // here, the index maps to the error code returned from getValidationError - see readme
    var errorMap = ["Numéro invalide", "Code du pays invalide", "Numéro trop court", "Numéro trop long", "Numéro invalide"];

    // initialise plugin
    var iti = window.intlTelInput(input, {
        initialCountry: "auto",
        geoIpLookup: function(callback) {
            $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                var countryCode = (resp && resp.country) ? resp.country : "";
                callback(countryCode);
            });
        },
        utilsScript: location.origin+"/assets/plugins/intl-tel-input/build/js/utils.js?1590403638580"
    });

    var reset = function() {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
        errorMsg.classList.add("hide");
        validMsg.classList.add("hide");
    };

    // on blur: validate
    input.addEventListener('blur', function() {
        reset();
        if (input.value.trim()) {
            if (iti.isValidNumber()) {
                validMsg.classList.remove("hide");
            } else {
                input.classList.add("error");
                var errorCode = iti.getValidationError();
                if(errorCode === -99)
                {
                    errorCode = 0;
                }

                errorMsg.innerHTML = errorMap[errorCode];
                errorMsg.classList.remove("hide");
            }
        }
    });

    // on keyup / change flag: reset
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset);
</script>

<body id="bg">

<div class="page-wraper">
    <!-- HEADER START -->
    <header class="site-header header-style-3 topbar-transparent">
        <?=$this->header ?>
        <?= $this->menu ?>
    </header>


    <!-- HEADER END -->

    <div class="page-content">
        <?= isset($this->slider) && !empty($this->slider) ? $this->slider : null ?>
        <?= isset($this->content) && !empty($this->content) ? $this->content : null ?>
    </div>

    <?= isset($this->footer) && !empty($this->footer) ? $this->footer : null ?>

</div>

</body>
</html>
