
<div class="sticky-header main-bar-wraper">
    <div class="main-bar">
        <div class="container">

            <div class="logo-header mostion">
                <a href="<?= $this->url('home',array('action'=>'index')) ?>">
                    <img src="<?= $this->basePath('img/logo_site/full_logo.png') ?>" width="230" height="67" alt="" />
                </a>
            </div>

            <!-- NAV Toggle Button -->
            <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>




            <!-- MAIN Vav -->
            <div class="header-nav navbar-collapse collapse ">
                <ul class="nav navbar-nav" id="my_nav">
                    <li class="my_links active">
                        <a href="#rev_slider_149_1_wrapper">
                            Accueil

                        </a>

                    </li>

                    <li class="my_links">
                        <a href="#container_about">
                            A Propos

                        </a>

                    </li>
                    <li class="my_links">
                        <a href="#container_why_trust_us">
                            Pourquoi nous faire confiance ?

                        </a>

                    </li>

                    <li class="my_links">
                        <a href="#container_our_payment_way">
                            Paiements
                        </a>

                    </li>

                    <li class="my_links">
                        <a href="#container_help">
                            Aide
                        </a>
                    </li>
                    <li class="my_links">
                        <a href="#container_contact_us">
                            Contactez-nous
                        </a>
                    </li>
                    <?php
                    if(isset($sessionExist) && !empty($sessionExist) && $sessionExist === true):
                        ?>
                        <li class="my_links links_to_hide_on_desktop"><a href="<?= $this->url('dashboard',array('index')) ?>"><i class="fa fa-user font-size-1_2"></i>Mon compte </a> </li>
                        <li class="my_links links_to_hide_on_desktop"><a href="<?= $this->url('login',array('action'=>'logout')) ?>"><i class="fa fa-sign-out font-size-1_2"></i>Se déconnecter </a> </li>
                    <?php
                    else:
                        ?>
                        <li class="my_links links_to_hide_on_desktop"><a href="<?= $this->url('login',array('action'=>'index')) ?>"><i class="fa fa-user font-size-1_2"></i>Se connecter</a></li>
                        <li class="my_links links_to_hide_on_desktop"><a href="<?= $this->url('login',array('action'=>'index')) ?>"><i class="fa fa-sign-in font-size-1_2"></i>S'inscrire</a></li>
                    <?php
                    endif;
                    ?>


                </ul>
            </div>

        </div>
    </div>
</div>