<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 23-Apr-20
 * Time: 9:15 AM
 */

?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <title> </title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
        .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    </style>
    <!--<![endif]-->
    <style type="text/css">
        @media only screen and (min-width:480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }
    </style>
    <style type="text/css">
        @media only screen and (max-width:480px) {
            table.mj-full-width-mobile {
                width: 100% !important;
            }
            td.mj-full-width-mobile {
                width: auto !important;
            }
        }
    </style>
</head>

<body style="background-color:#E7E7E7;">
<div style="background-color:#E7E7E7;">
    <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;"><br/><br/><br/></div>
    <!--[if mso | IE]>
    <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
    >
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
    <div style="background:#3ec1d5;background-color:#3ec1d5;margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#3ec1d5;background-color:#3ec1d5;width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-top:20px;text-align:center;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                        <tr>

                            <td
                                class="" style="vertical-align:top;width:600px;"
                            >
                    <![endif]-->
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                            <tr>
                                <td align="center" style="font-size:0px;padding:10px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="width:300px;">
                                                <!--<img alt="Logo" height="auto" src="<?= isset($message,$message['base_url']) && !empty($message['base_url']) ? $message['base_url'].'/img/logo_site/full_logo.png':null ?>" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="500" />
                                               -->  <img src="http://lunichange.io/img/logo_site/full_logo.png" width="120" height="auto" title="button" alt="button">
                                                    <br>
                                                 <h2 align="center" style="margin-top: 20px !important"><?= isset($titre) && !empty($titre) ? $titre :null ?></h2>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>

                    </tr>

                    </table>
                    <![endif]-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
    </td>
    </tr>
    </table>

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
    >
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
    <div style="margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                        <tr>

                            <td
                                class="" style="vertical-align:top;width:600px;"
                            >
                    <![endif]-->
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="background-color:#ffffff;vertical-align:top;padding-right:15px;padding-left:15px;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                <div style="font-family:helvetica;font-size:22px;line-height:1;text-align:left;color:#637381;">
                                                    <?php
                                                        if(isset($message) &&  !empty($message))
                                                        {
                                                            if(isset($message['salutations']) && !empty($message['salutations']))
                                                            {
                                                                echo $message['salutations'];
                                                            }
                                                        }
                                                    ?>
                                                </div>
                                            </td>
                                        </tr>

                                        <?php
                                            if(isset($message['paragraphe']) && !empty($message['paragraphe']) && is_array($message['paragraphe'])):
                                                foreach($message['paragraphe'] as $values):
                                        ?>

                                                    <tr style="margin: 0 auto !important">
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                            <div style="font-family:helvetica;font-size:18px;line-height:1;text-align:left;color:#637381;"><?= $values ?></div>
                                                        </td>
                                                    </tr>
                                        <?php
                                                endforeach;
                                           endif;
                                        ?>

                                        <?php
                                            if(isset($message['nb']) && !empty($message['nb']) && is_array($message['nb'])):
                                                foreach($message['nb'] as $values):
                                        ?>

                                                    <tr>
                                                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                            <div style="font-family:helvetica;font-size:18px;line-height:1;text-align:left;color:#637381;"><?= $values ?></div>
                                                        </td>
                                                    </tr>
                                        <?php
                                                endforeach;
                                           endif;
                                        ?>


                                        <tr>

                                            <td align="center" vertical-align="middle" style="font-size:0px;padding:70px;word-break:break-word;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:300px;line-height:100%;">
                                                    <tr>
                                                        <td align="center" bgcolor="cyan" role="presentation" style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#3ec1d5;" valign="middle">
                                                            <a target="_blank" href="<?= isset($btn_url,$key,$token) && !empty($btn_url) && !empty($key) && !empty($token) ? $btn_url.''.$key.'?token='.$token : null ?>" style="display:inline-block;width:250px;background:#3ec1d5;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;">
                                                                Confirmer </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                <div style="font-family:helvetica;font-size:18px;line-height:1;text-align:left;color:#637381;"><?php
                                                    if(isset($message,$message['politesse']) && !empty($message['politesse']))
                                                    {
                                                        echo $message['politesse'];
                                                    }
                                                    ?></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0px;padding:10px 25px;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;word-break:break-word;">
                                                <p style="border-top:solid 1px #637381;font-size:1;margin:0px auto;width:100%;"> </p>
                                                <!--[if mso | IE]>
                                                <table
                                                    align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 1px #637381;font-size:1;margin:0px auto;width:550px;" role="presentation" width="550px"
                                                >
                                                    <tr>
                                                        <td style="height:0;line-height:0;">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                                <![endif]-->
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="center" style="font-size:0px;padding:20px;word-break:break-word;">
                                                <div style="font-family:helvetica;font-size:18px;line-height:1;text-align:center;color:#637381;">Copyright &copy; 2020 <a href="http://luni-change.io" style="color: #637381">LuniChange.</a> All rights reserved.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>

                    </tr>

                    </table>
                    <![endif]-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
    </td>
    </tr>
    </table>
    <![endif]-->
    <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;"><br/><br/><br/></div>
</div>
</body>

</html>
