<?php

echo $this->headLink()
    ->appendStylesheet($this->basePath('assets/pages/terms-of-use/custom_style.css'))
    ->appendStylesheet($this->basePath('assets/css/how_work.css'))
  
;
?>

<style type="text/css">
.g-bg-gray-light-v5 {
    background-color: #f7f7f7!important;
}
.g-py-100 {
    padding-top: 7.14286rem!important;
    padding-bottom: 7.14286rem!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
[role=tablist]:not([data-tabs-mobile-type=slide-up-down]):not( [data-tabs-mobile-type=accordion]):not( [data-scroll]) {
    display: block;
}

}
  
    
    .g-overflow-hidden {
    overflow: hidden!important;
}
.g-rounded-50 {
    border-radius: 50px!important;
}
.g-brd-none {
    border: none!important;
}
.card, .card-header {
    border-color: #eee;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.g-pa-0 {
    padding: 0!important;
}
.g-font-weight-700 {
    font-weight: 700;
}
.g-font-size-default {
    font-size: 1rem!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
.g-color-main {
    color: #22b9ff!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
a {
    color: #22b9ff;
    outline: none;
}
a {
    color: #22b9ff;
    text-decoration: none;
    background-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
</style>

<div class="col-md-12 col-lg-12 kt-padding-100-desktop">
    <div class="kt-section">
        <div class="row margin-0-auto width-100">
            <div class="col-md-12 width-100">
                <div class="col-md-12 kt-padding-l-0">
                    <h1 class="" style="font-weight:500 !important; font-size: !important; text-transform: uppercase !important; padding-top:50px;">Quelques videos montrant comment procéder sur la plateforme</h1>
                    
                </div>

            
                <div class="col-md-12 kt-padding-t-20 kt-padding-l-0" style="">
                  <section class="g-bg-gray-light-v5">
          <div class="container g-py-100">
              <div class="row">
            <div class="col-md-12">
                <div class="shortcode-html">
                    <div id="accordion-08" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                        <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                           <div class="" >
<div id="accordion-08-heading-01" class="u-accordion__header g-pa-0" role="tab">
<h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
<a class="d-flex g-color-main g-text-underline--none--hover collapsed" href="#accordion-08-body-01" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-01">
<span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

</span>
<span class="g-pa-20">
1. INSCRIPTION SUR LUNICHANGE
</span>
</a>
</h5>
</div>
<div id="accordion-08-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-01" data-parent="#accordion-08" style="">
<div class="u-accordion__body g-bg-white g-px-50 g-py-30">
<div class="row">
<div class="col-md-8">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-asterisk g-mr-3"></i>
Video explicative
</span>
</span>
<div class="embed-responsive embed-responsive-16by9">
  <!--video class="embed-responsive-item" with='50' height="50" controls>
     <source src="<?=$this->basePath('assets/media/inscription.mp4') ?>" with='50' height="50"type="video/mp4">
  </video-->
  <a target="_blank" href="https://www.youtube.com/watch?v=Y5wpdeTtPc8">Video sur l'inscription</a>

</div>
</div>


<div class="col-md-4">
<br><br><br><br><br><br><br>
<div class="shortcode-html text-justify">
<div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
<p><a href="https://www.lunichange.com/" target='_blanc'>Cliquez ici pour effectuer une transaction </a> </p>
</div>
</div>
</div>
</div>
<hr>
<div class="col-md-12 g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30 interline">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-bookmark g-mr-3"></i>
TEXTE EXPLICATIF
</span>
</span>
<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Cliquer sur <span class="lead font-weight-bold">"créer un compte "</span> 	et remplissez le formulaire en mettant votre nom prénom, l’adresse mail, mot de passe et vous reconfirmez le mot de passe. Cochez après <span class="lead font-weight-bold">" j’accepte les conditions puis après sur le bouton"</span> Confirmer.<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Vous consultez après ça votre boite mail pour valider l’inscription en cliquant sur <br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>  " <span class="lead font-weight-bold">se connecter</span>"(Attention ce mail de validation envoyé dans votre adresse électronique a une validité d’une heure). <br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span> En cliquant sur se connecter dans votre boite électronique, vous êtes directement redirigés sur la page de connexion ou vous allez entrer votre adresse mail et le mot de passe. Vous cliquez après sur le bouton  " <span class="lead font-weight-bold">se connecter</span>"<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span> Et automatiquement vous êtes sur le tableau de bord de la plateforme lunichange. <br>
</div>
</div>
</div>
</div>
     <div class="">
                                <div class="">
 <div id="accordion-08" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                        <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                           <div class="" >
<div id="accordion-08-heading-02" class="u-accordion__header g-pa-0" role="tab">
<h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
<a class="d-flex g-color-main g-text-underline--none--hover collapsed" href="#accordion-08-body-02" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-02">
<span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

</span>
<span class="g-pa-20">
2.COMPLETION DE PROFIL
</span>
</a>
</h5>
</div>
<div id="accordion-08-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-01" data-parent="#accordion-08" style="">
<div class="u-accordion__body g-bg-white g-px-50 g-py-30">
<div class="row">
<div class="col-md-8">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-asterisk g-mr-3"></i>
Video explicative
</span>
</span>
<div class="embed-responsive embed-responsive-16by9">
  <!--video class="embed-responsive-item" with='50' height="50" controls>
     <source src="<?=$this->basePath('assets/media/completion.mp4') ?>" with='50' height="50"type="video/mp4">
  </video-->
    <a target="_blank" href="https://www.youtube.com/watch?v=DUhgbcx5fWo&t=28s">Video sur le complemnent de profil</a>

</div>
</div>
<div class="col-md-4">
<br><br><br><br><br><br><br>
<div class="shortcode-html text-justify">
<div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
<p><a href="https://www.lunichange.com/">Cliquez ici pour effectuer une transaction </a> </p>
</div>
</div>
</div>
</div>
<hr>
<div class="col-md-12 g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30 interline">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-bookmark g-mr-3"></i>
TEXTE EXPLICATIF
</span>
</span>
<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Cliquez sur le bouton  <span class="lead font-weight-bold">"compléter profil "</span> et vous remplissez le formulaire qui s’affiche en ajoutant votre date de naissance, le sexe, l’adresse, le pays, la ville, la région et votre numéro de téléphone fonctionnel. Après ça vous passez à la deuxième étape qui est la validation d’identification. <br>  Ici vous insérez votre pièce en cours de validité, vous choisissez le type de pièce et vous renseignez le numéro de la pièce. <br>	
Vous insérez également votre photo selfie (Pour la photo selfie vous gardez la pièce en main). Cliquez après sur le bouton <span class="lead font-weight-bold">" sauvegarder les changements  "</span> pour envoyer les documents.<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Prenez la peine de vérifier l’extension des fichiers (png, jpg, jpeg) et aussi renommer les fichiers parce que le système n’accepte pas des documents avec un nom très long . <br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Donc pour la pièce vous pouvez mettre  <span class="lead font-weight-bold">‘piece.jpg’ et pour le selfie ‘selfie.jpg’</span>" <br>
</div>
</div>
</div>
</div>
                            </div>
                            <div class="">
                               <div class="">
 <div id="accordion-08" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                        <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                           <div class="" >
<div id="accordion-08-heading-03" class="u-accordion__header g-pa-0" role="tab">
<h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
<a class="d-flex g-color-main g-text-underline--none--hover collapsed" href="#accordion-08-body-03" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-03">
<span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

</span>
<span class="g-pa-20">
3.LA CONVERSION
</span>
</a>
</h5>
</div>
<div id="accordion-08-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-03" data-parent="#accordion-08" style="">
<div class="u-accordion__body g-bg-white g-px-50 g-py-30">
<div class="row">
<div class="col-md-8">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-asterisk g-mr-3"></i>
Video explicative
</span>
</span>
<div class="embed-responsive embed-responsive-16by9">
  <!--video class="embed-responsive-item" with='50' height="50" controls>
     <source src="<?=$this->basePath('assets/media/convertion.mp4') ?>" with='50' height="50"type="video/mp4">
  </video-->
      <a target="_blank" href="https://www.youtube.com/watch?v=GiexlQo6NHA">Video sur la conversion</a>

</div>
</div>
<div class="col-md-4">
<br><br><br><br><br><br><br>
<div class="shortcode-html text-justify">
<div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
<p><a href="https://www.lunichange.com/">Cliquez ici pour effectuer une transaction </a> </p>
</div>
</div>
</div>
</div>
<hr>
<div class="col-md-12 g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30 interline">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-bookmark g-mr-3"></i>
TEXTE EXPLICATIF
</span>
</span>
<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Vous cliquez sur le bouton  <span class="lead font-weight-bold">"Convertir"</span> et vous remplissez le formulaire de change en sélectionnant la monnaie que vous donnez et celle que vous désirez recevoir ; automatiquement la conversion est faite et après vous mettez votre adresse de réception avant de soumettre. <br> 
Une fenêtre s’ouvre montrant le résumé de votre transaction ; à ce niveau vous devez envoyer les dollars ou l’argent sur l’adresse indiqué ou sur le numéro de téléphone indiqué avant de 
<span class="lead font-weight-bold">" Cliquer pour continuer  "</span> Après cette étape vous devez renseigner votre <span class="lead font-weight-bold">"ID(Identifiant) qui se trouve en bas du message reçu après avoir effectué de dépôt (Mobile money ou Moov money) sur le numéro indiqué ou carrément renseignez votre numéro de téléphone ou votre nom à la place de l’ID lorsqu’il s’agit d’une vente de dollars. "</span>.<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Votre transaction a été faite avec succès ; vous allez donc attendre maximum 5mins pour être servi.. <br>

</div>
</div>
</div>
</div>
                            </div>
    
<div id="accordion-08-heading-04" class="u-accordion__header g-pa-0" role="tab">
 <div id="accordion-08" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                        <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                           <div class="" >
<div id="accordion-08-heading-04" class="u-accordion__header g-pa-0" role="tab">
<h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
<a class="d-flex g-color-main g-text-underline--none--hover collapsed" href="#accordion-08-body-04" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-04">
<span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

</span>
<span class="g-pa-20">
4.LE PARRAINAGE
</span>
</a>
</h5>
</div>
<div id="accordion-08-body-04" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-04" data-parent="#accordion-08" style="">
<div class="u-accordion__body g-bg-white g-px-50 g-py-30">
<div class="row">
<div class="col-md-8">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-asterisk g-mr-3"></i>
Video explicative
</span>
</span>
<div class="embed-responsive embed-responsive-16by9">
  <!--video class="embed-responsive-item" with='50' height="50" controls>
     <source src="<?=$this->basePath('assets/media/parrainage.mp4') ?>" with='50' height="50"type="video/mp4">
  </video-->
<a target="_blank" href="https://www.youtube.com/watch?v=GOkkKSsOjE8">Video sur le parrainage</a>

</div>
</div>
<div class="col-md-4">
<br><br><br><br><br><br><br>
<div class="shortcode-html text-justify">
<div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
<p><a href="https://www.lunichange.com/">Cliquez ici pour effectuer une transaction </a> </p>
</div>
</div>
</div>
</div>
<hr>
<div class="col-md-12 g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30 interline">
<span class="text-justify">
<span class="u-label g-rounded-3 g-bg-teal g-mr-10 g-mb-15">
<i class="fa fa-bookmark g-mr-3"></i>
TEXTE EXPLICATIF
</span>
</span>
<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Pour votre lien de parrainage vous cliquez sur  <span class="lead font-weight-bold">‘Mon profil’ </span> et là vous pouvez générer votre lien de parrainage en cliquant sur<span class="lead font-weight-bold">‘Générer lien de parrainage'</span>	Vous pouvez partager via WhatsApp votre lien pour avoir des filleuls afin de recevoir des commissions sur leur différentes transactions.<br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Vous avez aussi la possibilité de voir votre la liste de vos filleuls en cliquant sur <span class="lead font-weight-bold">’liste de Filleuls’ </span>" dans le menu en bas de liste des transactions <br>
<span class="u-icon-v1 g-mb-3"><i class="fa fa-hand-o-right"></i></span>Vous pouvez aussi consulter votre back-office en cliquant sur  <span class="lead font-weight-bold">Mon Backoffice. </span>" au niveau du menu en bas de la ‘liste des filleuls'.<br>
</div>
</div>
</div>
</div>
                            </div>
                          
                          
                        </div>
                    </div>
                </div>
            </div>

</section>


                </div>
            </div>
        </div>
        <div class="row kt-margin-t-100-desktop kt-margin-t-60-tablet-and-mobile width-100">
            <div class="col-md-12">
                <div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <symbol viewBox="0 0 24 24" id="expand-more">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </symbol>
                        <symbol viewBox="0 0 24 24" id="close">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </symbol>
                    </svg>
                </div>



            </div>

        </div>

        <div class="row width-100">
            <div class="col-md-12 kt-margin-t-30">
                <a href="<?= $this->url('login',['action'=>'index']) ?>">
                    <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle
                                             btn-icon border-fff bg-forest-green" data-toggle="kt-popover" title=""
                            data-content="Retour"

                            style="margin: 10px  !important">
                        <i class="la la-arrow-left font-size-2_0 color-white"></i>
                    </button><b class="text-decoration-underline font-size-1_1">Retour</b>
                </a>
            </div>
        </div>
    </div>
</div>


