<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 09-May-20
 * Time: 1:54 PM
 */

echo $this->headLink()
    ->appendStylesheet('/assets/pages/numbers-management/custom_style.css')
    ->appendStylesheet('/assets/plugins/datatables/datatables.bundle.css')
    ->appendStylesheet('/assets/plugins/intl-tel-input/build/css/intlTelInput.min.css')
    ->appendStylesheet('/assets/plugins/intl-tel-input/examples/css/isValidNumber.css')

;
?>




<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">

                <i class="la la-phone-square kt-font-size-1_6-desktop color-cyan"></i>&nbsp;
                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-left: -8px !important" width="28px" height="28px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-font-size-1_6-desktop">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"/>
                        <rect fill="#000000" x="2" y="8" width="20" height="3"/>
                        <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"/>
                    </g>
                </svg>
			</span>
                    <h1 class="kt-portlet__head-title color-cyan kt-font-size-1_8-desktop" style="">
                        Gestion des numéros
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="dropdown dropdown-inline">
                            <button type="button" id="btn_add_number" class="btn btn-brand btn-icon-sm" data-target="#kt_modal_add_number" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i>
                                <span id="text_add_desktop">Ajouter un numéro</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body">
                <!--begin: Search Form -->
                <form class="kt-form kt-form--fit kt-margin-b-20">
                    <div class="row kt-margin-b-20">

                        <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                            <label for="type_numero_search">Type de numéro</label>
                            <select class="form-control kt-input kt-selectpicker" name="type_numero_search" id="type_numero_search" data-col-index="1">
                                <option value="">Choisir un type</option>
                                <?php
                                if(isset($categories_devise) && !empty($categories_devise)):
                                    foreach ($categories_devise as $categories_devises):
                                        ?>

                                        <option value="<?= $categories_devises['id_categorie_devise'] ?>"><?= $categories_devises['lib_categorie_devise'] ?></option>
                                    <?php
                                    endforeach;
                                endif;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                            <label>Status</label>
                            <select class="form-control kt-input kt-selectpicker" data-col-index="2">
                                <option value="">Choisir un status</option>
                                <option value="1">Actif</option>
                                <option value="0">Non actif</option>
                            </select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>Rechercher un numéro</label>
                            <input type="text" class="form-control kt-input" placeholder="Ex : 90030301" data-col-index="3">
                        </div>
                    </div>



                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-brand--icon" id="kt_search">
						<span>
							<i class="la la-search"></i>
							<span>Rechercher</span>
						</span>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						<span>
							<i class="la la-close"></i>
							<span>Annuler</span>
						</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!--begin: Datatable -->

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="col-md-12 padding-l-0 padding-r-0 clearfix width-100" style="overflow-x: auto !important">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_numbers-management">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libelle Numéro</th>
                            <th>Nom enregistré sur le numéro</th>
                            <th>Type numéro</th>
                            <th>Devise concernée</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>


                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Libelle Numéro</th>
                            <th>Nom enregistré sur le numéro</th>
                            <th>Type numéro</th>
                            <th>Devise concernée</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_add_number" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" class="kt-form kt-form--label-right"  id="kt_number_add_form" >
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Ajout d'une nouvelle devise</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control kt-selectpicker" id="kt-select_categorie_devise_add_number_form" required name="type_numero_add_number_form">
                                    <option value="">--Choisir une catégorie de devise--</option>
                                    <?php
                                    if(isset($categories_devise) && !empty($categories_devise)):
                                        foreach ($categories_devise as $categories_devises):
                                            ?>

                                            <option value="<?= $categories_devises['id_categorie_devise'] ?>"><?= $categories_devises['lib_categorie_devise'] ?></option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for='kt_select_devise_add_number'>Devise concerné</label>
                                <select data-live-search='true' class='form-control margin-top-5' name="kt_select_devise_add_number" required id='kt_select_devise_add_number'>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12" id="results_according_type_number_selected">

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" id="kt_btn_cancel_add_number" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="kt_btn_numbers_add_form" name="kt_btn_number_add_form"  class="btn btn-primary">Confirmer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_update_number" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_devise_update_form" onsubmit="return false;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier devise</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control kt-selectpicker" id="kt-select_categorie_devise_update_devise_form" required name="edit_categorie_devise">
                                    <option value="">--Choisir une catégorie de devise--</option>
                                    <?php
                                    if(isset($categories_devises) && !empty($categories_devises)):
                                        foreach ($categories_devises as $elements):
                                            ?>
                                            <option value="<?= $elements['id_categorie_devise'] ?>"><?= $elements['lib_categorie_devise'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">

                                <input type="text" placeholder="Désignation de la devise" required class="form-control" value="<?= isset($_POST['edit_libelle_devise'],$messageNotification['error']) && !empty($_POST['edit_libelle_devise']) ? $_POST['edit_libelle_devise']: null ?>" name="edit_libelle_devise" id="recipient-edit_libelle_devise">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-edit_solde_minimum" class="form-control-label">Solde minimum</label>
                                <input type="number" min="0" step="any"  value="<?= isset($_POST['edit_solde_minimum'],$messageNotification['error']) && !empty($_POST['edit_solde_minimum']) ? $_POST['edit_solde_minimum']: null ?>" placeholder="Solde minimum" required class="form-control" name="edit_solde_minimum" id="recipient-edit_solde_minimum">

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-edit_solde" class="form-control-label">Solde actuel/démarrage</label>
                                <input type="number" step="any" min="0" placeholder="Solde actuel/démarrage" value="<?= isset($_POST['edit_solde'],$messageNotification['error']) && !empty($_POST['edit_solde']) ? $_POST['edit_solde']: null ?>" required class="form-control" name="edit_solde" id="recipient-edit_solde">

                            </div>
                        </div>

                        <div class="col-md-12 kt-padding-t-5">
                            <div class="form-group">
                                <label for="kt-select_monnaie_edit_devise_form" class="form-control-label">Monnaie de la devise</label>
                                <select class="form-control" id="kt-select_monnaie_edit_devise_form" required name="edit_famille_devise">
                                    <option value="">--Choisir une monnaie--</option>
                                    <?php
                                    if(isset($monnaies) && !empty($monnaies)):
                                        foreach ($monnaies as $values):
                                            ?>
                                            <option value="<?= $values['id_famille'] ?>"><?= $values['libelle_famille'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_cancel_update_devise_form" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="btn_submit_update_devise_form" class="btn btn-primary">Modifier&nbsp;<i class="flaticon-edit"></i> </button>
                    <input type="hidden" id="hidden_id_devise" name="hidden_id_devise"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->
