<?php echo $this->doctype(); ?>

<html lang="fr">
<!-- BEGIN HEAD -->
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=EmulateIE7"/>

    <?php echo $this->headTitle("LUNICHANGE")->setSeparator(' | ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no')
        ->appendName('description', 'Plateforme d\'échnage de devise')
        ->appendName('content', '')
        ->appendName('author', 'LUNICHANGE')
        ->appendName('keywords', '')
    ;
    ?>


    <!-- BEGIN HEAD CSS -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->basePath('img/logo_site/favicon_logo.png') . '', 'PREPEND'))
        ->appendStylesheet("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700&amp;display=swap")
        ->appendStylesheet($this->basePath('assets/pages/login/login.min.css'))
        ->appendStylesheet($this->basePath('assets/pages/global/plugins.bundle.css'))
        ->appendStylesheet($this->basePath('assets/pages/global/style.bundle.css'))
        ->appendStylesheet($this->basePath('assets/css/global_style.css'))

        // ->appendStylesheet($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.css'))
    ;
    ?>

    <!-- <script>
         (function(h,o,t,j,a,r){
             h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
             h._hjSettings={hjid:1070954,hjsv:6};
             a=o.getElementsByTagName('head')[0];
             r=o.createElement('script');r.async=1;
             r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
             a.appendChild(r);
         })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
     </script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-37564768-1');
    </script>-->
</head>
<!-- BEGIN HEAD -->


<!-- BEGIN BODY -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed
kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled
kt-aside--fixed kt-aside--minimize kt-page--loading">

<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v5 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile" style="background-image: url(<?= $this->basePath('assets/images/login/bg-3.jpg') ?>);">

            <?php
            if(!isset($terms_of_use) || $terms_of_use !== 'terms-of-use' || $terms_of_use === null):
                ?>
                <div class="kt-login__left">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__content">
                            <a class="kt-login__logo" title="Page d'accueil" href="<?= $this->url('home',array('action'=>'index')) ?>">
                                <img width="120" height="120" src="<?= $this->basePath('img/logo_site/icon_logo_blue.png') ?>">
                            </a>

                            <h1 class="kt-login__title font-size-1_5">BIENVENUE SUR LUNICHANGE</h1>

                            <span class="kt-login__desc text-align-left font-size-1_0 font-weight-500">
						    Nous sommes disponible 24/7 pour vous aider dans toutes vos transactions et notre service Client vous réponds,
                            vous assiste et vous accompagne dans toutes vos opérations.
					    </span>

                            <div class="col-md-12 margin-top-15 margin-bottom-15" style="padding: 12px !important">
                                <div class="kt-section__content kt-section__content--solid">

                                    <?php
                                    if(isset($termsOfUse) && $termsOfUse == true):
                                        ?>

                                        <a href="<?= $this->url('login',['action'=>'index']) ?>">

                                            <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle
                                         btn-icon border-fff bg-forest-green" data-toggle="kt-popover" title=""
                                                    data-content="Retour"

                                                    style="margin: 10px  !important">
                                                <i class="la la-arrow-left font-size-2_0 color-white"></i>
                                            </button><b class="text-decoration-underline font-size-1_1">Retour</b>
                                        </a>
                                    <?php
                                    else:
                                        ?>
                                        <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle btn-icon
                                    border-fff bg-forest-green" data-toggle="kt-popover" title=""
                                                data-content="Nous combinons les outils les plus sécurisants sur notre plateforme et vous garantissons la célérité dans toutes vos opérations."
                                                data-original-title="Sécurité" style="margin: 10px  !important">

                                            <i class="la la-shield color-white  font-size-2_0 font-weight-600"></i>
                                        </button>&nbsp;

                                        <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle
                                     btn-icon border-fff bg-forest-green" data-toggle="kt-popover" title=""
                                                data-content="Nous sommes les plus rapides du marché."
                                                data-original-title="Rapidité"
                                                style="margin: 10px  !important">
                                            <i class="la la-plane font-size-2_0 color-white"></i>
                                        </button>&nbsp;

                                        <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle btn-icon
                                     border-fff bg-forest-green" data-toggle="kt-popover" title=""
                                                data-content="Nous innovons en vous permettant aussi de faire des changes de monnaies numériques ( c'est à dire les Crypto Monnaies tels que le bitcoin, bitcoin cash, ethereum, Dash, Ripple, Monero, Litecoin, Tron) pour avoir des devises locales."

                                                data-original-title="Innovation"
                                                style="margin: 10px  !important">
                                            <i class="flaticon-light color-white font-size-2_0 font-weight-600"></i>
                                        </button>&nbsp;

                                    <?php
                                    endif;
                                    ?>

                                </div>
                            </div>

                            <div class="col-md-12 width-100 padding-r-0 padding-l-0 margin-bottom-40">

                                <ul class="width-100 pull-left display-flex flex-nowrap text-center" style="list-style-type: none !important">
                                    <li>

                                       <!-- <a href="" target="_blank">
                                            <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle btn-icon border-fff bg-cyan" style="margin: 10px  !important">

                                                <i class="la la-edit color-white  font-size-2_0 font-weight-600"></i>
                                            </button>&nbsp;Conditions d'utilisation

                                        </a>-->
                                        <a href="<?=$this->url('terms-of-use',['action'=>'index']) ?>" target='blank'>
                                            <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle btn-icon border-fff bg-cyan" style="margin: 10px  !important">

                                                <i class="la la-edit color-white  font-size-2_0 font-weight-600"></i>
                                            </button>&nbsp;Conditions d'utilisation

                                        </a>
                                    </li>

                                    <li>

                                        <a href="<?= $this->url('how-it-work',['action'=>'index']) ?>" target='blank'>

                                            <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle btn-icon border-fff bg-cyan" style="margin: 10px  !important">

                                                <i class="la la-question-circle color-white  font-size-2_0 font-weight-600"></i>
                                            </button>&nbsp;Comment ça marche ?


                                        </a>

                                    </li>
                                </ul>


                            </div>

                            <div class="kt-login__actions">
                                <?php
                                if(!isset($termsOfUse)):
                                    ?>
                                    <button type="button" id="kt_login_signup" class="btn btn-outline-brand btn-pill">Créer un compte</button>
                                <?php
                                endif;
                                ?>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-login__divider">
                    <div></div>
                </div>
            <?php
            endif;
            ?>


            <?php echo $this->content; ?>



        </div>
    </div>
</div>

<script>
    var KTAppOptions = {"colors":{"state":{"brand":"#22b9ff","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
</script>
<?php echo $this->headScript()
    ->prependFile($this->basePath('assets/pages/global/plugins.bundle.js'))
    ->appendFile($this->basePath('assets/pages/global/scripts.bundle.js'))
    ->appendFile($this->basePath('assets/pages/login/login-general.js?'.uniqid()))



    ->appendFile($this->basePath('assets/plugins/parsleyjs/parsley.min.js'))
    // ->appendFile($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.min.js'))
    //->appendFile($this->basePath('assets/pages/sweet-alert.init.js'))
;
?>
<script type="text/javascript">
    var baseUrl = location.origin;

    var basePath = baseUrl+'/';
</script

 <script src="https://www.google.com/recaptcha/api.js">

  
 </script>
 

<script type="text/javascript">
    var baseUrl = location.origin;

    var basePath = baseUrl+'/';
    
</script>
</body>
<!-- END BODY -->
</html>



