<?php

echo $this->headLink()
    ->appendStylesheet($this->basePath("plugins/bootstrap-4/bootstrap.min.css"))
;

?>

    <script src="<?= $this->basePath('plugins/bootstrap-4/jquery.min.js') ?>"></script>
    <script src="<?= $this->basePath('plugins/bootstrap-4/popper.min.js') ?>"></script>
    <script src="<?= $this->basePath('plugins/bootstrap-4/bootstrap.min.js') ?>"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        /* Style the body */
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        /* Header/logo Title */
        .header {
            padding: 80px;
            text-align: center;
            background: #1abc9c;
            color: white;
        }

        /* Increase the font size of the heading */
        .header h1 {
            font-size: 40px;
        }

        /* Style the top navigation bar */
        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        /* Style the navigation bar links */
        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        /* Right-aligned link */
        .navbar a.right {
            float: right;
        }

        /* Change color on hover */
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Column container */
        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
        }

        /* Create two unequal columns that sits next to each other */
        /* Sidebar/left column */
        .side {
            -ms-flex: 30%; /* IE10 */
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        /* Main column */
        .main {
            -ms-flex: 70%; /* IE10 */
            flex: 70%;
            background-color: white;
            padding: 20px;
        }

        /* Fake image, just for this example */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
        }

        /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 700px) {
            .row {
                flex-direction: column;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @media screen and (max-width: 400px) {
            .navbar a {
                float: none;
                width: 100%;
            }
        }

        body {
            background: #e2e1e0;
            text-align: center;
        }

        .card {
            background: #fff;
            border-radius: 5px;
            display: inline-block;
            min-height: 300px;
            margin: 1rem;
            position: relative;
            /*width: 300px;*/
        }

        .card-1 {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .card-2 {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        .card-3 {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        .card-4 {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .card-5 {
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }

        @media screen and (max-width: 450px)
        {
            #img-checking
            {
                width: 300px !important; height: 200px !important
            }
        }
        @media screen and (min-width: 992px)
        {
            #img-checking
            {
                width: 400px !important; height: 300px !important
            }
        }
        @media screen and (max-width: 991px)
        {
            #img-checking
            {
                width: 400px; height: 300px;
            }
        }

    </style>

<div class="row margin-0-auto" style="width: 100% !important">
    <div class="col-md-12 margin-top-25" style="border: solid 0 red !important">
        <center>
            <div class="card card-1 col-md-12" style="max-width: 800px !important">
                <img alt="Mon image" class="text-center margin-top-20" id="img-checking" style="border:solid 1px #efefef; border-radius:5px !important;" src="<?= $this->basePath('img/success-tick-dribbble.gif') ?>"/>
                <div class="col-md-12 margin-top-25" style="padding-top: 10px !important; margin-bottom: 50px !important">
                    <h3 class="text-center">Vérification du statut de la transaction...</h3>
                </div>
                <?php
                    if(isset($message) && $message != null):
                ?>
                <?= $message ?>

                <?php
                endif;
                ?>


            </div>

        </center>

    </div>
</div>
