<?= $this->headTitle('') ?>
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8" />
    <?php echo $this->headTitle("LUNICHANGE")->setSeparator(' | ')->setAutoEscape(true) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1')
        ->appendName('description', 'Plateforme d\'échange de devises')
        ->appendName('author', 'LUNICHANGE DEVELOPERS')
        ->appendName('keywords', '');
    ?>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="https://preview.keenthemes.com/rider-html-pro/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://preview.keenthemes.com/rider-html-pro/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <!--Begin::Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5FS8GGP');</script>
    <!--End::Google Tag Manager -->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-white">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Close Account -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/rider-html-pro/assets/media/illustrations/progress-hd.png)">
        <!--begin::Content-->
        <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-20">
            <!--begin::Logo-->
            <a href="https://www.lunichange.com" class="mb-10 pt-lg-20">
                <img alt="Logo" src="https://www.lunichange.com/img/logo_site/icon_logo_blue.png" class="h-60px mb-5" />
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="pt-lg-10">
                <!--begin::Logo-->
                <h1 class="fw-bolder fs-2qx text-dark mb-7">Résumé de la transaction</h1>
                <!--end::Logo-->
                <!--begin::Message-->
                <div class="fw-bold fs-3 text-gray-400 mb-15">
                    <div class="row" style="margin: 0 auto !important;">
                        <?php
                            if(isset($result) && !empty($result)):
                                if(isset($result['error']) && !empty($result['error'])):
                        ?>
                            <div class="col-md-12">
                                <!--begin::Alert-->
                                <div class="alert alert-danger">
                                    <!--begin::Icon-->
                                    <span class="svg-icon svg-icon-2hx svg-icon-primary me-3">...</span>
                                    <!--end::Icon-->

                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Title-->
                                        <h5 class="mb-1">Infos</h5>
                                        <?php
                                            $text = "Votre transaction est toujours <span class=\"badge badge-primary\">En attente...</span>";

                                            if(in_array($result['error']['status'],["cancel","declined","canceled","cancelled"]))
                                            {
                                                $text = "Votre transaction n'a pas pu aboutir.<br><b style='text-decoration:underline'>Raison(s) possile(s):</b> ".$result['error']['message'];
                                            }

                                        ?>
                                        <!--end::Title-->
                                        <!--begin::Content-->
                                        <span><?= $text ?></span>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                            </div>

                        <?php
                            else:
                        ?>
                        <!--begin::Alert-->
                        <div class="alert alert-success">
                            <!--begin::Icon-->
                            <span class="svg-icon svg-icon-2hx svg-icon-primary me-3">...</span>
                            <!--end::Icon-->

                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column">
                                <!--begin::Title-->
                                <h5 class="mb-1">Informations de votre transaction</h5>
                                <small style="color: red !important;">Vous pouvez faire une capture d'écran de la facture. Cela pourra être utile en cas de réclamation</small>
                                <!--end::Title-->
                                <!--begin::Content-->
                                <div class="row" style="margin: 0 auto !important">
                                    <div class="col-md-12">
                                        <table class="table table-bordered" style="width: 100% !important;">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 250px !important">Status</td>
                                                    <td style="width: 350px !important;">
                                                        <span class="badge badge-success"><img style="width: 20px; height: 20px !important" src="https://favpng.com/png_view/check-check-mark-logo-villa-png/VrGjF59M">&nbsp;Approuvée</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Context de la transaction</td>
                                                    <td style="width: 350px !important;">
                                                        <?= $result['transactionDatas']['context'] ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Monnaie fournie</td>
                                                    <td style="width: 350px !important;">
                                                        <img src="<?= $result['devise_source']['image'] ?>"
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 250px !important">Monnaie donnée</td>
                                                    <td style="width: 350px !important;">
                                                        <img src="<?= $result['devise_destination']['image'] ?>"
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Quantité donnée</td>
                                                    <td style="width: 350px !important;"><?= $result['transactionDatas']['quantite_demandee'] ?></td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Quantité à Recevoir</td>
                                                    <td style="width: 350px !important;"><?= $result['transactionDatas']['quantite_a_recevoir'] ?></td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Date de la transaction</td>
                                                    <td style="width: 350px !important;"><?= $result['transactionDatas']['date_transaction'] ?></td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Montant total</td>
                                                    <td style="width: 350px !important;"><?= $result['transactionDatas']['totalAmount'] ?></td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 250px !important">Ticket de la transaction</td>
                                                    <td style="width: 350px !important;"><?= $result['transactionDatas']['ticketTransaction'] ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Alert-->

                        <?php
                            endif;
                            endif;
                        ?>
                    </div>
                </div>
                <!--end::Message-->
                <!--begin::Action-->
                <div class="text-center">
                    <a href="https://www.lunichange.com/customer" class="btn btn-lg btn-primary fw-bolder">Retour à l'espace client</a>
                </div>
                <!--end::Action-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <div class="d-flex flex-center flex-column-auto p-10">
            <!--begin::Links-->
            <div class="d-flex align-items-center fw-bold fs-6">
                <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
                <a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
                <a href="https://keenthemes.com/products/rider-html-pro" class="text-muted text-hover-primary px-2">Purchase</a>
            </div>
            <!--end::Links-->
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Authentication - Close Account-->
</div>
<!--end::Main-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="https://preview.keenthemes.com/rider-html-pro/assets/plugins/global/plugins.bundle.js"></script>
<script src="https://preview.keenthemes.com/rider-html-pro/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--end::Javascript-->
<!--Begin::Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!--End::Google Tag Manager (noscript) -->
</body>
<!--end::Body-->
</html>