<?php

$this->headTitle('Convertir');

echo $this->headLink()
    ->appendStylesheet($this->basePath("assets/pages/customer/custom_style.css"))
    ->appendStylesheet('/assets/plugins/intl-tel-input/build/css/intlTelInput.min.css')
    ->appendStylesheet('/assets/plugins/intl-tel-input/examples/css/isValidNumber.css')

;

?>

<style type="">
    .my_selectPicker option
    {
        font-size: 1.2em !important;
    }
    .placeholderLabel
    {
        font-size: 1.2em !important;
        color: #000 !important;
        font-weight: bold !important;
    }
</style>

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid ">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <?php
        if(isset($user_data) && !empty($user_data)):
            if($user_data['telephone'] !== null && $user_data['profil_complet'] !== '0'):
                ?>
                <div class="kt-portlet kt-portlet--mobile" id="kt-portlet_content_conversion">

                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="flaticon-coins color-cyan font-size-1_1"></i><i class="flaticon-refresh font-size-0_9 color-cyan"></i>
                    </span>
                            <h3 class="kt-portlet__head-title color-cyan kt-font-size-1_8-desktop" style="">
                                Convertir une devise : Formulaire de change
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">

                                    &nbsp;
                                    <!--  <a href="#" data-toggle="kt-tooltip" data-html="true" data-original-title="Comment ça marche <code>?</code>" class="btn btn-brand btn-elevate btn-icon-sm" id="btn_how_it_works">
                                          <i class="flaticon-questions-circular-button text-center"></i>
                                          <span class="text_hide_mobile">Comment ça marche ?</span>
                                      </a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body kt-padding-80-desktop kt-padding-b-100-desktop">


                        <?php
                        if(isset($transactionInProgress) && $transactionInProgress === true):
                            ?>
                            <!--begin::Section:: Transaction-->

                            <div class="kt-section">
                                <div class="row margin-0-auto">
                                    <div class="col-lg-5">
                                        <div class="kt-portlet kt-iconbox kt-iconbox--animate">
                                            <div class="kt-portlet__body">
                                                <div class="kt-iconbox__body">

                                                    <div class="kt-iconbox__icon">
                                                        <?php
                                                        if(isset($getTransactionInProgress) && !empty($getTransactionInProgress)):
                                                            ?>

                                                            <img style="width: 80px; height: 80px" src="<?= $getTransactionInProgress['devise_source']['image_devise'] ?>"/>

                                                        <?php
                                                        endif;
                                                        ?>
                                                    </div>
                                                    <div class="kt-iconbox__desc kt-padding-t-20">
                                                        <h3 class="kt-iconbox__title">
                                                            <a class="kt-link" href="javascript:void(0);"><?= isset($getTransactionInProgress) && !empty($getTransactionInProgress) ? $getTransactionInProgress['devise_source']['lib_devise'] : null ?></a>
                                                        </h3>
                                                        <div class="kt-iconbox__content">
                                                            <div class="row margin-0-auto">

                                                             <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="20.5" cy="12.5" r="1.5"/>
                                                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 6.500000) rotate(-15.000000) translate(-12.000000, -6.500000) " x="3" y="3" width="18" height="7" rx="1"/>
                                                                            <path d="M22,9.33681558 C21.5453723,9.12084552 21.0367986,9 20.5,9 C18.5670034,9 17,10.5670034 17,12.5 C17,14.4329966 18.5670034,16 20.5,16 C21.0367986,16 21.5453723,15.8791545 22,15.6631844 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,6 C2,4.8954305 2.8954305,4 4,4 L20,4 C21.1045695,4 22,4.8954305 22,6 L22,9.33681558 Z" fill="#000000"/>
                                                                        </g>
                                                                 </svg>
                                                             </span>

                                                                <span class="kt-margin-l-10">
                                                                 <?= isset($getTransactionInProgress) && !empty($getTransactionInProgress) ? $getTransactionInProgress['quantite_source']. " (".$getTransactionInProgress['devise_source']['famille_devise'].")" : null ?>

                                                             </span>

                                                            </div>

                                                            <div class="row margin-0-auto kt-padding-t-10">

                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24"/>
                                                                        <path d="M8,13.1668961 L20.4470385,11.9999863 L8,10.8330764 L8,5.77181995 C8,5.70108058 8.01501031,5.63114635 8.04403925,5.56663761 C8.15735832,5.31481744 8.45336217,5.20254012 8.70518234,5.31585919 L22.545552,11.5440255 C22.6569791,11.5941677 22.7461882,11.6833768 22.7963304,11.794804 C22.9096495,12.0466241 22.7973722,12.342628 22.545552,12.455947 L8.70518234,18.6841134 C8.64067359,18.7131423 8.57073936,18.7281526 8.5,18.7281526 C8.22385763,18.7281526 8,18.504295 8,18.2281526 L8,13.1668961 Z" fill="#000000"/>
                                                                        <path d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M4,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 Z" fill="#000000" opacity="0.3"/>
                                                                    </g>
                                                                 </svg>
                                                            </span>

                                                                <span class="kt-margin-l-10">

                                                                    <?php
                                                                    if(isset($getTransactionInProgress,$codeDeviseIsMtn))
                                                                    {



                                                                        if($codeDeviseIsMtn === true && $getTransactionInProgress['devise_source']['lib_devise'] === "MTN BENIN")
                                                                        {

                                                                            $ArrayNumeroDepot = explode("+229 ",$getTransactionInProgress['numero_depot']);

                                                                            $numeroTel = array_pop($ArrayNumeroDepot);



                                                                            echo '<h5>TAPER CE CODE POUR LE PAIEMENT : <b style="font-weight: bold !important;padding: 2px !important" class="bg-dark color-white margin-top-10 margin-bottom-10">*400*46*'.$numeroTel.'*'. $getTransactionInProgress['quantite_source'].'#</b><br></h5>';
                                                                        }
                                                                        else
                                                                        {
                                                                            echo "<b class='text-decoration-underline'>".$getTransactionInProgress['numero_depot']."</b>";
                                                                        }
                                                                    }
                                                                    ?>
                                                                </span>


                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 display-flex flex-nowrap kt-padding-t-20-desktop">

                                        <div class="row margin-0-auto" style="text-align: center !important">
                                            <center>
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="height: 70px !important; width: 120px !important" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                                        <rect fill="#000000" opacity="0.3" transform="translate(13.000000, 6.000000) rotate(-450.000000) translate(-13.000000, -6.000000) " x="12" y="8.8817842e-16" width="2" height="12" rx="1"/>
                                                        <path d="M9.79289322,3.79289322 C10.1834175,3.40236893 10.8165825,3.40236893 11.2071068,3.79289322 C11.5976311,4.18341751 11.5976311,4.81658249 11.2071068,5.20710678 L8.20710678,8.20710678 C7.81658249,8.59763107 7.18341751,8.59763107 6.79289322,8.20710678 L3.79289322,5.20710678 C3.40236893,4.81658249 3.40236893,4.18341751 3.79289322,3.79289322 C4.18341751,3.40236893 4.81658249,3.40236893 5.20710678,3.79289322 L7.5,6.08578644 L9.79289322,3.79289322 Z" fill="#000000" fill-rule="nonzero" transform="translate(7.500000, 6.000000) rotate(-270.000000) translate(-7.500000, -6.000000) "/>
                                                        <rect fill="#000000" opacity="0.3" transform="translate(11.000000, 18.000000) scale(1, -1) rotate(90.000000) translate(-11.000000, -18.000000) " x="10" y="12" width="2" height="12" rx="1"/>
                                                        <path d="M18.7928932,15.7928932 C19.1834175,15.4023689 19.8165825,15.4023689 20.2071068,15.7928932 C20.5976311,16.1834175 20.5976311,16.8165825 20.2071068,17.2071068 L17.2071068,20.2071068 C16.8165825,20.5976311 16.1834175,20.5976311 15.7928932,20.2071068 L12.7928932,17.2071068 C12.4023689,16.8165825 12.4023689,16.1834175 12.7928932,15.7928932 C13.1834175,15.4023689 13.8165825,15.4023689 14.2071068,15.7928932 L16.5,18.0857864 L18.7928932,15.7928932 Z" fill="#000000" fill-rule="nonzero" transform="translate(16.500000, 18.000000) scale(1, -1) rotate(270.000000) translate(-16.500000, -18.000000) "/>
                                                    </g>
                                                </svg>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="kt-portlet kt-iconbox kt-iconbox--animate">
                                            <div class="kt-portlet__body">
                                                <div class="kt-iconbox__body">
                                                    <div class="kt-iconbox__icon">

                                                        <?php
                                                        if(isset($getTransactionInProgress) && !empty($getTransactionInProgress)):
                                                            ?>

                                                            <img style="width: 80px; height: 80px" src="<?= $getTransactionInProgress['devise_destination']['image_devise'] ?>"/>

                                                        <?php
                                                        endif;
                                                        ?>

                                                    </div>
                                                    <div class="kt-iconbox__desc kt-padding-t-20">
                                                        <h3 class="kt-iconbox__title">
                                                            <a class="kt-link" href="javascript:void(0);">
                                                                <?= isset($getTransactionInProgress) && !empty($getTransactionInProgress) ? $getTransactionInProgress['devise_destination']['lib_devise'] : null ?>
                                                            </a>
                                                        </h3>
                                                        <div class="kt-iconbox__content">
                                                            <div class="row margin-0-auto">

                                                             <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24"/>
                                                                            <circle fill="#000000" opacity="0.3" cx="20.5" cy="12.5" r="1.5"/>
                                                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 6.500000) rotate(-15.000000) translate(-12.000000, -6.500000) " x="3" y="3" width="18" height="7" rx="1"/>
                                                                            <path d="M22,9.33681558 C21.5453723,9.12084552 21.0367986,9 20.5,9 C18.5670034,9 17,10.5670034 17,12.5 C17,14.4329966 18.5670034,16 20.5,16 C21.0367986,16 21.5453723,15.8791545 22,15.6631844 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,6 C2,4.8954305 2.8954305,4 4,4 L20,4 C21.1045695,4 22,4.8954305 22,6 L22,9.33681558 Z" fill="#000000"/>
                                                                        </g>
                                                                 </svg>
                                                             </span>

                                                                <span class="kt-margin-l-10">
                                                                 <?= isset($getTransactionInProgress) && !empty($getTransactionInProgress) ? $getTransactionInProgress['quantite_destination']. " (".$getTransactionInProgress['devise_destination']['famille_devise'].")" : null ?>

                                                             </span>

                                                            </div>

                                                            <div class="row margin-0-auto kt-padding-t-10">

                                                            <span>
                                                               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24"/>
                                                                        <path d="M22,17 L22,21 C22,22.1045695 21.1045695,23 20,23 L4,23 C2.8954305,23 2,22.1045695 2,21 L2,17 L6.27924078,17 L6.82339262,18.6324555 C7.09562072,19.4491398 7.8598984,20 8.72075922,20 L15.381966,20 C16.1395101,20 16.8320364,19.5719952 17.1708204,18.8944272 L18.118034,17 L22,17 Z" fill="#000000"/>
                                                                        <path d="M2.5625,15 L5.92654389,9.01947752 C6.2807805,8.38972356 6.94714834,8 7.66969497,8 L16.330305,8 C17.0528517,8 17.7192195,8.38972356 18.0734561,9.01947752 L21.4375,15 L18.118034,15 C17.3604899,15 16.6679636,15.4280048 16.3291796,16.1055728 L15.381966,18 L8.72075922,18 L8.17660738,16.3675445 C7.90437928,15.5508602 7.1401016,15 6.27924078,15 L2.5625,15 Z" fill="#000000" opacity="0.3"/>
                                                                        <path d="M11.1288761,0.733697713 L11.1288761,2.69017121 L9.12120481,2.69017121 C8.84506244,2.69017121 8.62120481,2.91402884 8.62120481,3.19017121 L8.62120481,4.21346991 C8.62120481,4.48961229 8.84506244,4.71346991 9.12120481,4.71346991 L11.1288761,4.71346991 L11.1288761,6.66994341 C11.1288761,6.94608579 11.3527337,7.16994341 11.6288761,7.16994341 C11.7471877,7.16994341 11.8616664,7.12798964 11.951961,7.05154023 L15.4576222,4.08341738 C15.6683723,3.90498251 15.6945689,3.58948575 15.5161341,3.37873564 C15.4982803,3.35764848 15.4787093,3.33807751 15.4576222,3.32022374 L11.951961,0.352100892 C11.7412109,0.173666017 11.4257142,0.199862688 11.2472793,0.410612793 C11.1708299,0.500907473 11.1288761,0.615386087 11.1288761,0.733697713 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 3.661508) rotate(-270.000000) translate(-11.959697, -3.661508) "/>
                                                                    </g>
                                                                </svg>
                                                            </span>

                                                                <span class="kt-margin-l-10">

                                                                    <?php
                                                                    if(isset($getTransactionInProgress) && !empty($getTransactionInProgress)):
                                                                        ?>

                                                                        <?php
                                                                        if($getTransactionInProgress['adresse_reception'] !== null && $getTransactionInProgress['adresse_reception'] !== "") :
                                                                            ?>
                                                                            <b class="text-decoration-underline"><?= $getTransactionInProgress['adresse_reception'] ?></b>

                                                                        <?php
                                                                        else:
                                                                            ?>
                                                                            <ul style="list-style-type: circle !important;">
                                                                             <li>Nom: <?= isset($getTransactionInProgress['nom_transaction']) && !empty($getTransactionInProgress['nom_transaction']) ? $getTransactionInProgress['nom_transaction'] : "Pas dispnible"?></li>
                                                                             <li>Prénom(s): <?= isset($getTransactionInProgress['prenom_transaction']) && !empty($getTransactionInProgress['prenom_transaction']) ? $getTransactionInProgress['prenom_transaction'] : "Pas dispnible"?></li>
                                                                             <li>Pays: <?= isset($getTransactionInProgress['pays_transaction']) && !empty($getTransactionInProgress['pays_transaction']) ? $getTransactionInProgress['pays_transaction'] : "Pas dispnible"?></li>
                                                                             <li>Ville: <?= isset($getTransactionInProgress['ville_transaction']) && !empty($getTransactionInProgress['ville_transaction']) ? $getTransactionInProgress['ville_transaction'] : "Pas dispnible"?></li>
                                                                         </ul>

                                                                        <?php
                                                                        endif;
                                                                        ?>


                                                                    <?php
                                                                    endif;
                                                                    ?>
                                                                    <?= isset($getTransactionInProgress) && !empty($getTransactionInProgress) ? "<b class='text-decoration-underline'>".$getTransactionInProgress['adresse_reception']."</b>" : null ?>

                                                            </span>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row kt-margin-15">

                                    <div class="kt-portlet kt-iconbox padding-t-0 padding-b-0">
                                        <div class="kt-portlet__body" style="padding: 0 auto !important">
                                            <div class="kt-iconbox__body">
                                                <p class="kt-font-size-1_5-desktop font-weight-bold">Finaliser la transaction ?</p>&nbsp;&nbsp;&nbsp;
                                                <div class="btn-group" role="group" aria-label="First group">
                                                    <button type="button" onclick="finishTransaction(0)" id="btn_cancel_transaction" class="btn btn-danger font-weight-bold"> Non </button>
                                                    <button type="button" onclick="finishTransaction(1)" id="btn_continue_transaction" class="btn btn-success font-weight-bold"> Oui </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--end::Section::Resume Transaction-->
                        <?php
                        else:
                            ?>

                            <!--begin::Section::Conversion Form-->
                            <div class="kt-section">
                                <span class="kt-badge kt-badge--inline kt-padding-10 white kt-font-size-1_3-desktop border-radius-4">
                                       CHOIX DES DEVISES
                                </span>


                                <div class="kt-section__content kt-padding-t-20-tablet-and-mobile">

                                    <div class="row margin-0-auto kt-padding-t-30-desktop kt-margin-t-10-mobile">
                                        <div class="col-md-5 padding-l-0 padding-r-0">
                                            <label class="form-control-label" for="currencies_source">Ce que je donne</label>
                                            <select class="form-control selectpicker my_selectPicker my-card" style="border-right-color: #2e5771 !important;" id="currencies_source" name="currencies_source" data-live-search="true">



                                                <option>---Ce que je donne---</option>
                                                <?php
                                                if(isset($categorie_devises) && !empty($categorie_devises)):
                                                foreach ($categorie_devises as $categories_devises):
                                                ?>
                                                <optgroup class="font-size-1_0 font-weight-bold" data-content="<i class='flaticon2-sort-down'></i>&nbsp;" label="<?= $categories_devises['lib_categorie_devise'] ?>">
                                                    <?php

                                                    if(isset($devises) && !empty($devises)):
                                                        foreach ($devises as $keys=>$all_devises):
                                                            if(intval($all_devises['categorie_devise']) === intval($categories_devises['id_categorie_devise'])):
                                                                ?>


                                                                <option value="<?= $all_devises['id_devise'] ?>" style="font-size: 1.1em !important; font-weight: 400 !important" data-content="<div class='row margin-0-auto' style='display: flex !important; flex-wrap: nowrap !important'> <span><img width='50' height='50' class='img_rounded' src='<?= $all_devises['image_devise']?>'/></span><span class='container_currencies_libelle'> <?= $all_devises['lib_devise'] ?></span></div>">
                                                                   
                                                                </option>

                                                            <?php
                                                            endif;
                                                        endforeach;
                                                    endif;
                                                    ?>

                                                    <?php
                                                    endforeach;
                                                    endif;
                                                    ?>
                                            </select>
                                        </div>
                                        <div class="col-md-2 text-center kt-padding-t-40-desktop kt-padding-t-20-tablet-and-mobile">
                                            <h4 class="font-size-1_0"> A </h4>
                                        </div>
                                        <div class="col-md-5 padding-r-0 padding-l-0">
                                            <label for="currencies_destination">Ce que reçois</label>
                                            <select id="currencies_destination" name="currencies_destination" style=" border-right-color: #FF8B00 !important;" data-dropup-auto="auto" data-live-search="true" class="form-control selectpicker my-card">
                                                <option value="">---Ce que je reçois---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--end::Section::Conversion Form-->

                        <?php
                        endif;
                        ?>

                    </div>


                </div>

            <?php
            endif;
        endif;
        ?>
        <?php
        if(isset($user_data) && !empty($user_data)):
            if($user_data['telephone'] === null || $user_data['profil_complet'] === '0'):
                ?>

                <div class="row kt-margin-t-50 width-100-pourcent">
                    <div class="col-md-12" style="margin-top: -15px !important">
                        <h2 class="text-info pull-left"><i class="flaticon-refresh"></i>&nbsp;Convertir</h2>
                    </div>
                    <div class="col-md-12 kt-margin-t-15">
                        <div class="kt-portlet kt-iconbox">
                            <div class="kt-portlet__body">
                                <div class="kt-iconbox__body">
                                    <div class="kt-iconbox__icon kt-padding-t-35-desktop">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"/>
                                                <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="kt-iconbox__desc">
                                        <h3 class="text-primary kt-margin-b-30 text-decoration-underline">Complètez votre profil avant de pouvoir convertir</h3>

                                        <div class="kt-iconbox__content">
                                            <div class="btn-group-lg">
                                                <a href="<?= $this->url('my-profile',['action'=>'index']) ?>" class="pull-left btn btn-success btn-elevate btn-elevate-hover btn-lg kt-margin-b-15-tablet-and-mobile">Complètez votre profil</a>&nbsp;&nbsp;
                                                <button class="btn btn-lg btn-info btn-elevate btn-elevate-air" data-toggle="modal" data-target="#modal_bon_a_savoir">
                                                    Bon à savoir&nbsp;<i class="flaticon-questions-circular-button"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <?php
            endif;
        endif;
        ?>

        <div class="kt-portlet hide" id="kt-portlet_results">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h2 class="kt-portlet__head-title kt-font-size-1_8-desktop">
                        PROCÉDER A LA CONVERSION
                    </h2>
                </div>
            </div>
            <!--begin::Form-->
            <div class="row margin-0-auto width-100 kt-padding-40-desktop kt-padding-15-desktop" id="container_results">

            </div>
            <!--end::Form-->
        </div>


        <!--end:: Widgets/Stats-->
        <div class="row" style="margin-top: 10px !important">
            <div class="col-md-12">
                <div class="card">
                    <div class="body" style="padding: 12px !important">
                        <h1 class="ml5">
                                            <span class="text-wrapper">
                                               <span class="line line1"></span>
                                                 <span class="letters letters-left">INFOS FLASH</span>
                                                   <span class="">&#128152;</span>

                                                   <span class="letters letters-right">POUR LE BENIN</span>
                                                   <span class="line line2"></span>
                                             </span>
                        </h1>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
                        <div class="alert bg-teal">

                            <marquee scrolldelay="100"><h1 style="color:#22b8fd;"><kbd><tt><em><code>
                                                    <strong>
                                    
                                       VENDS DESORMAIS TES DOLLARS CRYPTOS A 550.FCFA
                                    
                                                    </strong>
                                                </code></em></tt></kbd></h1>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->

</div>

<div class="modal modal-stick-to-bottom fade" id="kt_modal_resume_transaction" role="dialog" data-backdrop="true" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="container_info_resume">

        </div>
    </div>
</div>

<div class="modal modal-stick-to-bottom fade" style="margin-top: 50px !important" id="kt_modal_next_of_transaction" role="dialog" data-backdrop="true" aria-modal="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content" id="container_info_next_of_transaction">

            <div class="modal-header">
                <h2 id="title_next_of_transaction" class="modal-title font-size-1_4" style="font-size: 1.4em !important">Informations de dépôts</h2>

            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id="btn_next_ot_transaction_previous"><i class="fa fa-arrow-left"></i> Précédent</button>
                <button type="button" class="btn btn-secondary" id="kt-btn_next_ot_transaction_purchase_transaction">Continuer&nbsp; </button>
            </div>
        </div>
    </div>
</div>

</div>



<div class="modal fade" id="id_transaction_modal"  role="dialog"  aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" id="kt-form_purchase_transaction">
                <div class="modal-header">
                    <h5 class="modal-title" id="svg_img_label_Arrow-rightsvg">ID de la Transaction</h5>

                </div>
                <div class="modal-body">
                    <div class="row margin-0-auto">
                        <div class="form-group width-100">
                            <label for="id_transaction" class="form-control-label">Id de la transaction</label>
                            <input type="text"  required minlength="8" class="form-control " placeholder="Identifiant de la transaction" id="id_transaction" name="id_transaction"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-default pull-left" id="btn_previous"><i class="fa fa-arrow-left"></i> Précédent</button>-->
                    <button type="submit" class="btn btn-secondary" id="kt-btn_purchase_transaction">Confirmer&nbsp;<i class="flaticon-envelope"></i> </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" style="width:100% !important;height: 100% !important; border: solid 0 !important" id="fedapay-modal"  role="dialog"  aria-modal="true">
    <div class="modal-dialog modal-lg" role="document" style="background-color: transparent !important; border:solid 0 !important">

        <form method="post" id="kt-form-fedapay" style="min-height: 600px !important">


        </form>

    </div>
</div>


<div class="modal fade" id="modal_bon_a_savoir"  role="dialog"  aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" id="kt-form_purchase_transaction">
                <div class="modal-header">
                    <h3 class="modal-title text-info" id="svg_img_label_Arrow-rightsvg">
                        Bon à savoir&nbsp;<i class="flaticon-questions-circular-button"></i>
                    </h3>

                </div>
                <div class="modal-body">
                    <div class="row margin-0-auto">
                        <h5 class="text-primary">Compléter son profil</h5>
                        <div class="col-md-12">
                            <p class="font-size-1_1-em text-align-justify-all">
                                Pour complèter votre profil vous devez :

                            <ul style="font-size:1.1em !important; list-style-type: square !important; display: block; text-align: justify-all !important; line-height: 30px;">
                                <li> En premier lieu renseigner vos informations personnelles comme votre numéro de téléphone, votre adresse etc...</li>
                                <li> Ensuite nous envoyer une demande de validation d'identité qui sera traitée avec le plus grand soin.<br>
                                    Une fois vos informations traitées et validées pour pourrez alors bénéficier pleinement des fonctionnalités de la plateforme.
                                </li>
                            </ul>
                            <br>
                            <b class="text-decoration-underline text-danger">NB:</b><b> Vous pouvez directement accéder à la procédure d'envoie de la demande à partir de ce lien:&nbsp;<a class="text-decoration-underline" href="<?= $this->url('my-profile',['action'=>'validate-information']) ?>">Cliquer ici</a> </b>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" data-dismiss="modal" class="btn btn-secondary btn-default btn-square btn-md pull-right">
                        Fermer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

