<?php
    $title = "Liste des Fieuls";
    $this->headTitle($title);
?>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                    <i class="flaticon2-group font-size-1_7 color-cyan"></i>&nbsp;&nbsp;
                    </span>
                    <h1 class="kt-portlet__head-title color-cyan font-size-1_7" style="">
                        Liste des Fieuls
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">


                    </div>
                </div>

            </div>

            <div class="kt-portlet__body">

                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <label class="form-control-label">Rechercher </label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_form_search" placeholder="Rechercher..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row align-items-center">
                    <div class="col-md-4">

                    </div>
                </div>



                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row padding-l-0 padding-r-0 clearfix width-100" style="margin: 0 auto !important;">
                    <!--begin: Datatable -->
                    <div class="kt-datatable width-100" id="kt-datatable-fieuls" style=""></div>
                    <!--end: Datatable -->
                </div>

                <!--end: Datatable -->

            </div>
        </div>

        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>