<?php

    $title = 'Parrainage';

    $this->headTitle($title);

echo $this->headLink()

    ->appendStylesheet('/assets/plugins/intl-tel-input/build/css/intlTelInput.min.css')
    ->appendStylesheet('/assets/plugins/intl-tel-input/examples/css/isValidNumber.css')

;



?>

<style type="text/css">
    #btn_link_website
    {

        font-size: 1.0em !important;
        font-weight: 400 !important;
    }
    #btn_link_website a
    {
        color:#0000FF !important;
    }

    #btn_link_website a:hover
    {

        font-size: 1.08em !important;
    }

    #btn_link_website :hover
    {

        font-size: 1.08em !important;
    }

    #telephone
    {
        padding-left: 100px !important;
    }

</style>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                    <i class="flaticon-map font-size-1_7 color-cyan"></i>&nbsp;&nbsp;
                    </span>
                    <h1 class="kt-portlet__head-title color-cyan font-size-1_7" style="">
                       Parrainage
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                    </div>
                </div>

            </div>

            <div class="kt-portlet__body">

                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <label class="form-control-label">Rechercher </label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_form_search" placeholder="Rechercher..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                                </div>
                            </div>

                            <div class="col-md-2"></div>

                            <div class="col-md-6">
                                <div class="kt-portlet kt-iconbox kt-iconbox--success kt-iconbox--animate-slow">
                                    <div class="kt-portlet__body">
                                        <div class="kt-iconbox__body">
                                            <div class="row margin-0-auto width-100">

                                                <div class="col-md-12 text-center margin-top-15">
                                                    <h4>
                                                        <b style="font-size: 2.5em !important">
                                                            <?= isset($getUser) && $getUser['gain'] !== null ? floatval($getUser['gain']) : 0 ?>
                                                        </b>
                                                        <span style="font-size: 0.9em !important" class="font-weight-bold">FCFA</span>
                                                    </h4>
                                                    <h4 class="kt-padding-t-10 font-size-1_2">
                                                        GAIN (BONUS)
                                                    </h4>
                                                </div>

                                                <div class="col-md-12 kt-padding-t-20 text-center">

                                                    <button class="btn btn-elevate btn-pill btn-outline-success" data-toggle="modal" data-target="#kt_modal_ask_recall" id="ask-recall">
                                                        Demander retrait
                                                    </button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row align-items-center">
                    <div class="col-md-4">

                    </div>
                </div>



                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row padding-l-0 padding-r-0 clearfix width-100" style="margin: 0 auto !important;">
                    <h4 class="">Historique des transactions</h4>
                    <!--begin: Datatable -->
                        <div class="kt-datatable width-100" id="kt_datatable_transactions_bonus" style=""></div>
                    <!--end: Datatable -->
                </div>

                <!--end: Datatable -->

            </div>
        </div>

        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>

<div class="modal fade" id="kt_modal_ask_recall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_form_ask_recall">
             <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Retrait du bonus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <label for="method_paiement" class="form-control-label">Méthode de paiement</label>
                        <select required class="form-control selectpicker" name="method_paiement" id="method_paiement">
                            <?php
                                if(isset($devises) && !empty($devises)):
                                    foreach($devises as $kk =>$elements):
                            ?>
                                <option value="<?= $elements['id_devise'] ?>"><?= $elements['lib_devise'] ?></option>
                            <?php
                                endforeach;
                               endif;
                            ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="montant">Montant à retirer <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="montant" name="montant" placeholder="Montant à retirer">
                        <div class="text-info padding-left-10">Montant minimum à retirer est de: 5400&nbsp;<b>FCFA</b></div>
                    </div>

                    <div class="form-group">
                        <label for="titulaire">Titulaire du compte <span class="">*</span></label>
                        <input type="text" name="titulaire" id="titulaire" class="form-control" value="<?= isset($getUser) && !empty($getUser) ? $getUser['nom_complet'] : "" ?>">
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="form-control-label">Numéro de téléphone</label>
                        <input type="tel" required style="padding-left: 0 !important" id="telephone" class="form-control" name="telephone">
                        <div id="valid-msg" class="hide col-md-12">✓ Correcte</div>
                        <div id="error-msg" class="hide col-md-12"></div>

                        <input type="hidden" name="dialCode" id="hidden_dialCode" value="<?= isset($getUser['dial_code']) && (!empty($getUser['dial_code']) || $getUser['dial_code'] !== null) ? $getUser['dial_code'] : null ?>"/>

                        <input type="hidden" name="codeCountry" id="hidden_codeCountry" value="<?= isset($getUser['code_pays']) && (!empty($getUser['code_pays']) || $getUser['code_pays'] !== null) ? $getUser['code_pays'] : null ?>"/>

                    </div>


            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success" id="btn_ask_recall">Demander retrait</button>
            </div>
          </div>
        </form>

    </div>
</div>
