<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 12-May-20
 * Time: 3:59 PM
 */
echo $this->headLink()

    ->appendStylesheet('/assets/plugins/datatables/datatables.bundle.css')
    ->appendStylesheet('/assets/pages/transactions/custom_style.css')
    ->appendStylesheet('/assets/plugins/tipped/dist/css/tipped.css')

;
?>

<style type="text/css">
    @media screen and (max-width: 992px) {
        #text_add_desktop
        {
            display: none !important;
        }
    }
    #tr_code_id_transaction
    {
        text-align: center !important;
    }
    .calendar_date_transaction:hover
    {
        cursor: pointer !important;
    }
    .hover_elements:hover
    {
        cursor: pointer !important;
    }
    .colonne_actions
    {
        text-align: center !important;
    }
</style>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-coins kt-font-size-1_8-desktop color-cyan"></i>&nbsp;&nbsp;
			</span>
                    <h1 class="kt-portlet__head-title color-cyan kt-font-size-1_8-desktop" style="margin-left:-8px !important">
                        Transactions
                    </h1>
                    <input type="hidden" value="<?= isset($welcomeMessage) && !empty($welcomeMessage) ? $welcomeMessage : "" ?>" id="hidden_welcome_message"/>
                </div>
                <?php
                if(isset($currentUser,$currentUser['codeProfile']) && $currentUser['codeProfile'] == 2):
                    ?>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">

                            <div class="dropdown dropdown-inline">
                                <a href="<?= $this->url('customer',array('action'=>'index')) ?>" class="btn btn-brand btn-icon-sm">
                                    <i class="flaticon-coins"></i>&nbsp;<span id="text_add_desktop"> Nouvelle transaction</span>
                                </a>

                            </div>
                        </div>
                    </div>
                <?php
                endif;
                ?>
            </div>

            <div class="kt-portlet__body">
                <!--begin: Search Form -->
                <form class="kt-form kt-form--fit kt-margin-b-20">
                    <?php
                    if(isset($currentUser,$currentUser['codeProfile']) && intval($currentUser['codeProfile']) == 2):
                        ?>

                        <div class="row kt-margin-b-20">
                            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                                <label>ID transaction</label>
                                <input type="text" id="id_transaction" class="form-control kt-input" placeholder="ID transaction" data-col-index="0"/>
                            </div>

                            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                                <label>Code transaction</label>
                                <input type="text" id="code_transaction" class="form-control kt-input" placeholder="Code transaction" data-col-index="1"/>
                            </div>

                            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                                <label for="kt_select_status">Status</label>
                                <select id="kt_select_status" class="form-control kt-input kt-selectpicker" data-col-index="2">
                                    <option value="">Choisir un status</option>
                                    <option value="0">En attente</option>
                                    <option value="1">Valider</option>
                                    <option value="2">Annuler</option>
                                </select>
                            </div>

                        </div>

                        <div class="row kt-margin-t-10">
                            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                                <label>Date transaction</label>
                                <div class="input-group pull-right" id="kt_daterangepicker_transactions">

                                    <input type="text" class="form-control kt-input" readonly id="kt_form_period" data-col-index="3" placeholder="Sélectionner une période">


                                    <div  class="input-group-append">
                                        <span class="input-group-text" id="btn_validate_period"><i class="la la-calendar-check-o"></i></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php
                    elseif(isset($currentUser,$currentUser['codeProfile']) && (intval($currentUser['codeProfile']) ===0 || intval($currentUser['codeProfile']) === 1)):
                        ?>
                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>ID transaction</label>
                                <input type="text" class="form-control kt-input" placeholder="ID transaction" data-col-index="0"/>
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Code transaction</label>
                                <input type="text" class="form-control kt-input" placeholder="Code transaction" data-col-index="1"/>
                            </div>

                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label for="kt_select_status">Status</label>
                                <select id="kt_select_status" class="form-control kt-selectpicker kt-input" data-col-index="2">
                                    <option value="">Choisir un status</option>
                                    <option value="0">En attente</option>
                                    <option value="1">Valider</option>
                                    <option value="2">Annuler</option>
                                </select>
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Date transaction</label>
                                <div class="input-group pull-right" id="kt_daterangepicker_transactions">

                                    <input type="text" class="form-control kt-input" id="kt_form_period" data-col-index="3" placeholder="Sélectionner une période">


                                    <div  class="input-group-append">
                                        <span class="input-group-text" id="btn_validate_period"><i class="la la-calendar-check-o"></i></span>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row kt-margin-b-20">
                            <div class="col-md-4">
                                <label for="kt_list_customers">Choisir un client</label>
                                <select id="kt_list_customers" class="form-control kt-selectpicker kt-input" data-col-index="4" data-live-search="true" >
                                    <option value="">Sélectionner un client</option>
                                    <?php
                                    if(isset($customersTransaction) && !empty($customersTransaction)):
                                        foreach ($customersTransaction as $values):
                                            ?>
                                            <option value="<?= $values['id_user'] ?>"><?= $values['nom_complet'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                            <?php
                            if(isset($gestionnairesTransactions) && !empty($gestionnairesTransactions)):

                                ?>
                                <div class="col-md-4">
                                    <label for="kt_form_managers">Choisir un gestionnaire </label>
                                    <select id="kt_form_managers" class="form-control kt-selectpicker kt-input" data-col-index="5">
                                        <option value="">Choisir un gestionnaire</option>

                                        <?php
                                        foreach ($gestionnairesTransactions as $items):
                                            ?>

                                            <option value="<?= $items['id_user'] ?>"><?= $items['nom_complet'] ?></option>
                                        <?php
                                        endforeach;
                                        ?>


                                    </select>
                                </div>
                            <?php
                            endif;
                            ?>

                            <div class="col-md-4"></div>
                        </div>


                    <?php
                    else:
                        ?>

                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>ID transaction</label>
                                <input type="text" class="form-control kt-input" placeholder="ID transaction" data-col-index="0"/>
                            </div>

                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Code transaction</label>
                                <input type="text" class="form-control kt-input" placeholder="Code transaction" data-col-index="1"/>
                            </div>

                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label for="kt_form_select_status">Status</label>
                                <select id="kt_form_select_status" type="text" class="form-control kt-selectpicker kt-input"  data-col-index="2">
                                    <option value="">Choisir un status</option>
                                    <option value="0">En attente</option>
                                    <option value="1">Valider</option>
                                    <option value="2">Annuler</option>
                                </select>
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Date transaction</label>
                                <div class="input-group pull-right" id="kt_daterangepicker_transactions">

                                    <input type="text" class="form-control kt-input" readonly="true" id="kt_form_period" data-col-index="3" placeholder="Sélectionner une période">


                                    <div  class="input-group-append">
                                        <span class="input-group-text" id="btn_validate_period"><i class="la la-calendar-check-o"></i></span>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row kt-margin-b-20">
                            <div class="col-md-4">
                                <label for="kt_list_customers">Choisir un client</label>
                                <select id="kt_list_customers" class="form-control kt-selectpicker kt-input" data-col-index="4" data-live-search="true" >
                                    <option value="">Sélectionner un client</option>
                                    <?php
                                    if(isset($customersTransactions) && !empty($customersTransactions)):
                                        foreach ($customersTransactions as $values):
                                            ?>
                                            <option value="<?= $values['id_user'] ?>"><?= $values['nom_complet'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>


                            <div class="col-md-4"></div>
                        </div>

                    <?php
                    endif;
                    ?>



                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-brand--icon" id="kt_search">
						<span>
							<i class="la la-search"></i>
							<span>Rechercher</span>
						</span>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						<span>
							<i class="la la-close"></i>
							<span>Annuler</span>
						</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!--begin: Datatable -->

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                <div class="row table-responsive width-100" style="margin: 0 auto !important">
                    <?php
                    if(isset($currentUser)):

                        if($currentUser['codeProfile'] == 2):
                            ?>


                            <!--begin: Datatable -->
                            <div class="kt-datatable" id="kt_table_transactions"></div>
                            <!--end: Datatable -->

                        <?php
                        else:
                            ?>
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_transactions">
                                <thead>
                                <tr>
                                    <th>
                                        ID/Ticket transaction
                                    </th>
                                    <th>Context de la transaction</th>
                                    <th>Quantités Convertie/fournie</th>
                                    <th>Adresses Réception/Dépôt</th>
                                    <th style="width: 115px">Date transaction</th>
                                    <th style="width:115px">Client</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>


                                <tfoot>
                                <tr>
                                    <th>ID/Ticket transaction</th>
                                    <th>Context de la transaction</th>
                                    <th>Quantités Convertie/fournie</th>
                                    <th>Adresses Réception/Dépôt</th>
                                    <th style="width: 115px !important">Date transaction</th>
                                    <th>Client</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

                        <?php
                        endif;
                    endif;
                    ?>

                </div>

                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>


</div>
<div class="modal fade" id="kt_modal_date_transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Date transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>




<div class="modal fade" id="kt_modal_info_customer" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informations du client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="kt_modal_info_manager" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestionnaire concerné</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kt_modal_info_number_depot" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestionnaire du numéro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
