<?php

    $title= 'Retrait de Bonus';

    $this->headTitle($title);
?>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                    <i class="flaticon2-layers font-size-1_7 color-cyan"></i>&nbsp;&nbsp;
                    </span>
                    <h1 class="kt-portlet__head-title color-cyan font-size-1_7" style="">
                        Demandes de retrait de bonus
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">


                    </div>
                </div>

            </div>

            <div class="kt-portlet__body">

                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">
                                <label class="form-control-label">Ticket de la demande </label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_form_search" placeholder="Rechercher..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                                </div>
                            </div>
                            <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">
                                <label class="form-control-label">Nom & Prénom(s) du client</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_form_search" placeholder="Rechercher..." id="searchScustomer">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row align-items-center">
                    <div class="col-md-4">

                    </div>
                </div>



                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row padding-l-0 padding-r-0 clearfix width-100" style="margin: 0 auto !important;">
                    <!--begin: Datatable -->
                    <div class="kt-datatable width-100" id="kt-datatable-demandes-retrait" style=""></div>
                    <!--end: Datatable -->
                </div>

                <!--end: Datatable -->

            </div>
        </div>

        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>

<div class="modal fade" id="kt_modal_accepted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="">
    <div class="modal-dialog" role="document">
        <form method="post" id="kt_form_accept_recall">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Retrait du bonus</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="id_transaction" class="form-control-label">Identifiant de la transaction</label>
                        <input type="text" name="id_transaction" class="form-control" required id="id_transaction" placeholder="Identifiant de la transaction"/>
                        <span class="text-info">Veuillez indiquer l'identifiant de la transaction</span>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success" id="btn_accept_recall">Sauvegarder</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="kt_modal_rejected" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="">
    <div class="modal-dialog" role="document">
        <form method="post" id="kt_form_reject_recall">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Retrait du bonus</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="method_paiement" class="form-control-label">Motif du rejet</label>
                        <textarea name="motif" id="motif" required class="form-control" placeholder="Motif du rejet..."></textarea>
                        <div class="text-primary">Veuillez indiquer le motif du rejet</div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success" id="btn_ask_recall">Sauvegarder</button>
                </div>
            </div>
        </form>

    </div>
</div>
