<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 31-May-20
 * Time: 12:12 PM
 */
?>

<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 12-May-20
 * Time: 3:59 PM
 */
echo $this->headLink()

    ->appendStylesheet('/assets/plugins/datatables/datatables.bundle.css')
    ->appendStylesheet('/assets/pages/transactions/custom_style.css')

;
?>

<style type="text/css">
    @media screen and (max-width: 992px) {
        #text_add_desktop
        {
            display: none !important;
        }
    }
    #tr_code_id_transaction
    {
        text-align: center !important;
    }
    .calendar_date_transaction:hover
    {
        cursor: pointer !important;
    }
    .hover_elements:hover
    {
        cursor: pointer !important;
    }
    .colonne_actions
    {
        text-align: center !important;
    }
</style>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-statistics kt-font-size-1_8-desktop color-cyan"></i>&nbsp;&nbsp;
			</span>
                    <h1 class="kt-portlet__head-title color-cyan kt-font-size-1_8-desktop" style="">
                        Statistiques
                    </h1>

                </div>

            </div>

            <div class="kt-portlet__body">
                <!--begin: Search Form -->
                <form class="kt-form kt-form--fit kt-margin-b-20">

                        <div class="row kt-margin-b-20">
                                <?php
                                 if(isset($gestionnairesTransactions) && !empty($gestionnairesTransactions)):

                                ?>
                                <div class="col-lg-4">
                                    <label for="kt_form_managers">Choisir un gestionnaire</label>
                                    <select id="kt_form_managers" class="form-control kt-selectpicker kt-input" data-col-index="0">
                                        <option value="">Tout</option>

                                        <?php
                                        foreach ($gestionnairesTransactions as $items):
                                            ?>

                                            <option value="<?= $items['id_user'] ?>"><?= $items['nom_complet'] ?></option>
                                        <?php
                                        endforeach;
                                        ?>


                                    </select>
                                </div>
                            <?php
                            endif;
                            ?>

                            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                                <label>Période de transaction</label>
                                <div class="input-group pull-right" id="kt_daterangepicker_transactions">

                                    <input type="text" class="form-control kt-input" id="kt_form_period" data-col-index="1" placeholder="Sélectionner une période">


                                    <div  class="input-group-append">
                                        <span class="input-group-text" id="btn_validate_period"><i class="la la-calendar-check-o"></i></span>

                                    </div>
                                </div>

                            </div>

                        </div>

                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-brand--icon" id="kt_search">
						<span>
							<i class="la la-search"></i>
							<span>Rechercher</span>
						</span>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						<span>
							<i class="la la-close"></i>
							<span>Annuler</span>
						</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!--begin: Datatable -->

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                <div class="row table-responsive width-100" style="margin: 0 auto !important">

                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_statistics">
                                <thead>
                                    <tr>
                                        <th>Périodes</th>
                                        <th style="width: 230px !important">Transaction(s) validée(s)</th>
                                        <th style="">Transaction(s) annulée(s)</th>
                                        <th style="">Total transactions</th>
                                    </tr>
                                </thead>


                                <tfoot>
                                <tr>
                                    <th>Périodes</th>
                                    <th style="">Transaction(s) validée(s)</th>
                                    <th style="">Transaction(s) annulée(s)</th>
                                    <th style="">Total transactions</th>

                                </tr>
                                </tfoot>
                            </table>


                </div>

                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>


</div>
