<?php

echo $this->headLink()
        ->appendStylesheet($this->basePath('assets/plugins/intl-tel-input/build/css/intlTelInput.min.css'));
    $title = "Accueil";
    $this->headTitle($title);
?>
<!-- ABOUT COMPANY SECTION START -->
<div class="section-full home-about-section p-t80 bg-no-repeat bg-bottom-right" id="container_about"  style="background-image:url(<?= $this->basePath('img/background/bg-coin.png') ?>)">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6">
                <div class="wt-box text-right">
                    <img class="width-100 margin-0-auto" style="" src="<?= $this->basePath('/img/about/about_us.jpg') ?>" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="wt-right-part p-b80">
                    <!-- TITLE START -->
                    <div class="section-head text-left padding-left-20">

                        <h2 class="text-uppercase">A propos de nous</h2>
                        <div class="wt-separator-outer"><div class="wt-separator bg-primary"></div></div>
                    </div>
                    <!-- TITLE END -->
                    <div class="section-content">
                        <div class="wt-box padding-left-20 width-100">
                            <h3>
                                <strong>
                                    SERVICE FINANCIER MULTI-DEVISES.
                                </strong>
                            </h3>
                            <p class="font-size-1_1 text-align-justify" style="line-height: 30px !important">
                                LUNIChange est spécialisé dans les opérations d'échange de monnaie éléctronique en devise locale.
                                Notre objectif principal est d'introduire des solutions innovantes sur le marché financier africain.
                                Nous mettons en place des services rentables destinés aussi bien aux entreprises et aux organisations institutionnelles qu'aux particuliers.
                                Nous assurons la confidentialité des données personnelles de nos utilisateurs.
                            </p>
                            <div class="col-md-12 padding-l-0 padding-r-0 margin-0-auto padding-t-0" style="margin-top:-8px !important">

                                <ul class="list-check-circle upper-alpha primary font-size-0_9 text-align-left">
                                    <li class="padding-left-30">Conversion en temps quasi-réel</li>
                                    <li class="padding-left-30">100% sûr, rapide et fiable</li>
                                    <li class="padding-left-30">Les échanges en moins de 10 minutes</li>
                                    <li class="padding-left-30">Excellente ergonomie</li>
                                    <li class="padding-left-30">Approche restrictive de la protection des données</li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT COMPANY SECTION  END -->

<!-- WHY CHOOSE US SECTION START  -->
<div class="section-full  p-t80 p-b80 bg-gray" id="container_why_trust_us">
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head text-center">

            <h2 class="text-uppercase">Pourquoi nous faire confiance ?</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator bg-primary"></div>
            </div>

        </div>
        <!-- TITLE END-->
        <div class="section-content no-col-gap">
            <div class="row clearfix">


                <!-- TABS DEFAULT NAV LEFT -->
                <div class="wt-tabs border-top vertical bg-tabs">
                    <ul class="nav nav-tabs kt_portlet bg-white" style="background-color: white !important">
                        <li class="text-center active"">
                        <a data-toggle="tab" href="#web-design-33" aria-expanded="false">
                            <img src="<?= $this->basePath('img/why_trust_us/projet.png') ?>" alt="Projet">
                        </a>
                        </li>
                        <li class="text-center">
                            <a data-toggle="tab" href="#graphic-design-33" aria-expanded="false">
                                <img src="<?= $this->basePath('img/why_trust_us/plan.png') ?>" width="60" height="60" alt="Plan">

                            </a>
                        </li>
                        <li class="text-center">
                            <a data-toggle="tab" href="#developement-33" aria-expanded="true">
                                <img src="<?= $this->basePath('img/why_trust_us/reussite.png') ?>" width="60" height="60" alt="Réussite">
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content padding-left-15" style="">

                        <div id="web-design-33" class="tab-pane kt_portlet active padding-15" style="">
                            <h3 class="text-uppercase">
                                Projet
                            </h3>
                            <div class="wt-separator-outer" style="margin-top: -15px !important">
                                <div class="wt-separator bg-primary"></div>
                            </div>

                            <h5 style="text-align: left !important">Nous nous sommes engagés à : </h5>
                            <p class="m-b0 margin-top-15 font-size-1_1 line-height-30 text-align-justify" style="">

                                Fournir une palettte de services pratiques et intuitifs et qui reposent sur des principes clairement définis.
                                Forts de notre expérience dans ce domaine, <b style="color: #ec1 !important">Sécurité</b>, <b style="color: #3ec1d5 !important;">Innovation</b> et <b>Accessibilité</b> sont la pierre angulaire sur laquelle est bâtie tout notre système.

                                Fournir aussi à nos clients, des services de change, de paiements et de transactions Forex sur toute l'étendue du continent africain. Nous offrons aussi une large palette de crypto-monnaies.

                            </p>
                        </div>

                        <div id="graphic-design-33" class="tab-pane kt_portlet padding-15">

                            <h3 class="text-uppercase">
                                Plan
                            </h3>
                            <div class="wt-separator-outer" style="margin-top: -15px !important">
                                <div class="wt-separator bg-primary"></div>
                            </div>

                            <p class="m-b0 margin-top-15 font-size-1_1 line-height-30 text-align-justify" style="">
                                Une stratégie bien pensée, un travail d'équipe et une organisation rigoureuse sont les attributs qui nous ont permis de relever tous les défis qui se dressent devant nous. Ce sont ces attributs qui nous ont aussi permis de bâtir notre identité.

                            </p>
                        </div>

                        <div id="developement-33" class="tab-pane kt_portlet padding-15">
                            <h3 class="text-uppercase">
                                Réussite
                            </h3>
                            <div class="wt-separator-outer" style="margin-top: -15px !important">
                                <div class="wt-separator bg-primary"></div>
                            </div>

                            <p class="m-b0 margin-top-15 font-size-1_1 line-height-30 text-align-justify" style="">
                                Une offre innovante et un developpement dynamique nous permettent d'êtres récompensés par les organismes reconnus et par tous nos clients.

                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- WHY CHOOSE US SECTION END -->

<!-- COMPANY DETAIL SECTION START -->
<div class="section-full p-t50 p-b50 overlay-wraper wt-box graph-part-right text-white"  data-stellar-background-ratio="0.5" style="background-image:url(<?= $this->basePath('img/background/bg-1.webp') ?>);">
    <div class="overlay-main bg-secondry opacity-05"></div>
    <div class="container" style="">
        <div class="section-content">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="text-black wt-icon-box-wraper center color-white">

                        <div class="font-70 font-weight-800 m-b5"><span class="">95</span><span>%</span></div>

                        <span class="font-18 text-left">Transactions</span>


                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="m-b30 text-black wt-icon-box-wraper center color-white">
                        <div class="font-70 font-weight-800 m-b5"><span class="">85</span><span>%</span></div>
                        <span class="font-18">Abonnés</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="m-b30 text-black wt-icon-box-wraper center color-white">
                        <div class="font-70 font-weight-800 m-b5"><span class="">75</span><span>%</span></div>
                        <span class="font-18">Partenaires</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="m-b30 wt-icon-box-wraper center color-white">
                        <div class="font-70 font-weight-800 m-b5"><span class="">15</span><span>%</span></div>
                        <span class="font-18">Réclamations</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- COMPANY DETAIL SECTION End -->

<!-- HOW IT WORK SECTION START  -->
<div class="section-full  p-t80 p-b80 bg-gray" id="container_our_payment_way">
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head text-center">

            <h1 class="text-uppercase">NOS MOYENS DE PAIEMENTS</h1>
            <div class="wt-separator-outer"><div class="wt-separator bg-primary"></div></div>

        </div>
        <!-- TITLE END-->
        <div class="section-content no-col-gap">
            <div class="row">

                <!-- COLUMNS 1 -->
                <div class="col-md-4 col-sm-4 step-number-block">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                        <div class="icon-lg text-primary m-b20">
                            <a href="#"  class="icon-cell"><img width="220" height="256" src="<?= $this->basePath('img/main-slider/slider2/bitcoin.png') ?>" alt=""></a>

                        </div>
                        <div class="icon-content">
                            <div class="step-number"></div>
                            <h2 class="wt-tilte text-uppercase font-weight-500">Bitcoin</h2>
                            <p class="font-size-0_9" style="margin-top: -12px !important; color: #4a4a4a !important">Crypto-Monnaie</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-md-4 col-sm-4 step-number-block">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5 ">
                        <div class="icon-lg m-b20">
                            <a href="#" class="icon-cell"><img width="220" height="256" src="<?= $this->basePath('img/ripple.svg') ?>" alt=""></a>
                        </div>
                        <div class="icon-content text-black">
                            <div class="step-number active"></div>
                            <h2 class="wt-tilte text-uppercase font-weight-500">Ripple</h2>
                            <p class="font-size-0_9" style="margin-top: -12px !important; color: #4a4a4a !important">Crypto-Monnaie</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-md-4 col-sm-4 step-number-block">
                    <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                        <div class="icon-lg text-primary m-b20">
                            <a href="#" class="icon-cell"><img src="<?= $this->basePath('img/dollar.webp')?>" width="220" height="256" alt=""></a>
                        </div>
                        <div class="icon-content">
                            <div class="step-number"></div>
                            <h2 class="wt-tilte text-uppercase font-weight-500">Dollar</h2>
                            <p class="font-size-0_9" style="margin-top: -12px !important; color: #4a4a4a !important">Devise</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- HOW IT WORK  SECTION END -->


<!-- OUR TEAM MEMBER SECTION START -->
<div class="section-full wt-our-team bg-white p-t80 p-b50" id="container_help">
    <div class="container">

        <!-- TITTLE START -->
        <div class="section-head text-center">

            <h1 class="text-uppercase">Avez-vous des questions ? </h1>
            <div class="wt-separator-outer">
                <div class="wt-separator bg-primary"></div>
            </div>
        </div>
        <!-- TITLE END -->

        <div class="section-content p-b30">
            <div class="wt-accordion acc-bg-primary" id="accordion7">
                <div class="panel wt-panel">
                    <div class="acod-head acc-actives">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" class="font-size-1_5" href="#collapseOne7" data-parent="#accordion7" >

                                Comment faire un envoi ?
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseOne7" class="acod-body collapse in">
                        <div class="acod-content p-tb15">
                            <p class="padding-left-15 text-align-justify font-size-1_3 line-height-30 font-weight-300">
                                Cliquez sur le bouton <b>Faire une transaction !</b> Ensuite inscrivez-vous.
                                Si vous êtes déjà inscrits alors entrez vos informations de connection et connectez-vous.
                                Vous cliquez ensuite sur <em style="text-decoration: underline !important;">Acheter</em>. Vous n'avez plus qu'a suivre les instructions.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse"  href="#collapseTwo7" class="collapsed font-size-1_5" data-parent="#accordion7" >
                                Comment faire un retrait ?
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseTwo7" class="acod-body collapse">
                        <div class="acod-content p-tb15">
                            <p class="font-size-1_3 text-align-justify line-height-30 font-weight-300">
                                Cliquez sur le bouton Faire une transaction ! Ensuite inscrivez-vous.
                                Si vous êtes déjà inscrits alors entrez vos informations de connection et connectez-vous.
                                Vous cliquez ensuite sur Vendre. Vous n'avez plus qu'a suivre les instructions.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse"  href="#collapseThree7" class="collapsed font-size-1_5" data-parent="#accordion7" >
                                Comment utiliser votre site ? <span class="indicator"><i class="fa fa-plus pull-right"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseThree7" class="acod-body collapse">
                        <div class="acod-content p-tb15">
                            <p class="font-size-1_3 text-align-justify line-height-30 font-weight-300">
                                Connectez-vous après inscription.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse"  href="#collapseFour7" class="collapsed font-size-1_5" data-parent="#accordion7" >
                                Dans la rubrique ce que je donne; pourquoi je ne vois pas payeer en dollars? <span class="indicator"><i class="fa fa-plus pull-right"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseFour7" class="acod-body collapse">
                        <div class="acod-content p-tb15">
                            <p class="font-size-1_3 text-align-justify line-height-30 font-weight-300">
                                Veuillez patienter ça sera disponible dans 24h.
                            </p>

                        </div>
                    </div>
                </div>


                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse"  href="#collapseFive7" class="collapsed font-size-1_5" data-parent="#accordion7" >
                                Comment complèter mon profil?<span class="indicator"><i class="fa fa-plus pull-right"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseFive7" class="acod-body collapse">
                        <div class="acod-content p-tb15">
                            <p class="font-size-1_3 text-align-justify line-height-30 font-weight-300">
                                Veuillez cliquer sur l’icône bleu à droite dans le cadre supérieur puis ensuite sur le bouton Modifier mon profil.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse"  href="#collapseSix7" class="collapsed font-size-1_5" data-parent="#accordion7" >
                                Où se trouve l’identifiant (ID) ?<span class="indicator"><i class="fa fa-plus pull-right"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseSix7" class="acod-body collapse">
                        <div class="acod-content p-tb15">
                            <p class="font-size-1_3 text-align-justify line-height-30 font-weight-300">
                                l’ID se trouve en bas dans le message de confirmation de l’envoi.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-left-40" style="margin-top:25px !important">
                <a href="<?= $this->url('faq') ?>" class="m-b15 site-button pull-right radius-xl m-r15 bg-white  color-cyan btn_kt_portlet text-center font-size-1_0 border-radius-20 text-uppercase font-weight-600" type="button">
                    Voir plus&nbsp;<i class="fa fa-eye"></i>
                </a>
            </div>

        </div>

    </div>

</div>
</div>
<!-- OUR TEAM MEMBER SECTION END -->



<!-- CONTACT US SECTION END  -->
<div class="section-full overlay-wraper bg-center bg-cover bg-no-repeat  bg-gray" id="container_contact_us" style="background-image:url(<?= $this->basePath('img/background/bg2.webp') ?>)">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">

        <div class="row conntact-home">
            <div class="col-md-7 col-sm-7">
                <div class="section-content p-tb70">
                    <!-- TITLE -->
                    <div class="section-head text-left text-white">
                        <h1 class="text-uppercase">Nous écrire</h1>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE -->
                    <div class="contact-home-left">
                        <form  class="" id="form_send_message" method="post">
                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input name="fullname" id="fullname" type="text" required class="form-control input_kt_portlet border-radius-4" placeholder="Nom complet"/>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input name="email" type="email"  id="email" class="form-control input_kt_portlet border-radius-4" required placeholder="Email"/>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input name="phone" id="phone" type="text" class="form-control input_kt_portlet border-radius-4" required placeholder="Téléphone"/>

                                        <span id="valid-msg" class="hide">✓ Correcte</span>
                                        <span id="error-msg" style="color: red !important;" class="hide"></span>

                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input name="subject" id="subject" type="text" class="form-control input_kt_portlet border-radius-4" required placeholder="Objet">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control input_kt_portlet border-radius-4" rows="4" placeholder="Laissez votre message..."></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" id="btn_submit_send_message" class="site-button skew-icon-btn btn-block btn_kt_portlet border-radius-5">
										<span class="font-18 inline-block text-uppercase p-lr15">
                                          Envoyer
                                       </span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- CONTACT US OFFER SECTION END  -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-center bg-full-height bg-no-repeat"  style="background-image:url(<?= $this->basePath('/img/background/bg-testimonial.webp') ?>);">
    <div class="container">
        <!-- TITLE START -->
        <div class="section-head text-center">

            <h1 class="text-uppercase">Ce que disent nos clients</h1>
            <div class="wt-separator-outer">
                <div class="wt-separator bg-primary"></div>
            </div>
        </div>
        <!-- TITLE END -->

        <!-- TESTIMONIAL 4 START ON BACKGROUND -->
        <div class="section-content">
            <div class="owl-carousel home-carousel-1">
                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-pic-block radius-bx">
                            <div class="testimonial-pic radius">
                                <img src="<?= $this->basePath('img/profil_testimonials.png') ?>" width="132" height="132" alt="">
                            </div>
                        </div>
                        <div class="testimonial-text clearfix">
                            <div class="testimonial-paragraph">
                                <span class="fa fa-quote-left text-primary"></span>
                                <p>
                                   Avec lunichange c'est vraiment la sécurité les amis.
                                    J'ai lancé un retrait BTC en une minute mon flooz a sonné.💶💷
                                </p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <strong class="testimonial-name">Mr Adolphe FELEE</strong>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-pic-block radius-bx">
                            <div class="testimonial-pic radius">
                                <img src="<?= $this->basePath('img/profil_testimonials.png') ?>" width="132" height="132" alt="">
                            </div>
                        </div>
                        <div class="testimonial-text clearfix">
                            <div class="testimonial-paragraph">
                                <span class="fa fa-quote-left text-primary"></span>
                                <p>
                                    Merci , moi je ne fais que recommandé lunichange à mes amis.

                                </p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <strong class="testimonial-name"> Mr Dieudonné Prosper SOMAVO </strong>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-pic-block radius-bx">
                            <div class="testimonial-pic radius">
                                <img src="<?= $this->basePath('img/profil_testimonials.png') ?>" width="132" height="132" alt="">
                            </div>
                        </div>
                        <div class="testimonial-text clearfix">
                            <div class="testimonial-paragraph">
                                <span class="fa fa-quote-left text-primary"></span>
                                <p>

                                   Je te dis pas leader... j'ai opté Lunichange...je reçois mon argent sans difficulté et rapide en plus....

                                </p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <strong class="testimonial-name">Mr TOKPASSI Boris</strong>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- SECTION CONTENT END -->

<!-- OUR CLIENT SLIDER START -->
<div class="section-full overlay-wraper bg-cover bg-repeat-x bg-primary" style="background-image:url(<?= $this->basePath('img/background/bg-7.png') ?>)">
    <div class="container">

        <!-- IMAGE CAROUSEL START -->
        <div class="wt-subscribe-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="call-to-action-left p-tb20 ">
                            <h1 class="text-uppercase m-b10 font-size-2_0 font-weight-600">
                                Et si on se lançait ?
                            </h1>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="call-to-action-right p-tb30 center" style="padding-top: 40px !important">
                            <a href="<?= $this->url('login',array('action'=>'index')) ?>" style="text-decoration: none !important">
                                <button class="m-b15 site-button  radius-xl m-r15 bg-white  color-cyan btn_kt_portlet text-center font-size-1_0 border-radius-20 text-uppercase font-weight-600" type="button">
                                    Faire une transaction&nbsp;<i class="fa fa-shopping-bag"></i>
                                </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- IMAGE CAROUSEL START -->
    </div>

</div>
<!-- OUR CLIENT SLIDER END -->

<?=
    $this->headScript()
        ->appendFile($this->basePath('assets/plugins/intl-tel-input/build/js/intlTelInput.js'))
        ->appendFile($this->basePath('assets/pages/home/custom_script.js'))
        ->appendFile($this->basePath('assets/plugins/sweetAlert2/sweetAlert2.min.js'))

?>