<?php
	/**
	 * Created by PhpStorm.
	 * User: carlos
	 * Date: 17-Apr-20
	 * Time: 7:09 PM
	 */
	$startDate = $endDate = null;
	if(isset($date_picker_limits) && !empty($date_picker_limits))
    {

        $startDate =$date_picker_limits['start'];
        $endDate = $date_picker_limits['end'];
    }
	
?>



<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
	<div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

	</div>


	<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
		<!--Begin::Dashboard 6-->
		<!--begin:: Widgets/Stats-->

		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__head kt-portlet__head--lg">
				<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-customer font-size-1_8 color-cyan"></i>&nbsp;&nbsp;
			</span>
					<h1 class="kt-portlet__head-title color-cyan font-size-1_8" style="">
						Gestion des clients
					</h1>
				</div>

			</div>

			<div class="kt-portlet__body">
				
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                    <label class="form-control-label">Rechercher le client</label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input type="text" class="form-control" placeholder="Rechercher..." id="generalSearch">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Status:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_status">
                                            <option value="">Tout</option>
                                            <option value="0">Bloqué</option>
                                            <option value="1">Actif</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label">
                                <label>Type:</label>
                            </div>
                            <div class="kt-form__control">
                                <select class="form-control bootstrap-select" id="kt_form_type">
                                    <option value="">All</option>
                                    <option value="1">En ligne</option>
                                    <option value="0">Déconnecté(s)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">

                             <label>Date d'inscription</label>
                             <div class="input-group pull-right" >

                                    <input type="text" class="form-control" readonly="" id="kt_form_period" placeholder="Sélectionner une période">


                                 <div  class="input-group-append">
                                     <span class="input-group-text" id="btn_validate_period"><i class="la la-calendar-check-o"></i></span>
                                     <span class="input-group-text" id="btn_cancel_period"><i class="la la-calendar-times-o"></i></span>
                                 </div>
                             </div>


                             <input type="hidden" id="start_date" value="<?= isset($startDate) && $startDate!== null ? $startDate: null ?>"/>
                             <input type="hidden" id="end_date" value="<?= isset($endDate) && $endDate!== null ? $endDate: null ?>"/>


                     </div>

                      </div>
                    </div>

                </div>

                <div class="row align-items-center">
                    <div class="col-md-4">

                    </div>
                </div>



                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="col-md-12 padding-l-0 padding-r-0 clearfix width-100" style="overflow-x: auto !important">
                        <!--begin: Datatable -->
                         <div class="kt-datatable" id="auto_column_hide"></div>
                        <!--end: Datatable -->
                </div>

                    <!--end: Datatable -->

			</div>
		</div>


		<!--end:: Widgets/Stats-->

		<!--End::Dashboard 6-->
	</div>
	<!-- end:: Content -->
</div>

</div>

