@media screen and (min-width: 992px)
{
    .kt_container__fluid
    {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .footer_copyright
    {
        padding-left: 100px !important;
    }
}

@media screen and (max-width: 992px)
{
    .kt_container__fluid
    {
        padding-top: 10px !important;
    }
}