.margin-bottom-5
{
    margin-bottom: 5px !important;
}
.margin-bottom-10
{
    margin-bottom: 10px !important;
}
.margin-bottom-15
{
    margin-bottom: 15px !important;
}
.margin-bottom-20
{
    margin-bottom: 20px !important;
}
.margin-bottom-25
{
    margin-bottom: 25px !important;
}
.margin-bottom-30
{
    margin-bottom: 30px !important;
}
.margin-bottom-35
{
    margin-bottom: 35px !important;
}
.margin-bottom-40
{
    margin-bottom: 40px !important;
}

.margin-top-5
{
    margin-top:5px !important;
}
.margin-top-10
{
    margin-top:10px !important;
}

.margin-top-15
{
    margin-top:15px !important;
}
.margin-top-20
{
    margin-top:20px !important;
}

.margin-top-25
{
    margin-top:25px !important;
}
.margin-top-30
{
    margin-top:30px !important;
}
.required
{
    color: darkred !important;
}

.padding-l-0
{
    padding-left: 0 !important;
}

.padding-r-0
{
    padding-right: 0 !important;
}

.padding-left-5
{
    padding-left:5px !important;
}

.padding-left-10
{
    padding-left: 10px !important;
}
.padding-left-15
{
    padding-left: 15px !important;
}
.padding-left-20
{
    padding-left: 20px !important;
}

.padding-left-40
{
    padding-left: 40px !important;
}
.padding-left-50
{
    padding-left: 50px !important;
}
.padding-left-60
{
    padding-left: 60px !important;
}
.padding-left-65
{
    padding-left: 65px !important;
}
.padding-left-70
{
    padding-left: 70px !important;
}
.padding-left-75
{
    padding-left: 75px !important;
}
.padding-left-80
{
    padding-left: 80px !important;
}
.padding-left-85
{
    padding-left: 85px !important;
}
.padding-left-90
{
    padding-left: 90px !important;
}

.padding-left-95
{
    padding-left: 95px !important;
}

.padding-left-100
{
    padding-left: 100px !important;
}

.padding-right-5
{
    padding-right: 5px !important;
}

.padding-right-10
{
    padding-right: 10px !important;
}

.padding-right-15
{
    padding-right: 15px !important;
}
.padding-right-20
{
    padding-right: 20px !important;
}
.padding-right-30
{
    padding-right: 30px !important;
}
.padding-right-40
{
    padding-right: 40px !important;
}
.padding-right-50
{
    padding-right: 50px !important;
}

.padding-right-60
{
    padding-right: 60px !important;
}

.padding-right-65
{
    padding-right: 65px !important;
}
.padding-right-70
{
    padding-right: 70px !important;
}
.padding-right-75
{
    padding-right: 75px !important;
}
.padding-right-80
{
    padding-right: 80px !important;
}
.padding-right-85
{
    padding-right: 85px !important;
}
.padding-right-90
{
    padding-right: 90px !important;
}
.padding-right-95
{
    padding-right: 95px !important;
}
.padding-right-100
{
    padding-right: 100px !important;
}

.width-100
{
    width: 100% !important;
}
.width-90
{
    width: 90% !important;
}
.width-85
{
    width: 85% !important;
}

.width-80
{
    width: 80% !important;
}

.text-align-left
{
    text-align: left !important;
}
.text-align-justify
{
    text-align: justify !important;
}
.text-align-justify-all
{
    text-align: justify-all !important;
}

.font-size-0_72
{
    font-size: 0.72em ;
}

.font-size-0_73
{
    font-size: 0.73em ;
}

.font-size-0_74
{
    font-size: 0.74em ;
}
.font-size-0_75
{
    font-size: 0.75em ;
}
.padding-t-0
{
    padding-top: 0 !important;
}

.padding-b-0
{
    padding-bottom: 0 !important;
}
.font-size-0_8
{
    font-size: 0.8em !important;
}

.font-size-0_9
{
    font-size: 0.9em !important;
}


.font-size-1_0
{
    font-size: 1.0em !important;
}

.font-size-1_1
{
    font-size: 1.1em !important;
}

.font-size-1_2
{
    font-size: 1.2em !important;
}

.font-size-1_3
{
    font-size: 1.3em !important;
}

.font-size-1_4
{
    font-size: 1.4em !important;
}

.font-size-1_5
{
    font-size: 1.5em !important;
}

.font-size-1_6
{
    font-size: 1.6em !important;
}

.font-size-1_7
{
    font-size: 1.7em !important;
}

.font-size-1_8
{
    font-size: 1.8em !important;
}

.font-size-2_0
{
    font-size: 2.0em !important;
}

.font-size-3_0
{
    font-size: 3.0em !important;
}

.margin-0-auto
{
    margin: 0 auto !important;
}
.my_paragraph
{
    margin: auto !important;

    word-wrap: break-word !important;
    width: 100% !important;
    line-height: 30px !important;
}
.bg-white
{
    background-color: #fff !important;
}
.kt_portlet
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
    background-color: #fff !important;
    margin-bottom: 20px !important;
    border-radius: 4px !important;
}
.btn_kt_portlet
{

    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
}

.input_kt_portlet
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
}
.color-cyan
{
    color: #3ec1d5 !important;
}
.bg-cyan
{
    background-color: #3EC1D5 !important;
}
.padding-10
{
    padding: 10px !important;
}
.padding-15
{
    padding: 15px !important;
}

.padding-20
{
    padding: 20px !important;
}

.line-height-10
{
    line-height: 10px !important;
}

.line-height-15
{
    line-height: 15px !important;
}

.line-height-20
{
    line-height: 20px !important;
}

.line-height-25
{
    line-height: 25px !important;
}

.line-height-30
{
    line-height: 30px !important;
}

.color-white
{
    color: #fff !important;
}
.border-radius-20
{
    border-radius: 20px !important;
}
.border-radius-15
{
    border-radius: 15px !important;
}

.border-radius-10
{
    border-radius: 10px !important;
}

.border-radius-5
{
    border-radius: 5px !important;
}

.border-radius-4
{
    border-radius: 4px !important;
}
.border-d1d1d1
{
    border: solid 1px #D1D1D1 !important;
}
.forest-green
{
    color: forestgreen;
}

.padding-1
{
    padding: 1px !important;
}
.padding-4
{
    padding: 4px !important;
}

.padding-8
{
    padding: 8px !important;
}
.padding-12
{
    padding: 12px !important;
}
.padding-15
{
    padding: 15px !important;
}
.padding-20
{
    padding: 20px !important;
}
.padding-25
{
    padding: 25px !important;
}
.padding-30
{
    padding: 30px !important;
}
.padding-35
{
    padding: 35px !important;
}
.padding-40
{
    padding: 40px !important;
}
.bg-forest-green
{
    background-color: forestgreen !important;
}
.hide
{
    display: none !important;
}

.img_rounded
{
    display: block;
    width: 40px;
    height: 40px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.img_settings_equiv
{
    width: 50px;
    height: 50px;
}
.text_slider
{
    font-size: 1.8em;
    white-space: normal !important;

    line-height: 60px;
}
@media screen and (min-width: 992px)
{
    .text_slider
    {

        font-size: 2.5em !important;
        font-weight: 600 !important;

        line-height: 100px !important;
    }
    .links_to_hide_on_desktop
    {
        display: none !important;
    }
    .padding-120-desktop
    {
        padding-left: 120px !important;
        padding-right: 120px !important;
        padding-top: 50px !important;
        padding-bottom: 100px;
    }
    .kt-font-size-1_8-desktop
    {
        font-size: 1.8em !important;
    }

    .kt-font-size-1_7-desktop
    {
        font-size: 1.7em !important;
    }
    .kt-font-size-1_6-desktop
    {
        font-size: 1.6em !important;
    }
    .kt-font-size-1_5-desktop
    {
        font-size: 1.5em !important;
    }
    .kt-font-size-1_4-desktop
    {
        font-size: 1.4em !important;
    }
    .kt-font-size-1_3-desktop
    {
        font-size: 1.3em !important;
    }

    .kt-font-size-1_2-desktop
    {
        font-size: 1.2em !important;
    }

    .kt-font-size-1_1-desktop
    {
        font-size: 1.1em !important;
    }
    .kt-font-size-1_0-desktop
    {
        font-size: 1.0em !important;
    }
    .kt-font-size-0_9-desktop
    {
        font-size: 0.9em !important;
    }
    .kt-font-size-0_8-desktop
    {
        font-size: 0.8em !important;
    }
    .kt-font-size-2_0-desktop
    {
        font-size: 2.0em !important;
    }
    .kt-font-size-2_1-desktop
    {
        font-size: 2.1em !important;
    }
    .kt-font-size-2_2-desktop
    {
        font-size: 2.2em !important;
    }
    .kt-font-size-2_3-desktop
    {
        font-size: 2.3em !important;
    }
    .kt-font-size-2_4-desktop
    {
        font-size: 2.4em !important;
    }
    .kt-font-size-2_5-desktop
    {
        font-size: 2.5em !important;
    }
    .kt-font-size-3_0-desktop
    {
        font-size: 3.0em !important;
    }

}

.display-flex
{
    display: flex !important;
}
.display-no-wrap
{
    flex-wrap: nowrap !important;
}
@media screen and (max-width: 992px)
{
    .text_hide_mobile
    {
        display: none !important;
    }
    #btn_how_it_works
    {
        margin-bottom: 12px !important;
        text-align: center !important;
        padding-left: 18px !important;
    }
    #website_topbar
    {
        display: none !important;
    }
}
.text-decoration-underline
{
    text-decoration: underline !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.me-card
{
    background: #fff !important;
    border-radius: 2px !important;
    display: inline-block !important;



}

.me-card-1
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;

}

.me-card-1:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    cursor: pointer !important;
}

.me-card-2
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.me-card-3
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.me-card-4
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.me-card-5
{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

