<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 17-Apr-20
 * Time: 7:09 PM
 */
echo $this->headLink()
    ->appendStylesheet('/assets/css/custom_media_style.css')

;
?>



<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                    <i class="flaticon2-group font-size-1_7 color-cyan"></i>&nbsp;&nbsp;
                    </span>
                    <h1 class="kt-portlet__head-title color-cyan font-size-1_7" style="">
                        Gestion des utilisateurs
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-brand btn-icon-sm" data-target="#kt_modal_4" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i> Nouvel utilisateur
                            </button>

                        </div>
                    </div>
                </div>

            </div>

            <div class="kt-portlet__body">

                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <label class="form-control-label">Rechercher l'utilisateur</label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_form_search" placeholder="Rechercher..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Etat du compte:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_status">
                                            <option value="">Tout</option>
                                            <option value="0">Actif</option>
                                            <option value="1">Bloqué</option>



                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Status en ligne:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_type">
                                            <option value="">All</option>
                                            <option value="1">En ligne</option>
                                            <option value="0">Déconnecté(s)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="row align-items-center">
                    <div class="col-md-4">

                    </div>
                </div>



                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row padding-l-0 padding-r-0 clearfix width-100" style="margin: 0 auto !important;">
                    <!--begin: Datatable -->
                    <div class="kt-datatable width-100" id="ajax_data" style=""></div>
                    <!--end: Datatable -->
                </div>

                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>

<!--begin::Modal-->
<div class="modal fade" id="kt_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" class="kt-form" onsubmit="return false;" id="kt_user_add_form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouvel utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row clearfix margin-0-auto">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Nom</label>
                                <input type="text" placeholder="Nom" required class="form-control" name="user_name" id="recipient-name">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="recipient-firstName" class="form-control-label">Prénom(s)</label>
                                <input type="text" placeholder="Prénom(s)" required class="form-control" name="user_firstName" id="recipient-firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <?php

                            if(isset($profils_user) && !empty ($profils_user)):

                                ?>
                                <label class="form-control-label" for="profile-user">Profil</label>
                                <select class="form-control kt-selectpicker" required id="profile-user" name="profile_user">

                                    <?php
                                    foreach ($profils_user as $item) :
                                        ?>
                                        <option value="<?= $item['code_profil'] ?>"><?= $item['lib_profil'] ?></option>

                                    <?php
                                    endforeach;
                                    ?>

                                </select>

                            <?php
                            endif;

                            ?>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="kt-form-email" class="form-control-label">Adresse mail</label>
                                <input type="email" placeholder="Adresse mail" required name="user_email" class="form-control" id="kt-form-email">
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6 kt-padding-t-25 text-center">
                            <button type="button" data-toggle="modal" id="btn-generate_password" class="btn btn-primary width-85">Générer mot de passe</button>
                            <div class="col-md-12 text-center">
                                <span id="receive_password" style="font-weight: bold"></span>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6 margin-top-30">
                            <div class="form-group">
                                <label for="kt-form-password" class="form-control-label">Mot de passe</label>
                                <input type="password" placeholder="Mot de passe" required name="user_password" class="form-control" id="kt-form-password">
                            </div>
                        </div>

                        <div class="col-md-6 margin-top-30">
                            <div class="form-group">
                                <label for="kt-form-rpassword" class="form-control-label">Saisir à nouveau le mot de passe</label>
                                <input type="password" name="user_rpassword" required placeholder="Saisir à nouveau" class="form-control" id="kt-form-rpassword">
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="kt_btn_user_add_form"  class="btn btn-primary">Confirmer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->

