<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 24-Apr-20
 * Time: 12:27 PM
 */

?>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt-margin-t-35 kt-margin-b-30">
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->

        <!--Begin:: App Aside-->
        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
            <!--begin:: Widgets/Applications/User/Profile1-->
            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head  kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">
                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-1">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M3.5,21 L20.5,21 C21.3284271,21 22,20.3284271 22,19.5 L22,8.5 C22,7.67157288 21.3284271,7 20.5,7 L10,7 L7.43933983,4.43933983 C7.15803526,4.15803526 6.77650439,4 6.37867966,4 L3.5,4 C2.67157288,4 2,4.67157288 2,5.5 L2,19.5 C2,20.3284271 2.67157288,21 3.5,21 Z" fill="#000000" opacity="0.3"/>
                                        <path d="M12,13 C10.8954305,13 10,12.1045695 10,11 C10,9.8954305 10.8954305,9 12,9 C13.1045695,9 14,9.8954305 14,11 C14,12.1045695 13.1045695,13 12,13 Z" fill="#000000" opacity="0.3"/>
                                        <path d="M7.00036205,18.4995035 C7.21569918,15.5165724 9.36772908,14 11.9907452,14 C14.6506758,14 16.8360465,15.4332455 16.9988413,18.5 C17.0053266,18.6221713 16.9988413,19 16.5815,19 C14.5228466,19 11.463736,19 7.4041679,19 C7.26484009,19 6.98863236,18.6619875 7.00036205,18.4995035 Z" fill="#000000" opacity="0.3"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__section">
                                    <?php
                                    if(isset($user_info) && !empty($user_info)):
                                        ?>
                                        <a href="#" class="kt-widget__username" data-toggle="tooltip" data-content="<?= $user_info['nom_complet'] ?>" title="<?= $user_info['nom_complet'] ?>">

                                            <?php

                                            $nameLength = strlen($user_info['nom_complet'] );

                                            if($nameLength >= 25)
                                            {
                                                echo substr($user_info['nom_complet'],0,$nameLength/2).'...';
                                            }
                                            else
                                            {
                                                echo $user_info['nom_complet'];
                                            }
                                            ?>

                                            <?php
                                            if(isset($user_info['code_profil']) && !empty($user_info['code_profil']))
                                            {
                                                if(intval($user_info['code_profil']) === 2)
                                                {
                                                    if($user_info['telephone'] === null || $user_info['profil_complet'] === '0')
                                                    {
                                                        echo '<div class="col-md-12 kt-margin-b-10">
                                                                <span class="kt-badge kt-badge--inline kt-badge--warning color-white">Profil non complet</span>
                                                               </div>';
                                                        echo '<div class="progress">
                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>';

                                                    }
                                                    else
                                                    {
                                                        echo ' <i class="flaticon2-correct kt-font-success"></i>';
                                                    }
                                                }
                                                else
                                                {
                                                    echo '<i class="flaticon2-correct kt-font-success"></i>';
                                                }
                                            }
                                            ?>


                                        </a>
                                        <span class="kt-widget__subtitle">
                                        <?= $user_info['lib_profil'] ?>
                                    </span>
                                    <?php
                                    endif;
                                    ?>
                                </div>


                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__content">
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Email:</span>
                                    <a href="#" class="kt-widget__data"><?= isset($user_info['email']) && !empty($user_info['email']) ? $user_info['email'] : null ?></a>
                                </div>
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Téléphone:</span>
                                    <a href="#" class="kt-widget__data">
                                        <?php
                                        if($user_info['telephone'] === NULL)
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        else
                                        {
                                            echo '+'.$user_info['dial_code'].''.$user_info['telephone'];
                                        }
                                        ?>
                                    </a>
                                </div>
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Ville:</span>
                                    <span class="kt-widget__data">
                                        <?php
                                        if($user_info['ville'] === NULL)
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        else
                                        {
                                            echo $user_info['ville'];
                                        }
                                        ?>
                                    </span>
                                </div>
                            </div>
                            <div class="kt-widget__items">

                                <a href="<?= $this->url('my-profile',array('action'=>'index')) ?>" class="kt-widget__item  <?php
                                if(isset($current_action) && !empty($current_action))
                                {
                                    if($current_action === 'index')
                                    {
                                        echo $menu_active;
                                    }
                                }

                                ?>">
                                  <span class="kt-widget__section">
                                    <span class="kt-widget__icon">

                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"/>
                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                                                </g>
                                            </svg>

                                    </span>
                                    <span class="kt-widget__desc">
                                        Modifier le profil
                                    </span>
                                  </span>
                                </a>
                                <a href="<?= $this->url('my-profile',array('action'=>'edit-password')) ?>" class="kt-widget__item  <?php
                                if(isset($current_action) && !empty($current_action))
                                {
                                    if($current_action === 'edit-password')
                                    {
                                        echo isset($menu_active) && $menu_active !== '' ? $menu_active : null;
                                    }
                                }

                                ?>">
                                    <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"/>
                                                    <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"/>
                                                    <path d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z" fill="#000000"/>
                                                </g>
                                            </svg>

                                        </span>
                                        <span  class="kt-widget__desc">
                                            Changer le mot de passe
                                        </span>
                                    </span>

                                </a>

                                <a href="<?= $this->url('my-profile',array('action'=>'identification')) ?>" class="kt-widget__item  <?php
                                if(isset($current_action) && !empty($current_action))
                                {
                                    if($current_action === 'identification')
                                    {
                                        echo isset($menu_active) && $menu_active !== '' ? $menu_active : "";
                                    }
                                }

                                ?>">
                                    <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"/>
                                                    <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
                                                    <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"/>
                                                    <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
                                                </g>
                                          </svg>
                                        </span>
                                        <span  class="kt-widget__desc">
                                           Validez vos informations
                                        </span>
                                    </span>
                                </a>
                                <a href="<?= $this->url('my-profile',array('action'=>'mentoring')) ?>" class="kt-widget__item  <?php
                                if(isset($current_action) && !empty($current_action))
                                {
                                    if($current_action == 'mentoring')
                                    {
                                        echo isset($menu_active) && !empty($menu_active) ? $menu_active : null;
                                    }
                                }

                                ?>">
                                  <span class="kt-widget__section">
                                    <span class="kt-widget__icon" style="padding-left: 4px !important">
                                        <i class="flaticon-network font-size-1_7"></i>
                                    </span>
                                    <span class="kt-widget__desc">
                                        Parrainage
                                    </span>
                                  </span>
                                </a>

                                <a  href="<?= $this->url('my-profile',array('action'=>'informations')) ?>" class="kt-widget__item <?php
                                if(isset($current_action) && !empty($current_action))
                                {
                                    if($current_action === 'informations')
                                    {
                                        echo isset($menu_active) ? $menu_active : null;
                                    }
                                }

                                ?>">
                                    <span class="kt-widget__section">
                                        <span class="kt-widget__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="kt-widget__desc">
                                           Informations personnelles
                                        </span>
                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!--end::Widget -->
                </div>
            </div>
            <!--end:: Widgets/Applications/User/Profile1-->
        </div>
        <!--End:: App Aside-->
