<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop"  id="kt_footer">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright footer_copyright">
            &copy;&nbsp;2020&nbsp;<a href="https://www.lunichange.com/dashboard/tableau-de-bord" class="kt-link"> <b class="color-cyan">Tous droits réservés LUNICHANGE</b> .</a>
        </div>

    </div>
</div>
<!-- end:: Footer -->

