<?php echo $this->doctype(); ?>

<html lang="fr">
<!-- BEGIN HEAD -->
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=EmulateIE7"/>

    <?php echo $this->headTitle("LUNICHANGE")->setSeparator(' | ')->setAutoEscape(true) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1')
        ->appendName('description', 'Plateforme d\'échange de devises')
        ->appendName('author', 'LUNICHANGE DEVELOPERS')
        ->appendName('keywords', '');
    ?>



    <!-- BEGIN HEAD CSS -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'href' => $this->basePath('img/logo_site/favicon_logo.png') . '', 'PREPEND'))
        ->appendStylesheet("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all","screen",'defer')
        ->appendStylesheet($this->basePath('assets/pages/global/style.bundle.css'),'screen')
        ->appendStylesheet($this->basePath('assets/pages/global/plugins.bundle.css'),'screen')
        ->appendStylesheet($this->basePath('assets/css/global_style.css'),'screen')
        ;
    ?>



    <!-- END HEAD CSS-->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN HEAD SCRIPT -->

    <script src="<?= $this->basePath('assets/plugins/checkout/checkout.js') ?>"></script>
    <script>
        var KTAppOptions = {"colors":{"state":{"brand":"#22b9ff","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
        //var KTUtil = $(document);
    </script>


    <!-- BEGIN HEAD SCRIPT-->
    <style type="text/css">
        @media screen and (min-width: 992px)
        {
            .kt_container__fluid
            {
                padding-left: 50px !important;
                padding-right: 50px !important;
            }
            .footer_copyright
            {
                padding-left: 100px !important;
            }
        }
    </style>


    <?php
    if(isset($user_code_profil) && ($user_code_profil !== null || $user_code_profil !== "")):
        if($user_code_profil === 2):
            ?>
            <!--Start of Tawk.to Script-->
            <script type="text/javascript">
                var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                (function(){
                    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                    s1.async=true;
                    s1.src='https://embed.tawk.to/5ec4e33a6f7d401ccbb833e0/default';
                    s1.charset='UTF-8';
                    s1.setAttribute('crossorigin','*');
                    s0.parentNode.insertBefore(s1,s0);
                })();
            </script>
            <!--End of Tawk.to Script-->

        <?php
        endif;
    endif;
    ?>
    <style type="text/css">
        #tawkchat-minified-box
        {
            margin-bottom: 30px !important;
        }
    </style>


</head>
<!-- BEGIN HEAD -->


<!-- BEGIN BODY -->
<body class="kt-quick-panel--right kt-demo-panel--right
    kt-offcanvas-panel--right
    kt-header--fixed kt-header-mobile--fixed
    kt-subheader--enabled kt-subheader--solid
    kt-aside--enabled kt-aside--fixed
    kt-aside--minimize kt-page--loading">

<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed " >
    <div class="kt-header-mobile__logo">
        <a href="<?= $this->url('dashboard',array('action'=>'tableau-de-bord')) ?>">
            <img alt="Logo" src="<?= $this->basePath('img/logo_site/favicon_logo.png') ?>" width="50" height="50" />
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <div class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></div>

        <div class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></div>
        <div class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></div>
    </div>
</div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <!-- begin:: Aside -->
        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>


        <?= isset($this->menu) && !empty($this->menu) ? $this->menu : null ?>

        <?= isset($this->content) && !empty($this->content) ? $this->content : null ?>


    </div>
    <?= $this->footer ?>

</div>
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->




<script type="text/javascript" src="<?= $this->basePath('assets/js/pages/components/utils/session-timeout-unminified.js') ?>"></script>

<script type="text/javascript" >
    var baseUrl = location.origin;
    var basePath = baseUrl+'/';
</script>
<?php
echo $this->headScript()



    ->appendFile($this->basePath('assets/js/pages/components/extended/sweetalert2.js'))
    ->appendFile($this->basePath('assets/js/pages/crud/file-upload/ktavatar.js'))
    ->appendFile($this->basePath('assets/pages/global/Helpers_new.js?'.uniqid()))
    ->prependFile($this->basePath('assets/js/scripts.bundle.js'))
    ->prependFile($this->basePath('assets/pages/global/plugins.bundle.js'))
/**
 *
 * On doit mettre des éléments ici
 */

// ->appendFile($this->basePath('assets/js/pages/dashboard.js'))
?>

<script type="text/javascript">
    $(document).ready(function(){

        checkStatusFedaPayTransaction();
        $('[data-toggle="kt-tooltip"]').tooltip();
        $.ajax({
            type:'POST',
            url:basePath+'luni-api/show-notification',
            dataType:'JSON',
            data:
                {
                    'showNotification':true
                },
            success:function(response)
            {
                if(response.success !== undefined)
                {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    toastr.success(response.success);
                }

            },
            error:function(state)
            {
                if(state.status === 404)
                    swal.fire('Erreur',"Une erreur s'est produite avec Ajax !",'error');
            }
        });



         function checkStatusFedaPayTransaction()
        {
           $.ajax({
               type: 'POST',
               dataType:'JSON',
               url:'/luni-api/check-status-transaction-fedapay',
               beforeSend:function()
               {
                   console.log("Vérification des transactions Fedapay");
               },
               success:function(response)
               {
                    if(response.success !== undefined)
                    {

                        customSweetAlert('success',"Terminé","Votre transaction Fedapay a été prise en compte.");
                    }
               },
               error:function()
               {
                   console.log("Une erreur s'est produite au cours du traitement...");
               }
           });

        }

    });
</script>
<?php
if(isset($user_code_profil) && ($user_code_profil !== null || $user_code_profil !== "")):
    if($user_code_profil !== 2):
        ?>
        <script type="text/javascript">
            $(document).ready(function(){



            });
        </script>

    <?php
    endif;
endif;
?>
</body>
<!-- END BODY -->
</html>



