<style type="text/css">
@media screen and (min-width: 1025px)
{
    #kt_header_menu
    {
        display: none !important;
    }
}
</style>
<!-- begin:: Page -->

		
		<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
			<!-- begin:: Aside Menu -->
			<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
				<div
					id="kt_aside_menu"
					class="kt-aside-menu "
					data-ktmenu-vertical="1"
					data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500"
				>
					
					<ul class="kt-menu__nav ">
      
						<?php if(isset($themenu)): ?>
							<?php foreach($themenu as $eachline):?>
								<li class="kt-menu__item  <?php if(is_array($eachline->child) && count($eachline->child)>0)
								{ echo 'kt-menu__item--submenu'; } ?> " aria-haspopup="true" <?php if(is_array($eachline->child) && count($eachline->child)>0)
								{ echo 'data-ktmenu-submenu-toggle="hover"'; } ?> >
									<a  href="<?php if(is_array($eachline->child) && count($eachline->child)>0)
									{ echo 'javascript:;'; } else { echo $this->url($eachline->controller, array('action' => $eachline->link,)); }
									?>" class="kt-menu__link <?= is_array($eachline->child) && count($eachline->child) > 0 ? "kt-menu__toggle" : "" ?>"><i class="kt-menu__link-icon <?= $eachline->icon ?>"></i>
										<span class="kt-menu__link-text"><?php echo $eachline->label; ?></span>
										
										<?php if(is_array($eachline->child) && count($eachline->child)>0): ?>
											<i class="kt-menu__ver-arrow la la-angle-right"></i>
										<?php endif; ?>
									</a>
									
									<?php if(is_array($eachline->child) && count($eachline->child)>0):?>
										
										<div class="kt-menu__submenu ">
											<span class="kt-menu__arrow"></span>
											<ul class="kt-menu__subnav">
												
												<li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true" >
													<span class="kt-menu__link"><span class="kt-menu__link-text"><?php echo $eachline->label; ?></span></span>
												</li>
												<?php foreach($eachline->child as $eachchild):?>
													
													<li class="kt-menu__item " aria-haspopup="true" >
														<a  href="<?php echo $this->url($eachchild->controller, array('action' => $eachchild->link,));?>" class="kt-menu__link ">
															<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="kt-menu__link-text"> <?php echo $eachchild->label; ?></span>
														</a>
													</li>
												<?php endforeach; ?>
											
											</ul>
										
										
										</div>
									<?php
									endif;
									?>
								
								</li>
							<?php
							endforeach;
						endif;
						?>
					</ul>
				</div>
			</div>
			<!-- end:: Aside Menu -->
		</div>
		<!-- end:: Aside -->


		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
			<!-- begin:: Header -->
			<div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed " >
				<!-- begin:: Aside -->
				<div class="kt-header__brand kt-grid__item bg-cyan" id="kt_header_brand" style=" background-color: #3EC1D5 !important;">
					<div class="kt-header__brand-logo" id="background_logo">
						<a href="<?= $this->url('tableau-de-bord',array('action'=>'index')) ?>">
							<img alt="Logo" src="<?= $this->basePath('img/logo_site/favicon_white_logo.png') ?>" width="64" height="64" />
						</a>
					</div>
				</div>
				<!-- end:: Aside -->
				<!-- begin:: Title -->
				<h3 class="kt-header__title kt-grid__item color-cyan" style="padding:0 !important;font-size: 1.6em !important; font-weight: 700 !important">
					<img src="<?= $this->basePath('img/logo_site/full_logo_blue.png') ?>" style="width: 200px; height:auto !important">
				</h3>
				<!-- end:: Title -->
				
				<!-- begin: Header Menu -->
				<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
				<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
					<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default">


                        <div class="col-md-12 text-center kt-padding-30">
                            <h4 class="kt-font-size-1_3 text-info">Mon Profile</h4>
                        </div>

                        <ul class="kt-menu__nav ">

                            <li class="kt-menu__item margin-top-10" aria-haspopup="true">

                                <a href="<?= $this->url('my-profile',array('action'=>'index')) ?>" class="kt-menu__link ">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                                            <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                                        </g>
                                    </svg>

                                    <span class="kt-menu__link-text padding-left-10">Modifier le Profil</span>
                                </a>
                            </li>


                            <li class="kt-menu__item margin-top-10" aria-haspopup="true">

                                <a href="<?= $this->url('my-profile',array('action'=>'edit-password')) ?>" class="kt-menu__link ">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" fill="#000000" opacity="0.3"/>
                                            <path d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z" fill="#000000"/>
                                        </g>
                                    </svg>

                                    <span class="kt-menu__link-text padding-left-10">Changer le mot de passe</span>
                                </a>
                            </li>

                            <li class="kt-menu__item margin-top-10" aria-haspopup="true">

                                <a href="<?= $this->url('my-profile',array('action'=>'identification')) ?>" class="kt-menu__link ">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
                                            <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"/>
                                            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
                                        </g>
                                    </svg>

                                    <span class="kt-menu__link-text padding-left-10">Validez vos informations</span>
                                </a>
                            </li>

                            <li class="kt-menu__item margin-top-10" aria-haspopup="true">

                                <a href="<?= $this->url('my-profile',array('action'=>'mentoring')) ?>" class="kt-menu__link ">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                        </g>
                                    </svg>

                                    <span class="kt-menu__link-text padding-left-10">Parrainage</span>
                                </a>
                            </li>

                            <li class="kt-menu__item margin-top-10" aria-haspopup="true">

                                <a href="<?= $this->url('my-profile',array('action'=>'informations')) ?>" class="kt-menu__link ">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                        </g>
                                    </svg>

                                    <span class="kt-menu__link-text padding-left-10">Informations personnelles</span>
                                </a>
                            </li>








                        </ul>
					
					</div>
				</div>
				<!-- end: Header Menu -->
				<!-- begin:: Header Topbar -->
				<div class="kt-header__topbar">
					<!--begin: Search -->
					<div class="kt-header__topbar-item kt-header__topbar-item--search dropdown"  id="kt_quick_search_toggle">
						<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
							<span class="kt-header__topbar-icon" ><i class="flaticon2-search-1"></i></span>
						</div>
						<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
							<div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact" id="kt_quick_search_dropdown">
								<form method="get" class="kt-quick-search__form">
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
										<input type="text" class="form-control kt-quick-search__input" placeholder="Search...">
										<div class="input-group-append"><span class="input-group-text"><i class="la la-close kt-quick-search__close"></i></span></div>
									</div>
								</form>
								<div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="325" data-mobile-height="200">
								
								</div>
							</div>
						</div>
					</div>
					<!--end: Search -->
					
					<!--begin: Notifications -->
					<div class="kt-header__topbar-item dropdown">
						<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
							<span class="kt-header__topbar-icon kt-header__topbar-icon--success"><i class="flaticon2-bell-alarm-symbol"></i></span>
							<span class="kt-hidden kt-badge kt-badge--danger"></span>
						</div>

					</div>
					<!--end: Notifications -->
					
					
					
					
					<!--begin: Language bar -->
					<!--<div class="kt-header__topbar-item kt-header__topbar-item--langs">
						<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
				<img class="" src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo6/dist/assets/media/flags/260-united-kingdom.svg" alt="" />
			</span>
						</div>
						<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
							<ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
								<li class="kt-nav__item kt-nav__item--active">
									<a href="#" class="kt-nav__link">
										<span class="kt-nav__link-icon"><img src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo6/dist/assets/media/flags/226-united-states.svg" alt="" /></span>
										<span class="kt-nav__link-text">English</span>
									</a>
								</li>
								<li class="kt-nav__item">
									<a href="#" class="kt-nav__link">
										<span class="kt-nav__link-icon"><img src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo6/dist/assets/media/flags/128-spain.svg" alt="" /></span>
										<span class="kt-nav__link-text">Spanish</span>
									</a>
								</li>
								<li class="kt-nav__item">
									<a href="#" class="kt-nav__link">
										<span class="kt-nav__link-icon"><img src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo6/dist/assets/media/flags/162-germany.svg" alt="" /></span>
										<span class="kt-nav__link-text">German</span>
									</a>
								</li>
							</ul>		</div>
					</div>-->
					<!--end: Language bar -->
					
					<!--begin: User bar -->
					<div class="kt-header__topbar-item kt-header__topbar-item--user">
						<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
							<span class="kt-hidden kt-header__topbar-welcome" style="color: #000 !important">Salut,</span>
							<span class="kt-hidden kt-header__topbar-username" style="color: #000 !important"><?php

                                        if(isset($user_data) && !empty($user_data))
                                        {
                                            $getExplode = explode(" ",$user_data['nom_complet']);
                                            if(!empty($getExplode))
                                            {
                                                echo $getExplode[0];
                                            }
                                        }

                                ?>
                            </span>
							<span class="kt-header__topbar-icon kt-hidden-"><i class="flaticon2-user-outline-symbol"></i></span>
						</div>
						<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
							<!--begin: Head -->
							<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(<?= $this->basePath('img/home_slider/digital_innovation.jpg') ?>)">
								<div class="kt-user-card__avatar">

									<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
									<span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success"><?= $user_data['nom_complet'][0] ?></span>
								</div>
								<div class="kt-user-card__name color-white font-size-1_1 font-weight-600" style="">
                                    <?php
                                        if(isset($user_data) && !empty($user_data))
                                        {
                                            $nameLength = strlen($user_data['nom_complet']);
                                            if($nameLength >= 30)
                                            {
                                                echo substr($user_data['nom_complet'],0,30-3).'...';
                                            }
                                            else
                                            {
                                                echo $user_data['nom_complet'];
                                            }
                                        }
                                    ?>
								</div>
								<div class="kt-user-card__badge">
									<!--<span class="btn btn-success btn-sm btn-bold btn-font-md"></span>-->
								</div>
							</div>
							<!--end: Head -->
							
							<!--begin: Navigation -->
							<div class="kt-notification">
								<a href="<?= $this->url('my-profile',array('action'=>'index')) ?>" class="kt-notification__item">
									<div class="kt-notification__item-icon">
										<i class="flaticon2-calendar-3 kt-font-success"></i>
									</div>
									<div class="kt-notification__item-details">
										<div class="kt-notification__item-title kt-font-bold">
											Mon Profile
										</div>

									</div>
								</a>
								<a href="javascript:void(0);" class="kt-notification__item">
									<div class="kt-notification__item-icon">
										<i class="flaticon2-mail kt-font-warning"></i>
									</div>
									<div class="kt-notification__item-details">
										<div class="kt-notification__item-title kt-font-bold">
											Notifications
										</div>

									</div>
								</a>
								<a href="javascript:void(0);" class="kt-notification__item">
									<div class="kt-notification__item-icon">
										<i class="flaticon2-rocket-1 kt-font-danger"></i>
									</div>
									<div class="kt-notification__item-details">
										<div class="kt-notification__item-title kt-font-bold">
											Mes Activités
										</div>

									</div>
								</a>
								<a href="javascript:void(0);" class="kt-notification__item">
									<div class="kt-notification__item-icon">
										<i class="flaticon2-hourglass kt-font-brand"></i>
									</div>
									<div class="kt-notification__item-details">
										<div class="kt-notification__item-title kt-font-bold">
											Historique de connexion
										</div>

									</div>
								</a>
								

								<div class="kt-notification__custom kt-space-between">

                                    <center>
                                        <a href="<?= $this->url('logout',array('action'=>'logout')) ?>" class="btn btn-label btn-label-brand btn-sm btn-bold">Déconnexion</a>

                                    </center>

								</div>
							</div>
							<!--end: Navigation -->
						</div>
					</div>
					<!--end: User bar -->
					
					
				</div>
				<!-- end:: Header Topbar -->
			</div>
			<!-- end:: Header -->
   
			
		
		