/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

.toggle-button-cover
{
    display: table-cell;
    position: relative;
    width: 150px;
    height: 45px;
    box-sizing: border-box;
}

.button-cover
{
    height: 0px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
    padding: 0 !important; 
}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 65px;
    height: 28px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 8 */
.button-8 .knobs:before, .button-8 .knobs:after, .button-8 .knobs span
{
    position: absolute;
    top: 4px;
    width: 24px;
    height: 24px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 7px 2px;
    border-radius: 50%;
    transition: 0.3s ease all;
}

.button-8 .knobs:before
{
    content: 'NO';
    color: #fff;
    left: 4px;
}

.button-8 .knobs:after
{
    content: 'YES';
    left: 42px;
    color: #fff;
    background-color: #03A9F4;
    opacity: 0;
}

.button-8 .knobs:before, .button-8 .knobs:after
{
    z-index: 2;
}

.button-8 .knobs span
{
    left: 4px;
    background-color: #f44336;
    z-index: 1;
}

.button-8 .checkbox:checked + .knobs:before
{
    opacity: 0;
}

.button-8 .checkbox:checked + .knobs:after
{
    opacity: 1;
}

.button-8 .checkbox:checked + .knobs span
{
    background-color: #fcebeb;
    transform: scale(4);
}




#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #143240;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}