<?php

?>


<!--begin: Form Wizard Step 1-->
<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
    <div class="kt-heading kt-heading--md">Modifier votre adresse</div>
    <div class="kt-form__section kt-form__section--first">
        <div class="kt-wizard-v2__form">

          <form method="POST" action="<?= $this->url('my-profile',['action'=>'adresse']) ?>">
            <div class="form-group">
                <label for="pays">Pays <span style="color: red !important">*</span></label>
                <select name="pays" id="pays" class="form-control" data-live-search="true">

                </select>
                <input type="hidden" id="hidden_pays" value="<?= isset($user_info) && (!empty($user_info['user_data']['pays']) || $user_info['user_data']['pays'] !== null) ? $user_info['user_data']['pays'] : null ?>"/>
            </div>
            <div class="form-group">
                <label for="ville">Ville <span style="color: red !important">*</span></label>
                <input type="text" class="form-control" id="ville" name="ville" placeholder="Ville">

            </div>
            <div class="form-group">
                <label for="region">Région <span style="color: red !important">*</span></label>
                <input type="text" class="form-control" id="region" name="region" placeholder="Région">

            </div>
            <div class="form-group">
                <label for="adresse">Adresse <span style="color: red !important">*</span></label>
                <input id="adresse" class="form-control" type="text" name="adresse" />
                <input type="hidden" value="<?=isset($user_info,$user_info['user_data']) && !empty($user_info['user_data']) ? $user_info['user_data']['id_user'] : null ?>" id="user_info"/>

            </div>



            <div class="col-md-12 padding-l-0">
                <button class="btn btn-success btn-sm btn-elevate-hover btn-elevate-air pull-left" id="btn_update_adresse">
                    <i class="flaticon-edit"></i>&nbsp;Sauvegarder les changements
                </button>
            </div>

          </form>



        </div>
    </div>
</div>
<!--end: Form Wizard Step 1-->



</div>
<?=
    $this->headScript()
        ->appendFile($this->basePath('assets/pages/my-profile/adresse_script.js'))
?>
