<?php
    $title = 'Changement de mot passe';

    $this->headTitle($title);
?>


<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h1 class="kt-portlet__head-title font-size-1_4" style="">MODIFIER MOT DE PASSE<small></small></h1>
                    </div>

                </div>

                <div class="kt-portlet__body" style="width: 100% !important; min-height: ">

                    <div class="row" style="width:100% !important; margin: 0 auto !important; border: solid 0 red">
                        <form style="width: 100% !important" method="POST" action="<?= $this->url('my-profile',['action'=>'edit-password']) ?>">

                            <div class="form-group col-md-12">
                                <label for="password">Mot de passe actuel <span style="color: red !important">*</span></label>
                                <input type="password" name="password" id="password" required class="form-control" placeholder="Mot de passe actuel"/>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="rpassword">Nouveau mot de passe <span style="color: red !important">*</span></label>
                                <input type="password" class="form-control" required id="rpassword" name="rpassword" placeholder="Nouveau mot de passe">

                            </div>
                            <div class="form-group col-md-12">
                                <label for="confirm_password">Confirmer mot de passe<span style="color: red !important">*</span></label>
                                <input type="password" class="form-control" required id="confirm_password" name="confirm_password" placeholder="Confirmer mot de passe">

                            </div>
                            <div class="col-md-12 ">
                                <button class="btn btn-success btn-sm btn-elevate-hover btn-elevate-air pull-left" type="submit" id="btn_update_password">
                                    <i class="flaticon-edit"></i>&nbsp;Sauvegarder les changements
                                </button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>



</div>
<?=
$this->headScript()
    ->appendFile($this->basePath('assets/pages/my-profile/edit-password/edit_password.js'))
?>
