<?php

$typeTablePieces = array(
  ''
);

$title = 'Validation Identification';

$this->headTitle($title);

?>
<style type="text/css">
    @media screen and (min-width: 992px)
    {
        #kt_table_demande
        {
            width: 99% !important;
        }
        .me-card-1 img
        {
            width: 125px !important;
            height: 100px !important;
        }
    }
    @media screen and (max-width: 991px)
    {
        #kt_table_demande
        {
            width: 100% !important;
        }
        .me-card-1 img
        {
            width: 100% !important;
            height: inherit!important;
        }
        .me-card-1
        {
            margin-bottom: 25px !important;
        }
    }

</style>


    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="row">
             <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h1 class="kt-portlet__head-title font-size-1_4" style="">VALIDATION D'IDENTIFICATION <small></small></h1>
                    </div>

                </div>

                <div class="kt-portlet__body" style="width: 100% !important; min-height: ">

                    <div class="row" style="width:100% !important; margin: 0 auto !important; border: solid 0 red">
                        <div class="col-md-12 padding-l-0 padding-r-0">
                            <?php if(isset($getUser,$documents) && $getUser['telephone'] !== null && empty($documents) &&  $getUser['profil_complet'] == '0') : ?>
                                <form method="POST" action="<?= $this->url('my-profile',['action'=>'identification']) ?>" enctype="multipart/form-data">
                                    <div class="col-md-12 margin-bottom-30">
                                        <h4 class="text-info text-decoration-underline margin-12">Pièces acceptées</h4>
                                        <div class="kt-list-timeline">
                                            <div class="kt-list-timeline__items">
                                                <div class="kt-list-timeline__item">
                                                    <span class="kt-list-timeline__badge kt-list-timeline__badge--success"></span>
                                                    <span class="kt-list-timeline__text">Carte LEPI</span>

                                                </div>
                                                <div class="kt-list-timeline__item">
                                                    <span class="kt-list-timeline__badge kt-list-timeline__badge--danger"></span>
                                                    <span class="kt-list-timeline__text">Carte d'identité </span>

                                                </div>
                                                <div class="kt-list-timeline__item">
                                                    <span class="kt-list-timeline__badge kt-list-timeline__badge--warning"></span>
                                                    <span class="kt-list-timeline__text">Passeport</span>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="padding-top: 50px !important">
                                        <label class="col-xl-4 col-lg-4 col-form-label">Document d'identité <span class="text-danger">*</span></label>
                                        <div class="col-lg-4 col-xl-5">
                                            <div class="kt-avatar" id="kt_user_avatar_1">
                                                <div class="kt-avatar__holder" style="background-image: url(<?= $this->basePath('img/id-card-doc/id_card.jpg') ?>)" title="Modèle de document d'identité"></div>
                                                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen"></i>
                                                    <input type="file" required name="id_card" accept=".png, .jpg, .jpeg">
                                                </label>
                                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                            </div>
                                            <span class="form-text text-muted">Types de fichiers autorisés : png, jpg, jpeg.</span>
                                            <input type="hidden" id="hiddenMsg" value="<?= isset($resultTreatment) && $resultTreatment !== null ? $resultTreatment['errorMsg'] : "" ?>"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="kt_select_type_piece">Type de du document <span class="text-danger">*</span></label>

                                        <select class="form-control selectpicker" id="kt_select_type_piece" required name="type_piece">
                                            <option value="">--Choisir la pièce--</option>
                                            <?php
                                            if(isset($type_pieces) && !empty($type_pieces)):
                                                foreach($type_pieces as $elements):
                                                    ?>

                                                    <option value="<?= $elements['code_type_piece'] ?>">
                                                        <?= $elements['lib_type_piece'] ?>
                                                    </option>
                                                <?php
                                                endforeach;
                                            endif;
                                            ?>
                                        </select>
                                        <input type="hidden" id="hidden_type_piece" value="<?= isset($dataPost,$dataPost['type_piece']) && !empty($dataPost) ? $dataPost['type_piece'] : "" ?>"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="numero_piece">Numéro de la pièce <span class="text-danger">*</span></label>
                                        <input type="text" name="numero_piece" value="<?= isset($dataPost) && !empty($dataPost) ? $dataPost['numero_piece'] : "" ?>" id="numero_piece" class="form-control" placeholder="Numéro de pièce"/>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Document selfie</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="kt-avatar" id="kt_user_avatar_2">
                                                <div class="kt-avatar__holder" style="background-image: url(<?= $this->basePath('img/id-card-doc/selfie_document.png') ?>)" title="Modèle de document d'identité"></div>
                                                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen"></i>
                                                    <input type="file" required name="document_selfie" accept=".png, .jpg, .jpeg">
                                                </label>
                                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                            </div>
                                            <span class="form-text text-muted">Types de fichiers autorisés : png, jpg, jpeg.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 padding-l-0">
                                        <button class="btn btn-success btn-sm btn-elevate-hover btn-elevate-air pull-left" id="btn_update_adresse">
                                            <i class="flaticon-edit"></i>&nbsp;Sauvegarder les changements
                                        </button>
                                    </div>
                                </form>
                            <?php
                            elseif(isset($getUser) && $getUser['telephone'] == null):
                                ?>

                                <div class="col-md-12">
                                    <div class="kt-portlet kt-iconbox">
                                        <div class="kt-portlet__body">
                                            <div class="kt-iconbox__body">
                                                <div class="kt-iconbox__icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="kt-iconbox__desc">
                                                    <h3 class="kt-iconbox__title">
                                                        <a class="kt-link" href="#">Message</a>
                                                    </h3>
                                                    <div class="kt-iconbox__content">
                                                        Vous devez d'abord mettre à jour votre profil avant de pouvoir soummettre votre demande d'identification
                                                    </div>
                                                    <div class="col-md-12 margin-top-20">
                                                        <a href="<?= $this->url('my-profile',['action'=>'index']) ?>" type="button" class="btn btn-success btn-elevate btn-square">
                                                            <i class="flaticon-edit"></i>&nbsp;Modifier votre profil
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php
                            else:
                                ?>

                                <?php
                                if(isset($documents) && !empty($documents)):
                                    ?>



                                    <table style="width: 99% !important" class="" id="kt_table_demande">
                                        <thead>
                                        <tr>
                                            <th style="width: 5% !important">Type de document</th>
                                            <th class="text-center" style="width:70px !important">Status</th>

                                            <th class="text-center" style="text-align:center;width: 100px;">Actions</th>
                                            <th style="width: 120px !important">Numéro de pièce</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <?php
                                        foreach($documents as $keys=>$values):
                                            ?>
                                            <tr>
                                                <td style="width: 130px !important">
                                                    <?= $values['lib_type_piece'] ?>
                                                </td>


                                                <td style="width:40px !important">
                                                    <?php
                                                    if($values['status_document'] == '0'):
                                                        ?>

                                                        <a href="javascript:void(0);" class="btn btn-elevate btn-elevate-air btn-square btn-sm btn-info kt-padding-5">
                                                            En attente...
                                                        </a>
                                                    <?php
                                                    elseif($values['status_document'] == '1'):
                                                        ?>
                                                        <a href="javascript:void(0);" class="btn btn-success btn-xs">
                                                            Accepté
                                                        </a>
                                                    <?php
                                                    else:
                                                        ?>
                                                        <a href="javascript:void(0);" class="btn btn-elevate btn-square btn-danger btn-sm" style="padding-bottom: 5px !important; padding-top: 5px !important">
                                                            Rejeté
                                                        </a>

                                                    <?php
                                                    endif;
                                                    ?>
                                                </td>


                                                <td>
                                                    <div class="btn-group-sm">
                                                        <?php
                                                        if($values['status_document'] == '0' && $values['lock_doc'] == '0'):
                                                            ?>
                                                            <a href="javascript:void(0);"  class="btn btn-primary btn-elevate btn-square btn-update-identify"  style="padding-top: 5px; padding-bottom: 5px !important" title="Modifier votre dossier" onclick="updateIdentity(<?= $values['id_document'] ?>)">
                                                                <i class="flaticon2-edit"></i>
                                                            </a>

                                                        <?php
                                                        elseif($values['status_document'] == '2' && $values['lock_doc'] == '0'):
                                                            ?>

                                                            <a href="javascript:void(0);" class="btn btn-primary btn-elevate  btn-square btn-update-identify" style="padding-top: 5px; padding-bottom: 5px !important" title="Modifier votre dossier" onclick="updateIdentity(<?= $values['id_document'] ?>)">
                                                                <i class="flaticon2-edit"></i>
                                                            </a>

                                                        <?php
                                                        elseif($values['status_document'] == '1'):
                                                            ?>

                                                            <center>
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                                                        <path d="M9.26193932,16.6476484 C8.90425297,17.0684559 8.27315905,17.1196257 7.85235158,16.7619393 C7.43154411,16.404253 7.38037434,15.773159 7.73806068,15.3523516 L16.2380607,5.35235158 C16.6013618,4.92493855 17.2451015,4.87991302 17.6643638,5.25259068 L22.1643638,9.25259068 C22.5771466,9.6195087 22.6143273,10.2515811 22.2474093,10.6643638 C21.8804913,11.0771466 21.2484189,11.1143273 20.8356362,10.7474093 L17.0997854,7.42665306 L9.26193932,16.6476484 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(14.999995, 11.000002) rotate(-180.000000) translate(-14.999995, -11.000002) "/>
                                                                        <path d="M4.26193932,17.6476484 C3.90425297,18.0684559 3.27315905,18.1196257 2.85235158,17.7619393 C2.43154411,17.404253 2.38037434,16.773159 2.73806068,16.3523516 L11.2380607,6.35235158 C11.6013618,5.92493855 12.2451015,5.87991302 12.6643638,6.25259068 L17.1643638,10.2525907 C17.5771466,10.6195087 17.6143273,11.2515811 17.2474093,11.6643638 C16.8804913,12.0771466 16.2484189,12.1143273 15.8356362,11.7474093 L12.0997854,8.42665306 L4.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.999995, 12.000002) rotate(-180.000000) translate(-9.999995, -12.000002) "/>
                                                                    </g>
                                                                </svg>
                                                            </center>


                                                        <?php
                                                        endif;
                                                        ?>

                                                        <?php
                                                        if($values['status_document'] === '2'):
                                                            ?>

                                                            <a href="javascript:void(0);" class="btn btn-elevate btn-dark btn-square btn-xs" onclick="showMotif('<?= $values['id_document'] ?>')" type="button" style="padding-top: 5px !important; padding-bottom: 5px !important" data-id="<?=$values['id_document'] ?>" title="Motif du rejet">
                                                                <i class="flaticon-eye"></i>
                                                            </a>

                                                        <?php
                                                        endif;
                                                        ?>
                                                        <div class="dropdown">
                                                            <a href="javascript:void(0);" title="Cliquer pour plus de détails" style="padding-top: 3px !important; padding-bottom: 3px;" class="btn btn-elevate btn-success btn-square" data-toggle="dropdown">
                                                                <i class="flaticon2-file-1"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-center">
                                                                <a class="dropdown-item" target="_blank" href="<?= $this->basePath('data/documents/'.$values['chemin_document'].'/'.$values['document']) ?>">
                                                                    <i class="fa fa-file-alt"></i>&nbsp;Consulter document d'identité
                                                                </a>
                                                                <a class="dropdown-item" target="_blank" href="<?= $this->basePath('data/documents/'.$values['chemin_document'].'/'.$values['document_selfie']) ?>">
                                                                    <i class="fa fa-user-alt"></i>&nbsp;Consulter document selfie
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </td>


                                                <td style="text-align:center !important;width: 100px">
                                                        <span class="kt-badge kt-badge--square font-size-1_0 kt-badge--brand kt-badge--inline color-white" style="text-align: center !important">
                                                            <?= $values['numero_piece'] ?>
                                                        </span>

                                                </td>
                                            </tr>
                                        <?php
                                        endforeach;
                                        ?>
                                        </tbody>
                                    </table>


                                <?php

                                else:
                                    ?>
                                    <form class="kt-form kt-form--label-right" id="add_info_identite" method="post" enctype="multipart/form-data">
                                        <div class="kt-portlet__body">
                                            <fieldset>
                                                <legend class="text-primary padding-left-30">Vérification d'identité</legend>
                                                <div class="form-group form-group row">
                                                    <label for="document" class="col-lg-3 col-form-label">Document:</label>
                                                    <div class="col-lg-7">
                                                        <input type="file" placeholder="Document justificatif" class="form-control" required name="id_document" id="document">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="kt_select_type_piece" class="col-lg-3 col-form-label">Type de du document:</label>
                                                    <div class="col-lg-7">
                                                        <select class="form-control selectpicker" id="kt_select_type_piece" required name="type_piece">
                                                            <option value="">--Choisir la pièce--</option>
                                                            <?php
                                                            if(isset($type_pieces) && !empty($type_pieces)):
                                                                foreach($type_pieces as $elements):
                                                                    ?>

                                                                    <option value="<?= $elements['code_type_piece'] ?>">
                                                                        <?= $elements['lib_type_piece'] ?>
                                                                    </option>
                                                                <?php
                                                                endforeach;
                                                            endif;
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Numéro de la pièce</label>
                                                    <div class="col-lg-7">
                                                        <input type="number" name="numero_piece" min="0" minlength="6" required class="form-control" placeholder="Numéro de la pièce">
                                                        <span class="form-text text-muted">Veuillez renseigner le numéro de la pièce fournie</span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">

                                                    <label class="col-lg-3 col-form-label">Photo:</label>
                                                    <div class="col-lg-7">
                                                        <input type="file" name="selfie" class="form-control" id="kt_selfie"/>
                                                        <span class="form-text text-muted text-primary font-size-1_1 margin-top-15" style="color: darkred !important">Veuillez prendre une photo de vous avec votre carte</span>

                                                        <span class="form-text text-muted margin-top-15">La taille maximale du fichier est de 5MB.</span>
                                                    </div>

                                                </div>

                                            </fieldset>




                                        </div>
                                        <div class="kt-portlet__foot">
                                            <div class="kt-form__actions">
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-6">
                                                        <button type="reset" id="btn_cancel_id_document" class="btn btn-secondary">Annuler</button>
                                                        <button type="submit" id="btn_add_id_document" class="btn btn-brand">Confirmer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                <?php
                                endif;
                                ?>


                            <?php
                            endif;
                            ?>

                        </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

</div>


<div class="modal fade" id="kt_modal_make_choice" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier vos informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="kt_body_message">

                    <div class="row margin-0-auto width-100">
                        <div class="col-xl-6">
                            <a href="javascript:void(0)" class="call_update_id" data-target="#kt_modal_update_id" data-dismiss="modal" data-toggle="modal">
                                <div class="kt-infobox me-card me-card-1">

                                <div class="kt-infobox__body ">
                                    <div class="kt-infobox__section">
                                        <h4 class="kt-infobox__title font-size-1_1 text-center">Document d'identité ?</h4>
                                        <div class="kt-infobox__content">
                                            <center>
                                                <div class="col-md-12 padding-l-0 padding-t-0 padding-r-0 width-100">
                                                    <img style="" src="<?= $this->basePath('img/id-card-doc/id_card.jpg') ?>" class="img-responsive">
                                                </div>

                                                <a href="javascript:void(0)" class="btn btn-elevate btn-primary btn-square call_update_id" style="padding:5px !important" id="">Modifier document</a>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-xl-6">
                            <a href="javascript:void(0)" class="call_update_selfie" data-target="#kt_modal_update_selfie" data-dismiss="modal" data-toggle="modal">
                                <div class="kt-infobox me-card me-card-1">

                                <div class="kt-infobox__body ">
                                    <div class="kt-infobox__section">
                                        <h4 class="kt-infobox__title font-size-1_1 text-center">Document Selfie ?</h4>
                                        <div class="kt-infobox__content">
                                            <center>
                                                <div class="col-md-12 padding-l-0 padding-t-0 padding-r-0 width-100">
                                                    <img style="" src="<?= $this->basePath('img/id-card-doc/selfie_document.png') ?>" class="img-responsive">
                                                </div>

                                                <a href="javascript:void(0)" class="btn btn-elevate btn-primary btn-square call_update_selfie" style="padding:5px !important">Modifier document</a>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default btn-sm pull-right" data-dismiss="modal" type="button">
                        Fermer
                    </button>

                </div>

            </div>


    </div>
</div>


<div class="modal fade" id="kt_modal_update_id" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form method="post" id="kt_form_update_id" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier information sur l'identité</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <input type="hidden" id="id_document" name="id_document"/>
                </div>
                <div class="modal-body" id="kt_body_message">

                    <fieldset>
                        <legend class="text-info"><h5>Vérification d'identité</h5></legend>
                        <div class="form-group form-group row">
                            <label for="update_document" class="col-lg-4 col-form-label">Document:</label>
                            <div class="col-lg-7">
                                <input type="file" required placeholder="Document justificatif" class="form-control" name="id_card" id="update_document">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kt_select_update_type_piece" class="col-lg-4 col-form-label">Type de du document:</label>
                            <div class="col-lg-7">
                                <select class="form-control selectpicker" id="kt_select_update_type_piece" required name="type_piece">
                                    <option value="">--Choisir la pièce--</option>
                                    <?php
                                    if(isset($type_pieces) && !empty($type_pieces)):
                                        foreach($type_pieces as $elements):
                                            ?>

                                            <option value="<?= $elements['code_type_piece'] ?>">
                                                <?= $elements['lib_type_piece'] ?>
                                            </option>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Numéro de la pièce</label>
                            <div class="col-lg-7">
                                <input type="number" id="update_numero_piece" name="numero_piece" min="0" minlength="6" required class="form-control" placeholder="Numéro de la pièce">
                                <span class="form-text text-muted">Veuillez renseigner le numéro de la pièce fournie</span>
                            </div>
                        </div>



                    </fieldset>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default btn-sm" data-dismiss="modal" id="btn_cancel_update_id" type="reset">
                        Annuler
                    </button>
                    <button class="btn btn-sm btn-primary" type="submit" id="btn_update_id">
                        Modifier
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>


<div class="modal fade" id="kt_modal_update_selfie" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form method="post" id="kt_form_update_selfie" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier information sur l'identité</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <input type="hidden" name="id_document"/>
                </div>
                <div class="modal-body" id="kt_body_message">

                    <fieldset>
                        <legend class="text-info"><h5>Vérification d'identité</h5></legend>
                        <div class="form-group row">
                            <label for="update_document" class="col-lg-12 col-form-label">Photo Selfie:</label>
                            <div class="col-lg-12">
                                <input type="file" name="selfie" class="form-control" id="kt_update_selfie"/>
                                <span class="form-text text-muted text-primary font-size-1_1 margin-top-15" style="color: darkred !important">Veuillez prendre une photo de vous avec votre carte</span>
                                <span class="form-text text-muted text-danger">La taille maximale du fichier est de 5MB.</span>
                            </div>
                        </div>

                    </fieldset>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default btn-sm" data-dismiss="modal" id="btn_cancel_update_selfie" type="reset">
                        Annuler
                    </button>
                    <button class="btn btn-sm btn-primary" type="submit" id="btn_update_selfie">
                        Modifier
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>
