<?php

$title = "Modifier Profil";
$this->headTitle($title);
echo $this->headLink()
    ->appendStylesheet('/assets/plugins/intl-tel-input/build/css/intlTelInput.min.css')
    ->appendStylesheet('/assets/plugins/intl-tel-input/examples/css/isValidNumber.css')
;


?>


<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h1 class="kt-portlet__head-title font-size-1_4" style="">MODIFIER PROFIL <small></small></h1>
                    </div>

                </div>

                <div class="kt-portlet__body" style="width: 100% !important; min-height: ">

                    <div class="row width-100" style="margin: 0 auto !important; border: solid 0 red">

                        <?php
                        if(isset($user_info) && !empty($user_info) && intval($user_info['user_data']['code_profil']) === 2):
                            ?>
                            <form class="form-row" id="kt-form_edit_profil" method="post">


                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="fullname_edit">Nom complet</label>
                                        <input type="text" readonly value="<?= isset($user_info['user_data']['nom_complet']) && !empty($user_info['user_data']['nom_complet']) ? $user_info['user_data']['nom_complet'] : null ?>" class="form-control margin-top-5 width-100" placeholder="Nom & Prénom(s)" id="fullname_edit" name="fullname_edit"/>
                                    </div>
                                    <input type="hidden" id="id_user" value="<?= $user_info['user_data']['id_user'] ?>">
                                </div>
                                <div class="col-md-6 width-100">
                                    <div class="form-group width-100">
                                        <label for="fname">Prénom(s) <span style="color: red !important">*</span></label>
                                        <input type="text" name="fname" id="fname" value="<?= isset($user_info, $user_info['user_data']['prenom']) && ( $user_info['user_data']['prenom'] !== null || $user_info['user_data']['prenom'] !== '') ?  $user_info['user_data']['prenom'] : "" ?>" class="form-control" placeholder="Prénom(s)"/>
                                    </div>
                                </div>
                                <div class="col-md-6 width-100">
                                    <div class="form-group width-100">
                                        <label for="lname">Nom <span class="text-danger">*</span></label>
                                        <input type="text" name="lname" id="lname" class="form-control" placeholder="Nom" value="<?= isset($user_info, $user_info['user_data']['nom']) && ( $user_info['user_data']['nom'] !== null || $user_info['user_data']['nom'] !== '') ?  $user_info['user_data']['nom'] : "" ?>">
                                    </div>
                                </div>
                                <div class="col-md-6 width-100">
                                    <div class="form-group width-100">
                                        <label for="sexe">Sexe <span style="color: red !important">*</span></label>
                                        <select name="sexe" id="sexe" class="form-control selectpicker">
                                            <option value="F">Féminin</option>
                                            <option value="M">Masculin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 width-100">
                                    <div class="form-group width-100">
                                        <label for="date_naissance">Date de naissance <span style="color: red !important">*</span></label>
                                        <input type="date" id="date_naissance" placeholder="Date de naissance" class="form-control" value="<?= isset($user_info,$user_info['user_data']['date_naissance']) && $user_info['user_data']['date_naissance'] ? $user_info['user_data']['date_naissance'] : "" ?>" name="date_naissance"/>
                                    </div>

                                </div>
                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="email">Adresse mail</label>
                                        <input type="text" required class="form-control margin-top-5 width-100" placeholder="Adresse mail" id="email" value="<?= isset($user_info['user_data']['email']) && (!empty($user_info['user_data']['email'] || $user_info['user_data']['email'] !== null)) ? $user_info['user_data']['email'] : null ?>" name="email"/>
                                    </div>
                                </div>

                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="adresse">Adresse</label>
                                        <input type="text" value="<?= isset($user_info['user_data']['adresse']) && !empty($user_info['user_data']['adresse']) ? $user_info['user_data']['adresse'] : null ?>" class="form-control margin-top-5 width-100" placeholder="Adresse" id="adresse" name="adresse"/>
                                    </div>
                                </div>
                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="country">Pays</label>
                                        <select class="form-control" id="country" data-live-search=true name="country">
                                            <option value="">--Choisir un pays--</option>
                                        </select>
                                        <input type="hidden" id="hidden_pays" value="<?= isset($user_info) && (!empty($user_info['user_data']['pays']) || $user_info['user_data']['pays'] !== null) ? $user_info['user_data']['pays'] : null ?>"/>
                                    </div>
                                </div>

                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="ville_edit">Ville</label>
                                        <input type="text" class="form-control margin-top-5 width-100" placeholder="Ville" id="ville" value="<?= isset($user_info['user_data']['ville']) && !empty($user_info['user_data']['ville']) ? $user_info['user_data']['ville'] : null ?>" name="ville"/>
                                    </div>
                                </div>

                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="region">Région</label>
                                        <input type="text" class="form-control margin-top-5 width-100" value="<?= isset($user_info['region']) && !empty($user_info['user_data']['region']) ? $user_info['user_data']['region'] : null ?>" placeholder="Région" id="region" name="region"/>
                                    </div>
                                </div>

                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label col-md-12" for="telephone">Numéro de téléphone <span style="color: red !important">*</span></label>
                                        <input type="tel" onblur="this.value=removeSpaces(this.value);" placeholder="Numéro de téléphone" required class="form-control margin-top-5 width-100 col-md-12" style="width: 100% !important" id="telephone" name="telephone"/>
                                        <div id="valid-msg" class="hide col-md-12">✓ Correcte</div>
                                        <div id="error-msg" class="hide col-md-12"></div>

                                        <input type="hidden" name="dialCode" id="hidden_dialCode" value="<?= isset($user_info['user_data']['dial_code']) && (!empty($user_info['user_data']['dial_code']) || $user_info['user_data']['dial_code'] !== null) ? $user_info['user_data']['dial_code'] : null ?>"/>
                                        <input type="hidden" name="codeCountry" id="hidden_codeCountry" value="<?= isset($user_info['user_data']['code_pays']) && (!empty($user_info['user_data']['code_pays']) || $user_info['user_data']['code_pays'] !== null) ? $user_info['user_data']['code_pays'] : null ?>"/>

                                        <input type="hidden" name="hidden_telephone" id="hidden_telephone" value="<?= $user_info['user_data']['dial_code'] !== '' && $user_info['user_data']['dial_code'] !== null ? '+'.$user_info['user_data']['dial_code']:"" ?><?= isset($user_info['user_data']['telephone']) && (!empty($user_info['user_data']['telephone']) || $user_info['user_data']['telephone'] !== null) ? $user_info['user_data']['telephone'] : null ?>" />
                                    </div>
                                </div>

                                <div class="col-md-12 margin-top-10">
                                    <button class="btn btn-success btn-sm btn-elevate-hover btn-elevate-air pull-left" id="btn_update_profil">
                                        <i class="flaticon-edit"></i>&nbsp;Sauvegarder les changements
                                    </button>
                                </div>

                            </form>

                        <?php
                        else:
                            ?>

                            <form class="form-row" id="kt-form_edit_profil" method="post">

                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="email">Adresse mail</label>
                                        <input type="text" class="form-control margin-top-5 width-100" placeholder="Adresse mail" id="email" name="email"/>
                                    </div>
                                </div>
                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="fullname_edit">Nom & Prénoms</label>
                                        <input type="text" class="form-control margin-top-5 width-100" placeholder="Nom & Prénom(s)" id="fullname" name="fullname"/>
                                    </div>
                                </div>

                                <div class="col-md-12 width-100" style="">
                                    <div class="form-group width-100">
                                        <label class="form-control-label" for="telephone_edit">Numéro de téléphone</label>
                                        <input type="tel" class="form-control margin-top-5 width-100" placeholder="Téléphone" id="telephone_edit" value="0022995266347" name="telephone_edit"/>

                                    </div>
                                </div>
                            </form>
                        <?php
                        endif;
                        ?>
                    </div>


                </div>



            </div>


        </div>

    </div>

</div>

</div>
