
<?php
$title = 'Informations Générales';

$this->headTitle($title);
?>

<style type="text/css">

    #table_info_client tr
    {
        margin: 80px auto !important;
        padding: 40px !important;
        width: 100% !important;
        border-top :solid 0 !important ;
        border-bottom: solid 1px #e0e2f0 !important;
        font-size: 1.1em !important;
        font-weight: 300 !important;
    }
    #table_info_client tr td:nth-child(2)
    {
        width: 75% !important;
        text-align: left !important;
    }
    #table_info_client tr td:nth-child(1)
    {
        width: 15% !important;
        text-align: left !important;
    }

</style>

<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h1 class="kt-portlet__head-title font-size-1_4" style="">INFORMATIONS GENERALES<small></small></h1>
                    </div>

                </div>

                <div class="kt-portlet__body" style="width: 100% !important; min-height: ">

                    <div class="row" style="width:100% !important; margin: 0 auto !important; border: solid 0 red">
                        <div class="col-md-12 width-100" style="width: 100% !important; border: solid 0">
                            <table class="table table-responsive kt-margin-t-35  width-100" id="table_info_client" style="width:100% !important; border: solid 0;">
                                <?php
                                if(intval($user_info['user_data']['code_profil'] )=== 2):
                                    ?>
                                    <tr class="width-100">
                                        <td> ID client:</td>
                                        <td> <?= $user_info['user_data']['id_user'] ?></td>
                                    </tr>
                                <?php
                                endif;
                                ?>
                                <tr>
                                    <td>Email: </td>
                                    <td> <?= $user_info['user_data']['email'] ?></td>
                                </tr>
                                <tr>
                                    <td>Nom & Prénom(s): </td>
                                    <td><?= $user_info['user_data']['nom_complet'] ?></td>
                                </tr>
                                <tr>
                                    <td>Pays: </td>
                                    <td>
                                        <?php
                                        if(isset($pays_user) &&( empty($pays_user) || $pays_user  === null))
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        elseif(isset($pays_user) && !empty($pays_user))
                                        {
                                            echo $pays_user['lib_pays'];
                                        }

                                        ?></td>
                                </tr>

                                <tr>
                                    <td>Ville: </td>
                                    <td>
                                        <?php
                                        if(!isset($user_info['user_data']['ville']) || empty($user_info['user_data']['ville']) || $user_info['user_data']['ville'] === null)
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        else
                                        {
                                            echo $user_info['user_data']['ville'];
                                        }

                                        ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Région: </td>
                                    <td>
                                        <?php
                                        if($user_info['user_data']['region'] === null)
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        else
                                        {
                                            echo $user_info['user_data']['region'];
                                        }

                                        ?>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Adresse :
                                    </td>
                                    <td>
                                        <?php
                                        if($user_info['user_data']['adresse'] === null)
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        else
                                        {
                                            echo $user_info['user_data']['adresse'];
                                        }

                                        ?></td>

                                </tr>

                                <tr>
                                    <td>
                                        Téléphone :
                                    </td>
                                    <td>
                                        <?php
                                        if($user_info['user_data']['telephone'] === null)
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--primary">Non disponible</span>';
                                        }
                                        else
                                        {
                                            echo '+'.$user_info['user_data']['dial_code'].''.$user_info['user_data']['telephone'];
                                        }

                                        ?></td>

                                </tr>

                                <tr>
                                    <td>
                                        Statut :
                                    </td>
                                    <td>
                                        <?php
                                        if($user_info['user_data']['statut'] === '1')
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--success">Actif</span>';
                                        }
                                        else
                                        {
                                            echo '<span class="kt-badge kt-badge--inline kt-badge--warning color-white">Inactif</span>';
                                        }

                                        ?></td>

                                </tr>

                                <tr>
                                    <td>
                                        Membre depuis :
                                    </td>
                                    <td>
                                        <?php
                                        if($user_info['user_data']['date_creation'] !== null)
                                        {
                                            echo date('Y-m-d',strtotime($user_info['user_data']['date_creation']));
                                        }
                                        else
                                        {
                                            echo '';
                                        }

                                        ?></td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
