<?php
$title = 'Parrainage';

$this->headTitle($title);
?>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<style type="text/css">
    .botao-wpp {
        text-decoration: none;
        color: #eee;
        display: inline-block;
        background-color: #25d366;
        font-weight: bold;
        padding: 1rem 2rem;
        border-radius: 3px;
    }

    .botao-wpp:hover {
        background-color: darken(#25d366, 5%);
    }

    .botao-wpp:focus {
        background-color: darken(#25d366, 15%);
    }
</style>
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h1 class="kt-portlet__head-title font-size-1_4" style="">PARRAINAGE <small></small></h1>
                    </div>

                </div>

                <div class="kt-portlet__body" style="width: 100% !important; min-height: ">

                    <div class="row width-100" style="margin: 0 auto !important; border: solid 0 red">
                        <div class="kt-portlet__body" style="width: 100% !important">
                            <?php
                            if(isset($getUser) && !empty($getUser) && ($getUser['profil_complet'] === '0' || $getUser['telephone'] == null)):
                                ?>

                                <div class="col-md-12" style="width:100% !important;">
                                    <div style="width: 100% !important" class="kt-portlet kt-iconbox kt-iconbox--success kt-iconbox--animate-slow">
                                        <div class="kt-portlet__body" style="width: 100% !important">
                                            <div class="kt-iconbox__body">

                                                <div class="kt-iconbox__desc col-md-12">
                                                    <h2 class="kt-iconbox__title">
                                                        Veuillez finaliser votre profil pour bénéficier des services du <b>Parrainage</b>
                                                    </h2>
                                                    <div class="kt-iconbox__content">
                                                        <?php
                                                        $action= "identification";
                                                        if(isset($getUser) && !empty($getUser) && $getUser['telephone'] == null)
                                                        {
                                                            $action = 'index';
                                                        }
                                                        ?>
                                                        <a class="btn btn-elevate btn-elevate-hover btn-primary margin-top-30 font-size-1_1" href="<?= $this->url('my-profile',['action'=>$action]) ?>">Compléter Profil</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <?php
                            else:
                                ?>
                                <div class="kt-widget kt-widget--user-profile-3">
                                    <div class="kt-widget__top">
                                        <div class="kt-widget__media kt-hidden-">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 60px !important; height: 60px !important" width="60px" height="60px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                                </g>
                                            </svg>
                                        </div>

                                        <div class="kt-widget__content">
                                            <div class="kt-widget__head">
                                                <a href="#" class="kt-widget__username">
                                                    <?= isset($getUser) && !empty($getUser) ? $getUser['nom_complet']: "" ?>
                                                    <i class="flaticon2-correct"></i>
                                                </a>

                                            </div>

                                            <div class="kt-widget__subhead">
                                                <a href="#"><i class="flaticon2-new-email"></i><?= isset($getUser) && !empty($getUser) ? $getUser['email']: "" ?></a>
                                                <?= isset($getUser) && !empty($getUser) &&(($getUser['dial_code'] !== null && $getUser['dial_code'] !== '')) && $getUser['telephone'] ? '<a href="#"><i class="flaticon2-phone"></i>+'.$getUser['dial_code'].' '.$getUser['telephone'].'</a>' : "" ?>
                                                <?= isset($getUser) && !empty($getUser) && $getUser['adresse'] !== null && $getUser['adresse'] !== '' ? '<a href="#"><i class="flaticon2-map"></i>'.$getUser['adresse'].'</a>' : "" ?>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="kt-widget__bottom">
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-piggy-bank"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Gain</span>
                                                <span class="kt-widget__value"><?= isset($getUser) && $getUser['gain'] !== null ? floatval($getUser['gain']) : 0 ?>&nbsp;<span class="text-success font-weight-bold font-size-1_1">FCFA</span></span>
                                            </div>
                                        </div>

                                        <!--<div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-confetti"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Expances</span>
                                                <span class="kt-widget__value"><span>$</span>164,700</span>
                                            </div>
                                        </div>-->

                                        <!--<div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-pie-chart"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Net</span>
                                                <span class="kt-widget__value"><span>$</span>164,700</span>
                                            </div>
                                        </div>-->

                                        <!--  <div class="kt-widget__item">
                                              <div class="kt-widget__icon">
                                                  <i class="flaticon-file-2"></i>
                                              </div>
                                              <div class="kt-widget__details">
                                                  <span class="kt-widget__title">73 Tasks</span>
                                                  <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                              </div>
                                          </div>-->


                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-network"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Fieuls</span>
                                                <span class="kt-widget__value"><span></span><?= isset($fieuls) && !empty($fieuls) ? count($fieuls) : 0 ?></span>
                                            </div>
                                        </div>

                                        <?php
                                        if(isset($getUser) && $getUser['parent_key'] !== null):
                                            ?>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"/>
                                                            <path d="M12.4644661,14.5355339 L9.46446609,14.5355339 C8.91218134,14.5355339 8.46446609,14.9832492 8.46446609,15.5355339 C8.46446609,16.0878187 8.91218134,16.5355339 9.46446609,16.5355339 L12.4644661,16.5355339 L12.4644661,17.5355339 C12.4644661,18.6401034 11.5690356,19.5355339 10.4644661,19.5355339 L6.46446609,19.5355339 C5.35989659,19.5355339 4.46446609,18.6401034 4.46446609,17.5355339 L4.46446609,13.5355339 C4.46446609,12.4309644 5.35989659,11.5355339 6.46446609,11.5355339 L10.4644661,11.5355339 C11.5690356,11.5355339 12.4644661,12.4309644 12.4644661,13.5355339 L12.4644661,14.5355339 Z" fill="#000000" opacity="0.3" transform="translate(8.464466, 15.535534) rotate(-45.000000) translate(-8.464466, -15.535534) "/>
                                                            <path d="M11.5355339,9.46446609 L14.5355339,9.46446609 C15.0878187,9.46446609 15.5355339,9.01675084 15.5355339,8.46446609 C15.5355339,7.91218134 15.0878187,7.46446609 14.5355339,7.46446609 L11.5355339,7.46446609 L11.5355339,6.46446609 C11.5355339,5.35989659 12.4309644,4.46446609 13.5355339,4.46446609 L17.5355339,4.46446609 C18.6401034,4.46446609 19.5355339,5.35989659 19.5355339,6.46446609 L19.5355339,10.4644661 C19.5355339,11.5690356 18.6401034,12.4644661 17.5355339,12.4644661 L13.5355339,12.4644661 C12.4309644,12.4644661 11.5355339,11.5690356 11.5355339,10.4644661 L11.5355339,9.46446609 Z" fill="#000000" transform="translate(15.535534, 8.464466) rotate(-45.000000) translate(-15.535534, -8.464466) "/>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Lien de parrainage</span>
                                                    <span class="kt-widget__value font-size-1_1 font-weight-bold text-success me-card-1" id="referal-link-container"><textarea readonly><?= isset($lienSite) && $lienSite !== null ? $lienSite.'?ref='.$getUser['parent_key']:null ?></textarea></span>
                                                    <div><button class="btn btn-primary btn-xs" id="btn-referal-link">Copier le lien</button> </div>
                                                </div>
                                            </div>
                                            <!-- só o conteúdo do href já é suficiente -->
                                            <!-- só o conteúdo do href já é suficiente -->
                                            <a href=" whatsapp://send?text=<?= isset($lienSite) && $lienSite !== null ? $lienSite.'?ref='.$getUser['parent_key']:null ?>" class="botao-wpp" target="_blank" dat-action="share/whatsapp/share">

                                                <!-- ícone -->
                                                <i class="fa fa-whatsapp"></i> Partager via WhatsApp</a>
                                        <?php
                                        endif;
                                        ?>
                                    </div>

                                    <?php
                                    if(isset($getUser) && !empty($getUser) && $getUser['parent_key'] == null):
                                        ?>
                                        <div class="col-md-12 kt-padding-t-40">

                                            <center>
                                                <button class="btn btn-brand btn-square btn-elevate-hover" id="generate_link">
                                                    Générer lien de parrainage
                                                </button>
                                            </center>
                                        </div>
                                    <?php
                                    endif;
                                    ?>
                                </div>

                            <?php
                            endif;
                            ?>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
