<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 30/09/2020
 * Time: 10:20
 */

echo $this->headLink()
    ->appendStylesheet($this->basePath('assets/plugins/summernote/summernote.css'))
    ->appendStylesheet($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.css'))
    ->appendStylesheet($this->basePath('/assets/plugins/datatables/datatables.bundle.css'))
    ->appendStylesheet($this->basePath('/assets/pages/my-profile/validate-information/validate_custom_file.css'))
;

?>
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h1 class="kt-portlet__head-title font-size-1_4" style="">VALIDEZ VOS INFORMATIONS<small></small>
                        <input id="hidden_msg_demande" type="hidden" value="<?= isset($messageDemande) && !empty($messageDemande) ? $messageDemande : null ?>"/>

                    </div>

                </div>

                <div class="kt-portlet__body width-100">

                    <?php
                        if(isset($documents) && !empty($documents)):
                    ?>

                        <div class="col-md-12">

                            <table class="" id="kt_table_demande">
                                <thead>
                                    <tr>
                                        <th style="width: 5% !important">Type de document</th>
                                        <th class="text-center" style="width:70px !important">Status</th>

                                        <th class="text-center" style="width: 100px;">Actions</th>
                                        <th style="width: 120px !important">Numéro de pièce</th>

                                    </tr>
                                </thead>

                                <tbody>
                                <?php
                                    foreach($documents as $keys=>$values):
                                ?>
                                    <tr>
                                        <td style="width: 130px !important">
                                            <?= $values['lib_type_piece'] ?>
                                        </td>


                                        <td style="width:40px !important">
                                            <?php
                                            if($values['status_document'] == '0'):
                                                ?>

                                                <button class="btn btn-elevate btn-elevate-air btn-square btn-sm btn-info kt-padding-5">
                                                   En attente...
                                                </button>
                                            <?php
                                            elseif($values['status_document'] == '1'):
                                                ?>
                                                <button class="btn btn-success btn-xs">
                                                    Accepté
                                                </button>
                                            <?php
                                            else:
                                                ?>
                                                <button class="btn btn-elevate btn-square btn-danger btn-sm" style="padding-bottom: 5px !important; padding-top: 5px !important">
                                                    Rejeté
                                                </button>

                                            <?php
                                            endif;
                                            ?>
                                        </td>


                                        <td>
                                            <div class="btn-group-sm">
                                                <?php
                                                    if($values['status_document'] == '0' && $values['lock_doc'] == '0'):
                                                ?>
                                                    <button class="btn btn-primary btn-elevate btn-square btn-update-identify"  style="padding-top: 5px; padding-bottom: 5px !important" title="Modifier votre dossier" onclick="updateIdentify(<?= $values['id_document'] ?>)">
                                                       <i class="flaticon2-edit"></i>
                                                    </button>

                                                <?php
                                                    elseif($values['status_document'] == '2' && $values['lock_doc'] == '0'):
                                                ?>

                                                    <button class="btn btn-primary btn-elevate  btn-square btn-update-identify" style="padding-top: 5px; padding-bottom: 5px !important" title="Modifier votre dossier" onclick="updateIdentify(<?= $values['id_document'] ?>)">
                                                        <i class="flaticon2-edit"></i>
                                                    </button>

                                                <?php
                                                    elseif($values['status_document'] == '1'):
                                                ?>
                                                 <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-check"></i>
                                                 </button>


                                                <?php
                                                    endif;
                                                ?>

                                                <?php
                                                    if($values['status_document'] === '2'):
                                                ?>

                                                <button class="btn btn-elevate btn-dark btn-square btn-xs" onclick="showMotif('<?= $values['id_document'] ?>')" type="button" style="padding-top: 5px !important; padding-bottom: 5px !important" data-id="<?=$values['id_document'] ?>" title="Motif du rejet">
                                                    <i class="flaticon-eye"></i>
                                                </button>

                                                <?php
                                                    endif;
                                                ?>
                                                <div class="dropdown">
                                                    <a href="javascript:void(0);" title="Cliquer pour plus de détails" style="padding-top: 3px !important; padding-bottom: 3px;" class="btn btn-elevate btn-success btn-square" data-toggle="dropdown">
                                                        <i class="flaticon2-file-1"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-center">
                                                        <a class="dropdown-item" target="_blank" href="<?= $this->basePath('data/documents/'.$values['chemin_document'].'/'.$values['document']) ?>">
                                                           <i class="fa fa-file-alt"></i>&nbsp;Consulter document d'identité
                                                        </a>
                                                        <a class="dropdown-item" target="_blank" href="<?= $this->basePath('data/documents/'.$values['chemin_document'].'/'.$values['document_selfie']) ?>">
                                                            <i class="fa fa-user-alt"></i>&nbsp;Consulter document selfie
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </td>


                                        <td style="width: 100px">
                                            <?= $values['numero_piece'] ?>
                                        </td>
                                    </tr>
                                <?php
                                    endforeach;
                                ?>
                                </tbody>
                            </table>

                        </div>
                        <?php

                            else:
                        ?>
                          <form class="kt-form kt-form--label-right" id="add_info_identite" method="post" enctype="multipart/form-data">
                                    <div class="kt-portlet__body">
                                        <fieldset>
                                            <legend class="text-primary padding-left-30">Vérification d'identité</legend>
                                            <div class="form-group form-group row">
                                                <label for="document" class="col-lg-3 col-form-label">Document:</label>
                                                <div class="col-lg-7">
                                                    <input type="file" placeholder="Document justificatif" class="form-control" required name="id_document" id="document">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="kt_select_type_piece" class="col-lg-3 col-form-label">Type de du document:</label>
                                                <div class="col-lg-7">
                                                    <select class="form-control selectpicker" id="kt_select_type_piece" required name="type_piece">
                                                        <option value="">--Choisir la pièce--</option>
                                                        <?php
                                                        if(isset($type_pieces) && !empty($type_pieces)):
                                                            foreach($type_pieces as $elements):
                                                                ?>

                                                                <option value="<?= $elements['code_type_piece'] ?>">
                                                                    <?= $elements['lib_type_piece'] ?>
                                                                </option>
                                                            <?php
                                                            endforeach;
                                                        endif;
                                                        ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Numéro de la pièce</label>
                                                <div class="col-lg-7">
                                                    <input type="number" name="numero_piece" min="0" minlength="6" required class="form-control" placeholder="Numéro de la pièce">
                                                    <span class="form-text text-muted">Veuillez renseigner le numéro de la pièce fournie</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">

                                                    <label class="col-lg-3 col-form-label">Photo:</label>
                                                    <div class="col-lg-7">
                                                        <input type="file" name="selfie" class="form-control" id="kt_selfie"/>
                                                        <span class="form-text text-muted text-primary font-size-1_1 margin-top-15" style="color: darkred !important">Veuillez prendre une photo de vous avec votre carte</span>

                                                        <span class="form-text text-muted margin-top-15">La taille maximale du fichier est de 5MB.</span>
                                                    </div>

                                            </div>

                                        </fieldset>




                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-6">
                                                    <button type="reset" id="btn_cancel_id_document" class="btn btn-secondary">Annuler</button>
                                                    <button type="submit" id="btn_add_id_document" class="btn btn-brand">Confirmer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                        <?php
                            endif;
                        ?>

                </div>



            </div>



        </div>

    </div>

</div>

<div class="modal fade" id="kt_modal_update_identity" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <form method="post" id="kt_form_update_identity" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier information sur l'identité</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="kt_body_message">

                            <fieldset>
                                <legend class="text-info"><h5>Vérification d'identité</h5></legend>
                                <div class="form-group form-group row">
                                    <label for="update_document" class="col-lg-4 col-form-label">Document:</label>
                                    <div class="col-lg-7">
                                        <input type="file" placeholder="Document justificatif" class="form-control" name="id_document" id="update_document">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="kt_select_update_type_piece" class="col-lg-4 col-form-label">Type de du document:</label>
                                    <div class="col-lg-7">
                                        <select class="form-control selectpicker" id="kt_select_update_type_piece" required name="type_piece">
                                            <option value="">--Choisir la pièce--</option>
                                            <?php
                                               if(isset($type_pieces) && !empty($type_pieces)):
                                                 foreach($type_pieces as $elements):
                                                    ?>

                                                    <option value="<?= $elements['code_type_piece'] ?>">
                                                        <?= $elements['lib_type_piece'] ?>
                                                    </option>
                                                <?php
                                                endforeach;
                                            endif;
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Numéro de la pièce</label>
                                    <div class="col-lg-7">
                                        <input type="number" id="update_numero_piece" name="numero_piece" min="0" minlength="6" required class="form-control" placeholder="Numéro de la pièce">
                                        <span class="form-text text-muted">Veuillez renseigner le numéro de la pièce fournie</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="update_document" class="col-lg-4 col-form-label">Photo:</label>
                                    <div class="col-lg-7">
                                        <input type="file" name="selfie" class="form-control" id="kt_update_selfie"/>
                                        <span class="form-text text-muted text-primary font-size-1_1 margin-top-15" style="color: darkred !important">Veuillez prendre une photo de vous avec votre carte</span>
                                        <span class="form-text text-muted text-danger">La taille maximale du fichier est de 5MB.</span>
                                    </div>
                                </div>

                            </fieldset>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default btn-sm" data-dismiss="modal" id="cancel_update_identity" type="reset">
                        Annuler
                    </button>
                    <button class="btn btn-sm btn-primary" type="submit" id="update_identity">
                        Modifier
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>



</div>


