.container_currencies_libelle
{
    padding-left: 10px !important;
    padding-top: 20px !important;
}

.dropdown .bootstrap-select .form-control .my_ .my_selectPicker .dropdown-toggle
{

  border: solid 0 !important;
}
.my-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius:4px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: solid 0;
    border-right: solid 15px !important;
}
.my-card>#currencies_source
{
    border-right-color: #FF8B00 !important;
}

.my-card> #currencies_destination
{
    border-right-color: #2e5771!important;
}
.iti__country-list
{
    min-width: 200px !important;
    min-height: 150px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}