@media screen and (min-width: 992px)
{

}

@media screen and (max-width: 992px)
{
    #text_add_desktop
    {
        display:none !important;
        padding-top: 15px !important;
        font-size: 1.3em !important;
    }
}
#btn_add_number
{
    padding-left: 20px !important;
}

.badge_hover:hover
{
    cursor: pointer !important;
    content: 'Clqiuer pour continuer';
}