<?php

echo $this->headLink()
    ->appendStylesheet($this->basePath('assets/pages/terms-of-use/custom_style.css'))
    ->appendStylesheet($this->basePath('assets/css/global_style.css'))
;
?>

<style type="text/css">
    @media screen and (max-width: 991px)
    {
        .title_terms_of_use
        {
            font-size: 0.7em;
            padding-left: 12px !important;
        }
        .li_terms_of_use
        {
            font-size: 0.6em !important;
        }
    }
    @media screen and (min-width: 992px)
    {
        .title_terms_of_use
        {
            font-size: 1.0em !important;
            padding-left: 12px !important;
        }

        .li_terms_of_use
        {
            font-size: 0.8em !important;
        }
    }
</style>
<section>
    <div class="container g-py-100">
        <div class="row">
            <div class="col-md-12">
                <div class="shortcode-html">
                    <div id="accordion-08" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                        <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                            <div id="accordion-08-heading-01" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                    <a class="d-flex g-color-main g-text-underline--none--hover collapsed" href="#accordion-08-body-01" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-01">
                                        <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20"></span>
                                        <span class="g-pa-20">1-Possible de faire des transactions sur Orange Money CI ?</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-08-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-01" data-parent="#accordion-08" style="">
                                <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                    <p class="text-justify">Pour le moment ce n’est pas encore disponible.</p>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-02" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-02" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-02">
                                                  <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">
                                      </span>
                                            <span class="g-pa-20">
                                                                2-J’essaie de faire une transaction mais ni le mot vendre ou faire un retrait n’apparait pas que faire ?
                                                       </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-02" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p class="text-justify">C’est plutôt Conversion ; alors veuillez cliquer sur Convertir.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-03" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-03" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-03">
                                                                             <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                                                          </span>
                                            <span class="g-pa-20"> 3- Ma transaction est mise en attente depuis quelques minutes ? </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-03" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p>Veuillez patienter au plus 10 minutes.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-04" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="d-flex g-color-main g-text-underline--none--hover collapsed" href="#accordion-08-body-04" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-04">
                                                     <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                                    </span>
                                            <span class="g-pa-20"> 4-Que faut il faire? je viens d'envoyer 13,90 dollars USD sur votre adresse U18402265 mais il parait que l'Échange est momentanément impossible </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-04" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-04" data-parent="#accordion-08" style="">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p class="text-justify">veuillez nous écrire via WhatsApp sur le +22962330637.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-05" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-05" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-05">
                                            <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20"></span>
                                            <span class="g-pa-20"> 5-Je veux recharger mon payeer mais la transaction annulée pourquoi? </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-05" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-05" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p class="text-justify">Veuillez vérifier si le dépôt a été bien fait si oui si oui, contactez-nous via WhatsApp sur le +22962330637</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-06" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-06" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-06">
                                                            <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                                            </span>
                                            <span class="g-pa-20">
                                                            6-Comment vendre certains Trons et avoir la contrevaleur en CFA?
                                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-06" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-06" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p class="align-justify">Nous ne vendons pas le Trons.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-07" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-07" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-07">
                                                              <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                                              </span>
                                            <span class="g-pa-20">
                                                              7-Je viens d'effectuer une conversion de 32000f de mon compte mobile Money 69184080 vers mon compte USD perfect Money et au lieu d'inscrire U25640818 j'ai inscrit U25640810. Comment faire?
                                                              </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-07" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-07" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p class="align-justify">Les dollars ont été déjà vendus sur un autre compte. Nous ne pouvons plus rien faire.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-08" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-08" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-08">
                                                    <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                                    </span>
                                            <span class="g-pa-20">
                                                         8-La conversion d’une somme en dollar est t-elle possible ?
                                                    </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-08" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-08" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                        <p class="text-justify">Oui veuillez nous écrire via WhatsApp sur le +22962330637.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                <div id="accordion-08-heading-09" class="u-accordion__header g-pa-0" role="tab">
                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-09" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-09">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                </span>
                                            <span class="g-pa-20">
                                9-Je peux acheter de bitcoin ?
                                </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-08-body-09" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-09" data-parent="#accordion-08">
                                    <div class="u-accordion__body g-bg-white g-px-50 g-py-30 text-justify">
                                        <p>Veuillez faire votre demande sur le site.
                                        </p>
                                    </div>
                                </div>
                                <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                    <div id="accordion-08-heading-010" class="u-accordion__header g-pa-0" role="tab">
                                        <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                            <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-10" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-10">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                </span>
                                                <span class="g-pa-20">
                                10-Je vais sur mon compte et la rubrique payeer dollar n'apparait pas pour que j'effectue mon opération alors que mon argent est déjà sur votre compte payeer. Que dois-je faire ?
                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="accordion-08-body-10" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-10" data-parent="#accordion-08">
                                        <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                            <p>Veuillez suivre la procédure normale.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                    <div id="accordion-08-heading-11" class="u-accordion__header g-pa-0" role="tab">
                                        <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                            <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-11" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-11">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                </span>
                                                <span class="g-pa-20">
                                11- Guidez-moi sur le dépôt de mon MTN mobile money vers mon compte perfect money
                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="accordion-08-body-11" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-11" data-parent="#accordion-08">
                                        <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                            <p class="text-justify">
                                                Veuillez nous contacter via WhatsApp sur le +22962330637
                                            </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                    <div id="accordion-08-heading-12" class="u-accordion__header g-pa-0" role="tab">
                                        <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                            <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-12" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-12">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                </span>
                                                <span class="g-pa-20">
                                12-Dans les informations personnelles, lorsqu’on parle d’ADRESSE, il s'agit de quoi ?
                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="accordion-08-body-12" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-12" data-parent="#accordion-08">
                                        <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                            <p>
                                                C’est votre situation géographique. Le quartier de ville par exemple
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                    <div id="accordion-08-heading-13" class="u-accordion__header g-pa-0" role="tab">
                                        <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                            <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-13" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-13">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                </span>
                                                <span class="g-pa-20">
                                13- J'essaie de faire une opération de 0,40 eth vers Moov Benin mais je n’arrive pas à mettre les 0.40 eth dans la partie quantité à envoyer
                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="accordion-08-body-13" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-13" data-parent="#accordion-08">
                                        <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                            <p class="text-justify">
                                                Veuillez mettre le montant en dollar
                                            </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                    <div id="accordion-08-heading-14" class="u-accordion__header g-pa-0" role="tab">
                                        <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                            <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-14" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-14">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                </span>
                                                <span class="g-pa-20">
                                14- Pourquoi la transaction : RABU8675 a été annulée. Merci
                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="accordion-08-body-14" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-14" data-parent="#accordion-08">
                                        <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                            <p class="text-justify">
                                                Vérifier si vos dollars ont été envoyés correctement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
                                    <div id="accordion-08-heading-15" class="u-accordion__header g-pa-0" role="tab">
                                        <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                                            <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-15" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-15">
                                <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">

                                          </span>
                                                <span class="g-pa-20">
                                          15- Je viens de faire une transaction de 252000 votre partenaire bore renne pour achat de dollar mais je n'ai plus la main pour contient l'opération
                                          </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="accordion-08-body-15" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-15" data-parent="#accordion-08">
                                        <div class="u-accordion__body g-bg-white g-px-50 g-py-30">
                                            <p class="text-justify">
                                                Veuillez reprendre la procédure de ce que j’envoie et de ce que je prends.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</section>

