<?php

echo $this->headLink()

    ->appendStylesheet($this->basePath("assets/css/vendors/sweetalert2.css"))
    ->appendStylesheet('/assets/plugins/datatables/datatables.bundle.css')
    ->appendStylesheet('/assets/pages/transactions/custom_style.css')
    ->appendStylesheet('/assets/plugins/tipped/dist/css/tipped.css')

;

?>

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid ">

        <div class="kt-portlet kt-portlet--mobile" id="kt-portlet_content_conversion">

            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="flaticon-piggy-bank color-cyan font-size-1_1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title color-cyan kt-font-size-1_8-desktop" style="">
                        Paramétrage des méthodes de paiement
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">

                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body kt-padding-80-desktop kt-padding-b-100-desktop">
                <div class="row">
                   <form method="post" id="form-config-payment-method" class="row" style="padding-left: 15px !important;width: 100% !important">
                    <div class="col-md-6">
                        <label for="payment-methods">Choisir un moyen de paiement&nbsp;<span class="text-danger">*</span></label>
                        <select class="form-control" name="payment-methods" id="payment-methods" required>
                            <option value="">Choisir la méthode de paiement</option>
                            <?php
                                if(isset($payment_methods) && !empty($payment_methods)):
                                    foreach($payment_methods as $elements):
                                        if($elements['statut'] == '1'):
                            ?>

                                     <option value="<?= $elements['method'] ?>">
                                         <?= $elements['method'] ?>
                                     </option>

                            <?php
                                 endif;
                                endforeach;
                              endif;
                            ?>
                        </select>
                    </div>
                    <div class="offset-2 col-md-4 col-form-label" style="padding-top: 20px !important">
                        <div class="checkbox-list" id="list_payment_methods">

                        </div>
                    </div>
                    <div class="col-md-12 margin-top-10" id="btn-submit-container">

                    </div>
                   </form>
                </div>

                <div class="row margin-top-20 margin-bottom-40">
                    <div class="col-md-12 margin-top-30">
                        <h4 class="text-info text-decoration-underline text-center">Liste des monnaies configurées</h4>
                    </div>
                    <div class="col-md-12 margin-top-15">
                        <table class="table table-bordered" style="width: 100% !important">
                            <thead>
                                <tr>
                                    <th class="text-center">Monnaies</th>
                                    <th class="text-center">Moyens de paiement</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <?php
                                    if(isset($settingsPaymentMethods) && !empty($settingsPaymentMethods)):
                                        foreach($settingsPaymentMethods as $values):
                                ?>
                                <tr>
                                    <td>
                                        <img class="img-responsive img-circle me-card-1" style="width: 40px !important; height: 40px !important; border-radius: 50% !important" src="<?= $values['image_devise'] ?>"/>
                                        <b class="font-size-0_9 text-info"><?= $values['lib_devise'] ?></b>
                                    </td>
                                    <td class="text-center">
                                       <span class="badge badge-secondary kt-badge--xl font-size-0_9">
                                           <?= $values['method'] ?>
                                       </span>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-xs btn-edit-settings" data-id="<?= $values['id_devise'] ?>" data-method="<?= $values['method'] ?>" type="button">
                                            Modifier
                                        </button>
                                    </td>
                                </tr>


                                <?php
                                    endforeach;
                                    else:
                                 ?>
                                <tr style="width: 100% !important; border: solid 0 !important">
                                    <td style="width: 100% !important; border: solid 0 !important" class="text-center font-size-1_0 font-weight-bold text-danger">Aucune donnée disponible pour le moment</td>

                                </tr>
                                <?php
                                  endif;
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row margin-top-25">
                    <div class="col-md-12" style="">
                        <table class="table table-bordered" style="width: 100% !important">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Moyens de paiements
                                    </th>


                                    <th class="text-center">
                                        Status
                                    </th>

                                    <th class="text-center" style="width: 300px !important;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php
                                if(isset($payment_methods) && !empty($payment_methods)):
                                    foreach($payment_methods as $keys=>$values):
                            ?>
                                <tr>
                                    <td class="text-center"><img src="<?= $this->basePath('img/payment-methods/'.$values['image']) ?>" style="width: 100px !important; height: 100px !important" class="img-responsive"> </td>


                                    <td class="text-center" style="padding-top: 20px !important">
                                        <?php
                                            if($values['statut'] == '1')
                                            {
                                                echo "<span class='badge badge-success kt-badge--xl kt-badge--elevate'>Actif</span>";
                                            }
                                            elseif($values['statut'] == '0')
                                            {
                                                echo "<span class='badge badge-warning kt-badge--xl kt-badge--elevate'>Non actif</span>";
                                            }
                                            elseif($values['statut'] == '2')
                                            {
                                                echo "<span class='badge badge-secondary kt-badge--elevate kt-badge--xl'>
                                                        Activation globale
                                                     </span>";
                                            }
                                        ?>
                                    </td>
                                    <td class="text-center" style="padding-top: 20px !important">
                                        <?php
                                            $buttonAction = "<button class='btn btn-xs btn-success btn-actions' data-action='enable' data-id='".$values['id_method_payment']."'>
                                                                Activer              
                                                             </button>";

                                            if($values['statut'] === '1')
                                            {
                                                $buttonAction = "<button class='btn btn-xs btn-danger btn-actions' data-id='".$values['id_method_payment']."' data-action='disabled'>
                                                                   Désactiver         
                                                                 </button>";
                                            }
                                            echo $buttonAction;

                                        ?>
                                    </td>
                                </tr>
                            <?php
                                endforeach;
                               endif;
                            ?>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

</div>

<div class="modal modal-stick-to-bottom fade" id="kt_modal_show_devise" role="dialog" data-backdrop="true" aria-modal="true">
            <div class="modal-dialog modal-xs" role="document">
                <form method="post" class="row margin-0-auto" style="width: 100% !important" id="update-settings">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center text-decoration-underline">Modification du moyen de paiement</h4>
                        </div>
                        <div class="row margin-0-auto">
                            <div class="col-md-12 checkbox-list" id="container_devise">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-xs btn-outline-primary pull-right" type="submit">
                                Soumettre
                            </button>
                        </div>

                    </div>

                </form>

            </div>
 </div>


