<?php

?>

<div class="kt-login__signin" id="kt_form_recover_password">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Changement de mot de passe</h3>
    </div>

    <form class="kt-form" action="<?= $_SERVER['PHP_SELF'] ?>" method="post">
        <div class="input-group">
            <input class="form-control" type="password" required placeholder="Nouveau mot de passe" name="password" autocomplete="off">
            <input type="hidden" name="key_recup" value="<?= isset($keysToConnect['key_recup']) && !empty($keysToConnect['key_recup']) ? $keysToConnect['key_recup'] : "" ?>"/>
            <input type="hidden" name="token_recup" value="<?= isset($keysToConnect['token_recup']) && !empty($keysToConnect['token_recup']) ? $keysToConnect['token_recup'] : "" ?>"/>
        </div>
        <div class="input-group">

            <input class="form-control" type="password" required placeholder="Répéter le mot de passe" name="rpassword">
        </div>

        <div class="kt-login__actions">
            <button id="kt_form_recover_pwd_submit" class="btn btn-brand btn-elevate-hover" type="submit" style="">Envoyer&nbsp;<i class="flaticon-envelope"></i> </button>
        </div>
    </form>
</div>
