<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 19-Apr-20
 * Time: 5:43 AM
 */

echo $this->headLink()
    ->appendStylesheet($this->basePath("assets/css/pages/wizard-4.css"))
    ->appendStylesheet($this->basePath("assets/pages/equivalences-settings/style_list_devises_equivalences.css"))
    ->appendStylesheet($this->basePath("assets/css/global_style.css"))


;

?>
<style type="text/css">
    @media screen and (min-width: 992px)
    {
        .kt-container
        {
            margin-top: 20px !important;
        }
    }
</style>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main" style="padding-top: 0 !important;t">

            <h1 class="kt-subheader__title font-size-1_5 ">
                <i class="flaticon-settings-1"></i>&nbsp;<span>Paramètrage des équivalences
            </h1>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid margin-top-20">
    <div class="row padding-10" style="margin: 0 auto !important">

        <div class="btn-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal_global_settings">
                <i class="flaticon-cogwheel"></i>&nbsp;Paramètrage général
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-brand" data-toggle="modal" data-target="#modal_update_global_settings">
                <i class="flaticon-edit"></i>&nbsp;Modifier un paramétrage
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-dark" data-toggle="modal" data-target="#modal_list_global_settings">
                <i class="flaticon2-list-1"></i>&nbsp;Liste des paramétrages généraux
            </button>
        </div>

    </div>
    <div class="kt-wizard-v4" id="kt_user_add_user" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">
            <div class="kt-wizard-v4__nav-items nav">
                <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                <div class="kt-wizard-v4__nav-item nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                    <div class="kt-wizard-v4__nav-body font-size-1_5">


                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45px" height="45px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
                                <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
                            </g>
                        </svg>

                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Comment se fait le paramétrage ?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item nav-item"  data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M18.6225,9.75 L18.75,9.75 C19.9926407,9.75 21,10.7573593 21,12 C21,13.2426407 19.9926407,14.25 18.75,14.25 L18.6854912,14.249994 C18.4911876,14.250769 18.3158978,14.366855 18.2393549,14.5454486 C18.1556809,14.7351461 18.1942911,14.948087 18.3278301,15.0846699 L18.372535,15.129375 C18.7950334,15.5514036 19.03243,16.1240792 19.03243,16.72125 C19.03243,17.3184208 18.7950334,17.8910964 18.373125,18.312535 C17.9510964,18.7350334 17.3784208,18.97243 16.78125,18.97243 C16.1840792,18.97243 15.6114036,18.7350334 15.1896699,18.3128301 L15.1505513,18.2736469 C15.008087,18.1342911 14.7951461,18.0956809 14.6054486,18.1793549 C14.426855,18.2558978 14.310769,18.4311876 14.31,18.6225 L14.31,18.75 C14.31,19.9926407 13.3026407,21 12.06,21 C10.8173593,21 9.81,19.9926407 9.81,18.75 C9.80552409,18.4999185 9.67898539,18.3229986 9.44717599,18.2361469 C9.26485393,18.1556809 9.05191298,18.1942911 8.91533009,18.3278301 L8.870625,18.372535 C8.44859642,18.7950334 7.87592081,19.03243 7.27875,19.03243 C6.68157919,19.03243 6.10890358,18.7950334 5.68746499,18.373125 C5.26496665,17.9510964 5.02757002,17.3784208 5.02757002,16.78125 C5.02757002,16.1840792 5.26496665,15.6114036 5.68716991,15.1896699 L5.72635306,15.1505513 C5.86570889,15.008087 5.90431906,14.7951461 5.82064513,14.6054486 C5.74410223,14.426855 5.56881236,14.310769 5.3775,14.31 L5.25,14.31 C4.00735931,14.31 3,13.3026407 3,12.06 C3,10.8173593 4.00735931,9.81 5.25,9.81 C5.50008154,9.80552409 5.67700139,9.67898539 5.76385306,9.44717599 C5.84431906,9.26485393 5.80570889,9.05191298 5.67216991,8.91533009 L5.62746499,8.870625 C5.20496665,8.44859642 4.96757002,7.87592081 4.96757002,7.27875 C4.96757002,6.68157919 5.20496665,6.10890358 5.626875,5.68746499 C6.04890358,5.26496665 6.62157919,5.02757002 7.21875,5.02757002 C7.81592081,5.02757002 8.38859642,5.26496665 8.81033009,5.68716991 L8.84944872,5.72635306 C8.99191298,5.86570889 9.20485393,5.90431906 9.38717599,5.82385306 L9.49484664,5.80114977 C9.65041313,5.71688974 9.7492905,5.55401473 9.75,5.3775 L9.75,5.25 C9.75,4.00735931 10.7573593,3 12,3 C13.2426407,3 14.25,4.00735931 14.25,5.25 L14.249994,5.31450877 C14.250769,5.50881236 14.366855,5.68410223 14.552824,5.76385306 C14.7351461,5.84431906 14.948087,5.80570889 15.0846699,5.67216991 L15.129375,5.62746499 C15.5514036,5.20496665 16.1240792,4.96757002 16.72125,4.96757002 C17.3184208,4.96757002 17.8910964,5.20496665 18.312535,5.626875 C18.7350334,6.04890358 18.97243,6.62157919 18.97243,7.21875 C18.97243,7.81592081 18.7350334,8.38859642 18.3128301,8.81033009 L18.2736469,8.84944872 C18.1342911,8.99191298 18.0956809,9.20485393 18.1761469,9.38717599 L18.1988502,9.49484664 C18.2831103,9.65041313 18.4459853,9.7492905 18.6225,9.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                <path d="M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"/>
                            </g>
                        </svg>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Paramétrage des équivalences
                            </div>

                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item nav-item" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45px" height="45px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                                <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                            </g>
                        </svg>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Modifier un paramétrage
                            </div>

                        </div>
                    </div>
                </div>
                <div class="kt-wizard-v4__nav-item nav-item" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000"/>
                                <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3"/>
                            </g>
                        </svg>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                               Liste des paramétrages
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Form Wizard Nav -->

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper" style=" padding: 8px !important">
                        <!--begin: Form Wizard Form-->
                        <div class="col-md-12 kt-padding-100-desktop" style="margin: 0 auto !important" id="kt_user_add_form">
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">

                                                <div class="alert alert-light alert-elevate" role="alert">
                                                    <div class="row margin-0-auto">

                                                        <div class="alert-icon col-lg-2 col-xs-12 text-center"><i class="flaticon-warning"></i></div>
                                                        <div class="alert-text col-lg-12 col-xs-12">
                                                            <h4 style="text-decoration: underline !important">Commet se fait le paramétrage ?</h4>
                                                            <p class="font-size-1_3 text-justify">
                                                                Le paramétrage de taux entre deux ou plusieurs devises se fait de façon générale en fonction de la devise la plus forte.
                                                                Exple : Le dollar est plus fort le FCFA. La cryptomonnaie est plus forte que toute les autres monnaies.
                                                                Pour des équivalences entre des devises de même poids, cela revient à l'administrateur de définir les taux selons les cours du marché.
                                                                Les informations à paramétrer  sont disposées telles qu'au niveau de l'interface du client. Ainsi les informations de droite sont ce que l'utilisateur donne et les informations disposées à droite sont ce qu'il reçcoit. <br>
                                                                Les paramètrages doivent se faire en prenant en compte ses considérations.
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="kt-section__body">

                                                    <div class="row" style="margin: 0 auto !important;">
                                                        <div class="col-md-6 padding-25" id="container_source" style="margin: 12px auto !important">

                                                            <div class="form-group row">
                                                                <label for="select_add_equivalence_monnaie_source" class="form-control-label">Monnaie source</label>
                                                                <select id="select_add_equivalence_monnaie_source" class="form-control kt-selectpicker" name="select_add_equivalence_monnaie_source" data-live-search="true">
                                                                    <option value="">--Choisir une monnaie--</option>
                                                                    <?php
                                                                        if(isset($loadMonnaie) && !empty($loadMonnaie)):
                                                                             foreach ($loadMonnaie as $loadMonnaies):
                                                                    ?>
                                                                        <option  value="<?= $loadMonnaies['id_famille'].'-'.$loadMonnaies['type_monnaie'] ?>" >
                                                                            <?= $loadMonnaies['libelle_famille'] ?>
                                                                        </option>
                                                                    <?php
                                                                        endforeach;
                                                                        endif;
                                                                    ?>

                                                                </select>
                                                            </div>

                                                            <div class="form-group row margin-top-25">
                                                                <label for="select_add_equivalence_devise_source">Devise source</label>
                                                                <select id="select_add_equivalence_devise_source" name="select_add_equivalence_devise_source" data-live-search="true" class="form-control kt-selectpicker">
                                                                    <option value="">--Choisir une devise--</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 padding-25" id="container_destination" style="margin: 12px auto !important">
                                                            <div class="form-group row">
                                                                <label for="select_add_equivalence_monnaie_destination">Monnaie destination</label>
                                                                <select id="select_add_equivalence_monnaie_destination" class="form-control kt-selectpicker">
                                                                    <option value="">--Choisir une monnaie</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group row margin-top-25">
                                                                <label for="select_add_equivalence_devise_destination">Devise destination</label>
                                                                <select name="select_add_equivalence_devise_destination" id="select_add_equivalence_devise_destination" class="form-control kt-selectpicker">
                                                                    <option value="">--Choisir une devise</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-group-last row t kt-padding-l-30 hide" id="confirm_btn_container">
                                                        <button class="btn btn-brand btn-sm pull-right" type="button" id="btn_confirm_devise_to_add">Confirmer</button>
                                                    </div>


                                                    <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>

                                                    <div class='col-md-12 width-100' id="container_results_for_add_equivalence">

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content" style="min-height: 350px !important">
                                <div class="kt-heading kt-heading--md"></div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row clearfix">
                                            <div class="col-md-12 text-left">
                                                <h3>Modification d'une équivalence</h3>
                                            </div>
                                        </div>
                                        <div class="row clearfix margin-top-20">
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="select_edit_source">Devise source</label>
                                                <select class="form-control kt-selectpicker margin-top-15" id="select_edit_source" name="select_edit_source">
                                                    <option value="">--Choisir une devise--</option>
                                                    <?php
                                                        if(isset($loadDevises) && !empty($loadDevises)):
                                                            foreach ($loadDevises as $keys=>$values):
                                                    ?>
                                                        <option value="<?= $values['id_devise'] ?>"><?= $values['lib_devise'] ?></option>
                                                    <?php
                                                        endforeach;
                                                        endif;
                                                    ?>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="select_edit_destination" class="form-control-label col-md-12">Devise destination</label>
                                                <select class="form-control col-md-12 margin-top-15 selectpicker" id="select_edit_destination" name="select_edit_destination">
                                                    <option value="">--Choisir une devise--</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row clearfix margin-top-20 hide" id="container_btn_confirm_edit">
                                            <div class="col-md-12 padding-right-20">
                                                    <button id="btn_confirm_edit" class="btn btn-primary btn-elevate-air btn-custom pull-right">
                                                        Confirmer devises
                                                    </button>
                                            </div>
                                        </div>

                                        <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>


                                        <div class="col-md-12 padding-r-0 padding-l-0 margin-top-30" id="container_result_for_edit_equivalences">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 3-->

                            <!--begin: Form Wizard Step 4-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">
                                    <h2 class="text-center text-decoration-underline font-size-1_5">Liste des devises paramétrer</h2>
                                </div>
                                <div class="kt-form__section kt-form__section--first width-100 padding-l-0 padding-r-0">
                                    <div class="kt-wizard-v4__review">
                                        <div class="row table-responsive padding-l-0 padding-r-0 width-100" style="margin:0 auto !important">

                                            <!--begin: Datatable -->
                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Devises source</th>
                                                    <th>Taux/Prix d'achat</th>
                                                    <th>Taux/Prix de vente</th>
                                                    <th>Quantité minimum achat</th>
                                                    <th>Quantité minimum vente</th>
                                                    <th>Devises destination</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>


                                            </table>
                                            <!--end: Datatable -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4-->

                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">

                            </div>
                            <!--end: Form Actions -->
                        </div>
                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="modal fade" id="modal_global_settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="kt_form_add_global_settings">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paramétrages généraux</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                   <h4 class="font-size-1_2">Configuration de monnaies électroniques avec le FCFA</h4>

                    <div class="form-group">
                        <label for="electronic_currency" class="form-control-label">
                          Choisir une monnaie électronique
                        </label>
                        <select id="electronic_currency" required name="electronic_currency" data-live-search="true" class="form-control kt-selectpicker">

                            <option value="">--Choisir une monnaie électronique--</option>
                            <?php
                                if(isset($loadElectronicCurrencies) && !empty($loadElectronicCurrencies)):
                                    foreach($loadElectronicCurrencies as $elements):
                            ?>
                            <option value="<?= $elements['id_devise'] ?>">
                                <?= $elements['lib_devise'] ?>
                            </option>

                            <?php
                                endforeach;
                               endif;
                            ?>
                        </select>
                    </div>
                    <div class="form-group width-100">
                        <label for="purchase_price">
                            Prix d'achat de la monnaie en <b>FCFA</b>
                        </label>
                        <input type="number" class="form-control" name="purchase_price" min="0" placeholder="Prix d'achat de la monnaie en FCFA" required id="purchase_price"/>
                    </div>

                    <div class="form-group width-100">
                        <label for="sale_price">
                            Prix de vente de la monnaie en <b>FCFA</b>
                        </label>
                        <input type="number" min="0" class="form-control" placeholder="Prix de vente de la monnaie en FCFA" name="sale_price" id="sale_price"/>
                    </div>
                    <div class="form-group width-100">
                        <label for="quantite_min">
                            Quantite à minimum à recevoir
                        </label>
                        <input type="number" min="0" class="form-control" required placeholder="Quantité minimum à recevoir" name="quantite_min" id="quantite_min"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_cancel_global_equivalence" class="btn btn-secondary">Annuler</button>
                    <button type="submit" id="btn_add_global_equivalence" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_update_global_settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="kt_form_update_global_settings">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Modifier un paramétrage global</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                   <h4 class="font-size-1_2">Modifier configuration de monnaies électroniques avec le FCFA</h4>

                    <div class="form-group">
                        <label for="update_electronic_currency" class="form-control-label">
                          Choisir une monnaie électronique
                        </label>
                        <select id="update_electronic_currency" required name="update_electronic_currency" data-live-search="true" class="form-control kt-selectpicker">

                            <option value="">--Choisir une monnaie électronique--</option>
                            <?php
                                if(isset($getCurrenciesEquivGlobal) && !empty($getCurrenciesEquivGlobal)):
                                    foreach ($getCurrenciesEquivGlobal as $elements):
                            ?>

                                <option value="<?= $elements['id_devise'] ?>">
                                    <?= $elements['lib_devise'] ?>
                                </option>

                            <?php
                                endforeach;
                                endif;
                            ?>

                        </select>
                    </div>
                    <div class="form-group width-100">
                        <label for="purchase_price">
                            Prix d'achat de la monnaie en <b>FCFA</b>
                        </label>
                        <input type="number" class="form-control" name="update_purchase_price" min="0" placeholder="Prix d'achat de la monnaie en FCFA" required id="update_purchase_price"/>
                    </div>

                    <div class="form-group width-100">
                        <label for="sale_price">
                            Prix de vente de la monnaie en <b>FCFA</b>
                        </label>
                        <input type="number" min="0" class="form-control" placeholder="Prix de vente de la monnaie en FCFA" name="update_sale_price" id="update_sale_price"/>
                    </div>
                    <div class="form-group width-100">
                        <label for="update_quantite_min">
                            Quantité minimum à recevoir
                        </label>
                        <input type="number" class="form-control" min="0" placeholder="Quantité minimum à recevoir" name="update_quantite_min" id="update_quantite_min"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_cancel_update_global_equivalence" class="btn btn-secondary">Annuler</button>
                    <button type="submit" id="btn_update_global_equivalence" class="btn btn-primary">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>






<div class="modal fade" id="modal_list_global_settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Liste des paramétrages généraux</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row table-responsive width-100" style="margin: 0 auto !important">

                        <table class="table table-hover width-100" id="kt_table_global_settings">
                            <thead>
                                <tr>
                                    <th>Devises</th>
                                    <th>Prix d'achat en <b>FCFA</b></th>
                                    <th>Prix de vente en <b>FCFA</b></th>
                                    <th>Quantité minimum</th>

                                </tr>
                            </thead>


                            <tfoot>
                            <tr>
                                <th>Devises</th>
                                <th>Prix d'achat en <b>FCFA</b></th>
                                <th>Prix de vente en <b>FCFA</b></th>
                                <th>Quantité minimum</th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

        </div>
    </div>
</div>



