@media only screen and (max-width: 992px)
{
    .btn-update-identify{
        visibility: hidden;
    }
    .btn-update-identify:after {
        content:'Modifier';
        visibility: visible !important;
        background-color: #5867dd !important;
        color: #FFF !important;
        margin-top: -100px !important;
        padding: 8px !important;
        border-radius: 2px;

    }
}