<?php
/**
 * Created by PhpStorm.
 * User: carlos
 * Date: 13/08/2020
 * Time: 13:13
 */

echo $this->headLink()
    ->appendStylesheet($this->basePath('assets/pages/terms-of-use/custom_style.css'))
    ->appendStylesheet($this->basePath('assets/css/global_style.css'))
;
?>

<style type="text/css">
    @media screen and (max-width: 991px)
    {
        .title_terms_of_use
        {
            font-size: 0.7em;
            padding-left: 12px !important;
        }
        .li_terms_of_use
        {
            font-size: 0.6em !important;
        }
    }
    @media screen and (min-width: 992px)
    {
        .title_terms_of_use
        {
            font-size: 1.0em !important;
            padding-left: 12px !important;
        }

        .li_terms_of_use
        {
            font-size: 0.8em !important;
        }
    }
</style>

<div class="col-md-12 col-lg-12 kt-padding-100-desktop">
    <div class="kt-section">
        <div class="row margin-0-auto width-100">
            <div class="col-md-12 width-100">
                <div class="col-md-12 kt-padding-l-0">
                    <h1 class="" style="font-weight:500 !important; font-size:1.5em !important; text-transform: uppercase !important">Conditions Générales d'utilisation</h1>
                </div>

                <div class="kt-bg-dark kt-height-4 kt-inline-block kt-width-80" style="">
                </div>
                <div class="col-md-12 kt-padding-t-20 kt-padding-l-0" style="">
                    <?php
                    if(isset($terms_of_use) && !empty($terms_of_use)):
                        $i = 1;
                        foreach($terms_of_use as $elements):
                            if(isset($elements['contenu']) && count($elements['contenu']) === 1):
                                foreach ($elements['contenu'] as $keys=>$contenus):
                            ?>
                            <?php
                            if($contenus['id_contenu'] == 1):
                                ?>
                                <p class="text-align-justify kt-font-size-1_3-desktop" style="font-weight:300 !important;font-size:1.5em !important; font-family: 'IBM Plex Sans', sans-serif !important;">
                                    <?= html_entity_decode($contenus['contenu']) ?>
                                </p>
                            <?php
                                endif;
                              endforeach;
                            endif;
                        endforeach;

                    endif;
                    ?>
                </div>
            </div>
        </div>
        <div class="row kt-margin-t-100-desktop kt-margin-t-60-tablet-and-mobile width-100">
            <div class="col-md-12">
                <div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <symbol viewBox="0 0 24 24" id="expand-more">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </symbol>
                        <symbol viewBox="0 0 24 24" id="close">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </symbol>
                    </svg>
                </div>


            <?php
                if(isset($terms_of_use) && !empty($terms_of_use)):


                    foreach($terms_of_use as $keys=>$values):

                        if($values['id_en_tete'] != 1):

            ?>


                <details class="bg-white kt-padding-l-5 kt-padding-r-5">
                    <summary class="bg-white">
                       <h5 class="title_terms_of_use"> <?= filter_var($values['name_en_tete'],FILTER_SANITIZE_STRING) ?> </h5>
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
                    </summary>
                    <ul class="kt-padding-t-15 width-100" style="display: block !important;list-style-type: none !important">
                        <?php
                            $i=1;
                            if(isset($values['contenu']) && !empty($values['contenu'])):
                                foreach ($values['contenu'] as $elements):

                        ?>
                            <li class="padding-12 text-align-left li_terms_of_use" style="line-height: 35px !important;">
                                <?=$i.'-'.filter_var(html_entity_decode($elements['contenu']),FILTER_SANITIZE_STRING) ?>
                            </li>
                        <?php
                                $i++;
                            endforeach;
                           endif;
                        ?>
                    </ul>
                </details>



                <?php
                endif;
              endforeach;
              endif;

            ?>
            </div>

        </div>

        <div class="row width-100">
            <div class="col-md-12 kt-margin-t-30">
                <a href="<?= $this->url('login',['action'=>'index']) ?>">
                    <button type="button" class="btn btn-light font-size-0_8 btn-elevate-hover btn-circle
                                             btn-icon border-fff bg-forest-green" data-toggle="kt-popover" title=""
                            data-content="Retour"

                            style="margin: 10px  !important">
                        <i class="la la-arrow-left font-size-2_0 color-white"></i>
                    </button><b class="text-decoration-underline font-size-1_1">Retour</b>
                </a>
            </div>
        </div>
    </div>
</div>


