<?php

/*echo $this->headLink()
    ->appendStylesheet($this->basePath('assets/plugins/bootstrap-sweetalert/sweet-alert.css'))
;*/

?>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile kt-margin-t-60">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon-folder-1"></i>
			</span>
                <h2 class="kt-portlet__head-title font-size-1_1-em">
                   Liste des demandes de vérification d'identité
                </h2>
            </div>

        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Rechercher..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
							            <span><i class="la la-search"></i></span>
						             </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label for="kt_form_status">Status:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_status">
                                            <option  value="">Status des demandes</option>
                                            <option value="0">En Attente</option>
                                            <option value="1">Acceptée</option>
                                            <option value="2">Rejetée</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label title="Type de document" for="kt_form_type">Type:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select title="Type de document" class="form-control bootstrap-select" id="kt_form_type">
                                            <option value="">Tout Afficher</option>
                                            <option value="CNI">Carte d'identité</option>
                                            <option value="LEPI">LEPI</option>
                                            <option value="PASS">Passeport</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end: Search Form -->

            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">Selected
                                    <span id="kt_datatable_selected_number">0</span> records:</label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="local_record_selection"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="kt_modal_motif" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md kt-margin-t-60" role="document">
        <form method="post" id="kt_form_motif">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Motif du rejet du dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row margin-0-auto width-100-pourcent">
                        <div class="form-group col-md-12 padding-left-0 padding-right-0">
                            <label for="motif">Motif du rejet/refus du dossier</label>
                            <textarea  required minlength="12" placeholder="Motif" style="width: 100% !important" rows="5" cols="3" type="text" class="form-control" name="motif" id="motif"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="kt_btn_motif" class="btn btn-elevate btn-primary btn- btn-sm pull-right">
                        Confirmer&nbsp;<i class="flaticon2-check-mark"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
