<?=$this->headLink()
    ->appendStylesheet($this->basePath('assets/pages/login/custom_login.css'))?>

<?php
    $title = 'Connexion';
    $this->headTitle($title)
?>



<div class="kt-login__right">
    <div class="kt-login__wrapper">
        <div class="kt-login__signin">
            <input type="hidden" id="ref" value="<?= isset($getRef) && $getRef!== null ? intval($getRef) : null ?>"/>
            <?php
            if(isset($messagesConfirmRegistration) && !empty($messagesConfirmRegistration)):
                $type_message = null;
                $icon = null;
                if($messagesConfirmRegistration['type'] === "error")
                {
                    $type_message = "danger";
                    $icon = "flaticon-warning";
                }
                else
                {
                    $icon = "flaticon2-check-mark";
                    $type_message = "success";
                }
                ?>
                <div class="col-md-12 padding-r-0 padding-l-0">
                    <div class="alert alert-<?= $type_message ?> fade show" role="alert">
                        <div class="alert-icon"><i class="<?= $icon ?>"></i></div>
                        <div class="alert-text"><?= isset($messagesConfirmRegistration['message']) && !empty($messagesConfirmRegistration['message']) ? $messagesConfirmRegistration['message'] : null ?></div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            <?php
            endif;
            ?>
            <div class="kt-login__head">
                <h1 class="kt-login__title font-size-2_0" style="padding: 0 !important">Connectez-Vous</h1>
            </div>
            <div class="kt-login__form">
                <form class="kt-form" method="post" action="#">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Adresse mail" name="email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-last" type="Password" placeholder="Mot de passe" name="password">
                    </div>
                    <div class="row kt-login__extra">
                        <div class="col kt-align-left">
                            <label class="kt-checkbox">
                                <input type="checkbox" name="remember"> Se souvenir de moi
                                <span></span>
                            </label>
                        </div>
                        <div class="col kt-align-right">
                            <a href="javascript:;" id="kt_login_forgot" class="kt-link">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <div class="kt-login__actions">
                        <button id="kt_login_signin_submit" class="btn btn-brand btn-pill btn-elevate">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="kt-login__signup">
            <div class="kt-login__head">
                <h1 class="kt-login__title font-size-2_0" style="padding: 0 !important">S'inscrire</h1>

            </div>
            <div class="kt-login__form">
                <form class="kt-form" action="#">
                    <div class="form-group">
                        <input class="form-control" type="text" maxlength="45" required placeholder="Nom complet" name="fullname">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" required placeholder="Adresse mail" name="email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" required placeholder="Mot de passe" name="password">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-last" type="password" placeholder="Répéter mot de passe" name="rpassword">
                    </div>
                    <div class="row kt-login__extra">
                        <div class="col kt-align-left">
                            <label class="kt-checkbox">
                                <input type="checkbox" name="agree">J'accepte <a href="<?= $this->url('terms-of-use') ?>" target="_blank" class="kt-link kt-login__link kt-font-bold">les conditions d'utilisation</a> et cela sans réserve.
                                <span></span>
                            </label>
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="kt-login__actions">
                        <button id="kt_login_signup_submit" class="btn btn-brand btn-pill btn-elevate">Confirmer</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button id="kt_login_signup_cancel" class="btn btn-outline-brand btn-pill">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="kt-login__forgot">
            <div class="kt-login__head">
                <h3 class="kt-login__title">Mot de passe oublié ?</h3>
                <div class="kt-login__desc">Entrez votre adresse mail pour réinitialiser votre mot de passe:</div>
            </div>
            <div class="kt-login__form">
                <form class="kt-form" action="#">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
                    </div>
                    <div class="kt-login__actions">
                        <button id="kt_login_forgot_submit" class="btn btn-brand btn-pill btn-elevate">Confirmer</button>
                        <button id="kt_login_forgot_cancel" class="btn btn-outline-brand btn-pill" style="margin-left: 8px !important">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

