<?=$this->headLink()
    ->appendStylesheet($this->basePath('assets/pages/login/custom_login.css'))?>

<?php
$title = 'Inscription';
$this->headTitle($title);
//die(var_dump($post));
?>



<div class="kt-login__right padding-l-0 padding-r-0">
    <div class="kt-login__wrapper">

        <div class="kt-login__signup" style="display: block !important;width: 100% !important">
            <div class="kt-login__head margin-top-20">
                <h1 class="kt-login__title font-size-2_0" style="padding: 0 !important">S'inscrire</h1>
            </div>
            <div class="kt-login__form">
               <?php
                    if(isset($post,$msgNotification,$msgNotification['type']) && $msgNotification['type'] == "danger"):

                ?>

                  <div class="col-md-12 padding-r-0 padding-l-0">
                            <div class="alert alert-<?= $msgNotification['type'] ?> fade show" role="alert">
                                <div class="alert-icon"><i class="fa fa-warning"></i></div>
                                <div class="alert-text"><?= isset($msgNotification['message']) && !empty($msgNotification['message']) ? $msgNotification['message'] : null ?></div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                   </div>

                <?php
                    endif;
                ?>
                <form class="kt-form" action="<?= $this->url('register') ?>" method="post">
                    <div class="form-group">
                        <input class="form-control"  value="<?= isset($post,$post['lastName']) && !empty($post['lastName']) ? $post['lastName']:"" ?>" type="text" maxlength="45" required placeholder="Nom" name="lastName">
                    </div>

                    <div class="form-group">
                        <input class="form-control" value="<?= isset($post,$post['firstName']) && !empty($post['firstName']) ? $post['firstName']:"" ?>" type="text" maxlength="45" required placeholder="Prénom(s)" name="firstName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" value="<?= isset($post,$post["email"]) && !empty(trim($post["email"])) ? $post["email"]:"" ?>"  type="email" id="email" required placeholder="Adresse mail" name="email">
                    </div>
                    <div class="form-group col-form-label margin-top-10">
                        <label class="margin-top-10">Veuillez renseigner votre sexe</label>
                        <div class="radio-inline margin-top-5">
                            <label class="radio radio-success">
                                <input required type="radio" value="F" name="sexe" <?= isset($post,$post['sexe']) && $post['sexe'] == "F" ? "checked='checked'":""  ?>>
                                <span></span>Femme
                            </label>
                            <label class="radio radio-success kt-margin-l-20" style="padding-top: 5px !important">
                                <input required type="radio" value="M" name="sexe" <?= isset($post,$post['sexe']) && $post['sexe'] == "M" ? "checked='checked'":""  ?>>
                                <span></span>Homme
                            </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" required placeholder="Mot de passe" name="password">
                    </div>

                    <div class="form-group">
                        <input class="form-control" style="border-bottom: 1px !important" type="password" placeholder="Répéter mot de passe" name="rpassword">
                    </div>
                    <div class="row kt-login__extra">
                        <div class="col-md-12 pull-right padding-t-0 margin-bottom-20" style="margin-top: -10px !important">
                            <a href="<?= $this->url('login') ?>" id="" class="kt-link">Vous avez déjà un compte ? Connectez-vous</a>
                        </div>
                        <div class="col kt-align-left">
                            <label class="kt-checkbox">
                                <input type="checkbox" required name="agree">J'accepte <a href="<?= $this->url('terms-of-use') ?>" target="_blank" class="kt-link kt-login__link kt-font-bold">les conditions d'utilisation</a> et cela sans réserve.
                                <span></span>
                            </label>
                            <span class="form-text text-muted"></span>
                        </div>

                    </div>
                    <div class="kt-login__actions">
                        <button id="" class="btn btn-brand btn-pill btn-elevate">Confirmer</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="<?= $this->url('login') ?>" class="btn btn-outline-brand btn-pill">Annuler</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    
    var adresseMail = document.querySelector('#email');
    
    adresseMail.addEventListener('change',function(){
        
        this.value = this.value.trim().replace(/\s/g,'');
        this.innerHtml = this.value.trim().replace(/\s/g,'');
       
        console.log(this.value);
    });
    
</script>