<?php


echo $this->headLink()
    ->appendStylesheet($this->basePath("assets/css/vendors/sweetalert2.css"))
    ->appendStylesheet('/assets/css/custom_media_style.css')
    ->appendStylesheet('/assets/plugins/datatables/datatables.bundle.css')
    ->appendStylesheet('/assets/pages/currencies-management/switch-button-style.css?'.uniqid())

;

?>


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader-search" style="background-color: transparent !important; height:auto !important; margin-bottom: -10px !important">

    </div>


    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt_container__fluid">
        <!--Begin::Dashboard 6-->
        <!--begin:: Widgets/Stats-->

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-coins kt-font-size-1_8-desktop color-cyan"></i>&nbsp;&nbsp;
			</span>
                    <h1 class="kt-portlet__head-title color-cyan font-size-1_8" style="">
                        Gestion des devises
                    </h1>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-brand btn-icon-sm" data-target="#kt_modal_4" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i><span id="text_add_desktop"> Nouvelle devise</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body">
                <!--begin: Search Form -->
                <form class="kt-form kt-form--fit kt-margin-b-20">
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>Catégorie recherchée</label>
                            <select class="form-control kt-input kt-selectpicker" data-col-index="0">
                                <option value="">Choisir une catégorie</option>
                                <?php
                                if(isset($categories_devises) && !empty($categories_devises)):
                                    foreach ($categories_devises as $elements):
                                        ?>
                                        <option value="<?= $elements['lib_categorie_devise'] ?>"><?=  $elements['lib_categorie_devise']?></option>
                                    <?php
                                    endforeach;
                                endif;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label for="currency_wanted">Moannaie recherchée</label>
                            <select class="form-control kt-input kt-selectpicker" id="currency_wanted" data-col-index="1">
                                <option value="">Choisir une monnaie</option>
                                <?php
                                if(isset($monnaies) && !empty($monnaies)):
                                    foreach ($monnaies as $values):
                                        ?>

                                        <option value="<?= $values['libelle_famille'] ?>"><?= $values['libelle_famille'] ?></option>
                                    <?php
                                    endforeach;
                                endif;
                                ?>
                            </select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>Status</label>
                            <select class="form-control kt-input kt-selectpicker" data-col-index="2">
                                <option value="">Choisir un status</option>
                                <option value="1">Actif</option>
                                <option value="0">Non actif</option>
                            </select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>Devises recherchées</label>
                            <input type="text" class="form-control kt-input" placeholder="Ex : AdvCash" data-col-index="3">
                        </div>
                    </div>



                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-brand--icon" id="kt_search">
						<span>
							<i class="la la-search"></i>
							<span>Rechercher</span>
						</span>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						<span>
							<i class="la la-close"></i>
							<span>Annuler</span>
						</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!--begin: Datatable -->

                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row padding-l-0 padding-r-0 table-responsive clearfix width-100" style="margin: 0 auto !important">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_currencies">
                        <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Devise</th>
                            <th>Catégorie</th>
                            <th>Eligible pour méthode de paiement</th>
                            <th>Solde minimum</th>
                            <th>Solde courant</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>


                        <tfoot>
                        <tr>
                            <th>Logo</th>
                            <th>Devise</th>
                            <th>Catégorie</th>
                            <th>Eligible pour méthode de paiement</th>
                            <th>Solde minimum</th>
                            <th>Solde courant</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <!--end: Datatable -->

            </div>
        </div>


        <!--end:: Widgets/Stats-->

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

</div>


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" class="kt-form kt-form--label-right"  id="kt_devise_add_form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Ajout d'une nouvelle devise</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control kt-selectpicker" id="kt-select_categorie_devise_add_devise_form" required name="categorie_devise">
                                    <option value="">--Choisir une catégorie de devise--</option>
                                    <?php
                                    if(isset($categories_devises) && !empty($categories_devises)):
                                        foreach ($categories_devises as $elements):
                                            ?>
                                            <option value="<?= $elements['id_categorie_devise'] ?>"><?= $elements['lib_categorie_devise'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">

                                <input type="text" placeholder="Désignation de la devise" required class="form-control" value="<?= isset($_POST['libelle_devise'],$messageNotification['error']) && !empty($_POST['libelle_devise']) ? $_POST['libelle_devise']: null ?>" name="libelle_devise" id="recipient-libelle_devise">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-solde_minimum" class="form-control-label">Solde minimum</label>
                                <input type="number" min="0" step="any" minlength="2" value="<?= isset($_POST['solde_minimum'],$messageNotification['error']) && !empty($_POST['solde_minimum']) ? $_POST['solde_minimum']: null ?>" placeholder="Solde minimum" required class="form-control" name="solde_minimum" id="recipient-solde_minimum">

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-solde" class="form-control-label">Solde actuel/démarrage</label>
                                <input type="number" step="any" min="0" minlength="2" placeholder="Solde actuel/démarrage" value="<?= isset($_POST['solde'],$messageNotification['error']) && !empty($_POST['solde']) ? $_POST['solde']: null ?>" required class="form-control" name="solde" id="recipient-solde">

                            </div>
                        </div>

                        <div class="col-md-12 kt-padding-t-5">
                            <div class="form-group">
                                <label for="kt-select_monnaie_add_devise_form" class="form-control-label">Monnaie de la devise</label>
                                <select class="form-control" id="kt-select_monnaie_add_devise_form" required name="famille_devise">
                                    <option value="">--Choisir une monnaie--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        <input name="dispo_source" type="checkbox">Disponible pour l'achat
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        <input name="dispo_destination" type="checkbox">Disponible pour la vente
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12 margin-top-10">
                            <div class="form-group">
                                <label for="kt-fileToUpload_add_devise_form" class="form-label">Choisir un logo</label>
                                <input name="fileToUpload" id="kt-fileToUpload_add_devise_form" required class="form-control margin-t-10" type="file"/>

                            </div>
                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="kt_btn_currencies_add_form" name="kt_btn_currencies_add_form"  class="btn btn-primary">Confirmer</button>
                </div>
            </form>
        </div>
        <?php
        $typeMessage = $message= "";
        if(isset($messageNotification) && !empty($messageNotification))
        {

            if(isset($messageNotification['error']) && !empty($messageNotification['error']))
            {
                $message = $messageNotification['error'];
                $typeMessage ="error";
            }
            elseif(isset($messageNotification['success']) && !empty($messageNotification['success']))
            {
                $message = $messageNotification['success'];
                $typeMessage = "success";
            }
        }
        ?>
        <input type="hidden" id="hiddenMessage" value="<?= !empty($message) ? $message : null ?>" data-type="<?= !empty($typeMessage) ? $typeMessage : null ?>"/>
    </div>
</div>
<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_update_devise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_devise_update_form" onsubmit="return false;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier devise</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control kt-selectpicker" id="kt-select_categorie_devise_update_devise_form" required name="edit_categorie_devise">
                                    <option value="">--Choisir une catégorie de devise--</option>
                                    <?php
                                    if(isset($categories_devises) && !empty($categories_devises)):
                                        foreach ($categories_devises as $elements):
                                            ?>
                                            <option value="<?= $elements['id_categorie_devise'] ?>"><?= $elements['lib_categorie_devise'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">

                                <input type="text" placeholder="Désignation de la devise" required class="form-control" value="<?= isset($_POST['edit_libelle_devise'],$messageNotification['error']) && !empty($_POST['edit_libelle_devise']) ? $_POST['edit_libelle_devise']: null ?>" name="edit_libelle_devise" id="recipient-edit_libelle_devise">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-edit_solde_minimum" class="form-control-label">Solde minimum</label>
                                <input type="number" min="0" step="any"  value="<?= isset($_POST['edit_solde_minimum'],$messageNotification['error']) && !empty($_POST['edit_solde_minimum']) ? $_POST['edit_solde_minimum']: null ?>" placeholder="Solde minimum" required class="form-control" name="edit_solde_minimum" id="recipient-edit_solde_minimum">

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-edit_solde" class="form-control-label">Solde actuel/démarrage</label>
                                <input type="number" step="any" min="0" placeholder="Solde actuel/démarrage" value="<?= isset($_POST['edit_solde'],$messageNotification['error']) && !empty($_POST['edit_solde']) ? $_POST['edit_solde']: null ?>" required class="form-control" name="edit_solde" id="recipient-edit_solde">

                            </div>
                        </div>

                        <div class="col-md-12 kt-padding-t-5">
                            <div class="form-group">
                                <label for="kt-select_monnaie_edit_devise_form" class="form-control-label">Monnaie de la devise</label>
                                <select class="form-control" id="kt-select_monnaie_edit_devise_form" required name="edit_famille_devise">
                                    <option value="">--Choisir une monnaie--</option>
                                    <?php
                                    if(isset($monnaies) && !empty($monnaies)):
                                        foreach ($monnaies as $values):
                                            ?>
                                            <option value="<?= $values['id_famille'] ?>"><?= $values['libelle_famille'] ?></option>

                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        <input name="edit_dispo_source" id="edit_dispo_source" type="checkbox">Disponible pour l'achat
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                        <input name="edit_dispo_destination" id="edit_dispo_destination" type="checkbox">Disponible pour la vente
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_cancel_update_devise_form" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="btn_submit_update_devise_form" class="btn btn-primary">Modifier&nbsp;<i class="flaticon-edit"></i> </button>
                    <input type="hidden" id="hidden_id_devise" name="hidden_id_devise"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->










<!--- Modals de parametrage du type d'adresse de reception-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_add_settings_input" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <form method="post" id="kt_add_settings_input_form">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Paramétrer le type d'adresse de réception pour cette devise <span id="span_lib_devise" class="text-info font-size-0_8" style="font-weight: bold"></span></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">

                        <div class="col-md-12">
                            <label for="kt-add-select_type_input"> Choisir le type d'adresse de réception</label>
                            <select class="col-md-12 form-control" required id="kt-add-select_type_input" name="kt-add-select_type_input">

                            </select>
                        </div>

                        <div class="col-md-12 hide margin-bottom-15 margin-top-15" id="container_select_country">
                            <label for="kt-add-select_country"> Choisir le/les Pays</label>
                            <select class="form-control col-md-12 kt-selectpicker" required multiple data-live-search="true" name="kt-add-select_country" id="kt-add-select_country">

                                <?php
                                if(isset($pays) && !empty($pays)):
                                    foreach ($pays as $values):
                                        ?>
                                        <option value="<?= $values['code_pays'] ?>"><?= $values['lib_pays'] ?></option>

                                    <?php
                                    endforeach;
                                endif;
                                ?>

                            </select>
                        </div>

                        <div class="col-md-12 margin-top-20">
                            <label>Présence de "Pattern" (<b style="color: red !important;">A indiquer uniquement dans les cas de cartes de crédit. Ex: Visa UBA</b>)</label>
                            <div class="form-group">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" required name="kt-add_pattern" class="form-control" value="0" checked="checked" />Non
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" required name="kt-add_pattern" class="form-control" value="1" />Oui
                                        <span></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Confirmer&nbsp;<i class="fa fa-check"></i> </button>
                    <input type="hidden" id="hidden_add_id_devise" name="hidden_add_id_devise"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_update_settings_input" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" id="kt_update_settings_input_form">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier devise</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-0-auto kt-padding-t-15">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit"  class="btn btn-primary">Modifier&nbsp;<i class="flaticon-edit"></i> </button>
                    <input type="hidden" id="hidden_update_id_devise" name="hidden_update_id_devise"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="kt_modal_update_logo_devise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <form method="post" onsubmit="" id="kt_update_logo_devise_form" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-size-1_3" id="exampleModalLabel">Modifier le logo de la devise</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix margin-top-15" style="margin: 0 auto !important;" id="container_previous">
                        <input type="hidden" name="hidden_id_devise_for_logo_update" id="hidden_id_devise_for_logo_update"/>
                    </div>
                    <div class="col-md-12 margin-top-10 kt-padding-t-15 text-center" style="margin: 0 auto !important">
                        <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_user_avatar_3">
                            <div class="kt-avatar__holder"></div>
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change de logo">
                                <i class="fa fa-pen"></i>
                                <input type="file" required name="logo_devise" id="logo_devise">
                            </label>
                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                              <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" id="btn_disable_update_logo" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button"  id="btn_update_logo" class="btn btn-primary">Modifier&nbsp;<i class="flaticon-edit"></i> </button>
                    <input type="hidden" id="hidden_update_id_devise" name="hidden_update_id_devise"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end::Modal-->
